@import "../add-tax/add-tax.component.scss";

.two-column{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
  }

  .row{
    display: flex;
    overflow: hidden;    
    scroll-behavior: smooth;
  }