<div class="config-style">
    <h3 mat-dialog-title>Included Over Groups</h3>
    <div class="header">
        <button mat-flat-button (click)="getOverGroups()" class="filterButton table-btn" style="width:150px; float:right">Fetch Over Groups</button>
    </div>
    <br>
    <div>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Over Groups Mapping
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="overGroups?.length > 0">

                <ngx-datatable class="material" [rows]="overGroups" [columnMode]="'force'" [headerHeight]="50"
                    [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                    <ngx-datatable-column name="Over Group">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.overGroup">
                                {{row.overGroup}}</mat-checkbox>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Credit Account">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <input matInput placeholder="Credit Account" [(ngModel)]="row.inventoryAccount">
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column name="Debit Account">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <input matInput placeholder="Debit Account" [(ngModel)]="row.expensesAccount">
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Cost Center Code Mapping">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button mat-flat-button (click)="openCostCenterAccountCodeMapping(row)" class="filterButton saveButton">View</button>
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Item Groups Mapping
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="itemGroups?.length > 0">

                <ngx-datatable class="material" [rows]="itemGroups" [columnMode]="'force'" [headerHeight]="50"
                    [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                    <ngx-datatable-column name="Item Group">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.itemGroup">
                                {{row.itemGroup}}</mat-checkbox>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Credit Account">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <input matInput placeholder="Credit Account" [(ngModel)]="row.inventoryAccount">
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column name="Debit Account">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <input matInput placeholder="Debit Account" [(ngModel)]="row.expensesAccount">
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Items And Groups Mangment
                </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="main" *ngIf="mappedItems?.length > 0">
                <ngx-datatable class="material" [rows]="mappedItems" [columnMode]="'force'" [headerHeight]="50"
                    [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                    <ngx-datatable-column name="Item">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.item}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Item Group">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.itemGroup}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Major Group">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.majorGroup}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Over Group">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.overGroup}}
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>

        </mat-expansion-panel>

        <div class="card-back">
            <button mat-flat-button (click)="onSaveClick()" class="filterButton saveButton">Save</button>
            <button mat-flat-button (click)="mapItemGroups()" class="filterButton saveButton" style="width:150px;">Map Item Group</button>
        </div>
        <ngx-spinner></ngx-spinner>
    </div>
</div>