<div class="main" >
    <div class="header" style="margin-bottom: 15px;">
        <button mat-flat-button (click)="openCompanyDialog()">Add</button>
        <button mat-flat-button (click)="openCompanyDialog()" [disabled]="companiesList.selected.length > 1">Update</button>
        <button mat-flat-button (click)="deleteCompanies()" [disabled]="companiesList.selected.length == 0">Delete</button>
    </div>   

    <ngx-datatable class="material" [loadingIndicator]="companiesList.showLoading" [messages]="companiesList.messages" 
    [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
     [rows]="companiesList.companiesData" [selected]="companiesList.selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" 
    [displayCheck]="displayCheck" (select)='onSelect($event)' [scrollbarH]="true">

        <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
        <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
        <input class="regular-checkbox" type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
        </ng-template>

        <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
         <input class="regular-checkbox" type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
        </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a class="comany-name" (click)="openCompany(row)">{{row.name}}</a>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="State">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <label *ngIf="!row.deleted" class="active-state">active</label>
                <label *ngIf="row.deleted" class="deleted-state">deleted</label>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Creation Date">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.creationDate | date: 'dd/MM/yyyy hh:mm:ss' }}
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>

