<mat-toolbar class="example-toolbar" *ngIf="shouldRun">

    <button id="target" mat-icon-button (click)="snav.toggle()"><mat-icon  color="warn" >menu</mat-icon></button>
    <h1 class="example-app-name">Simphony Integration Platform</h1>

</mat-toolbar>

<div class="example-container" [class.example-is-mobile]="(mobileQuery.matches&&!shouldRun)  " [class.example-containerpc]="(!shouldRun)">


    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches&&shouldRun ? 0 : 0">

        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="64">

            <mat-nav-list> 

                <mat-expansion-panel [class.mat-elevation-z0]="true" dense  *ngIf="syncJobTypes.length > 0" [expanded]="true">
                    <mat-expansion-panel-header>
                        Sync Job Types
                    </mat-expansion-panel-header>
                    <mat-nav-list dense *ngFor="let type of syncJobTypes">
                        <a mat-list-item (click)="snav.toggle() " routerLink={{type.endPoint}}>{{type.name}}</a>
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel [class.mat-elevation-z0]="true" dense *ngIf="operationTypes.length > 0">
                    <mat-expansion-panel-header>
                        Operation Types
                    </mat-expansion-panel-header>
                    <mat-nav-list dense *ngFor="let operation of operationTypes">
                        <a mat-list-item (click)="snav.toggle()" routerLink={{operation.endPoint}}>{{operation.name}}</a>
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel [class.mat-elevation-z0]="true" dense *ngIf="syncJobTypes.length > 0">
                    <mat-expansion-panel-header>
                        Reports
                    </mat-expansion-panel-header>
                    <mat-nav-list dense>
                        <a mat-list-item (click)="snav.toggle()" routerLink="/operaBookingDashboard">Booking Reports</a>
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel [class.mat-elevation-z0]="true" dense *ngIf="applications.length > 0">
                    <mat-expansion-panel-header>
                        Applications
                    </mat-expansion-panel-header>
                    <mat-nav-list dense *ngFor="let application of applications">
                        <a mat-list-item (click)="snav.toggle()" routerLink={{application.endPoint}}>{{application.name}}</a>
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
                    <mat-expansion-panel-header> 
                        Settings
                    </mat-expansion-panel-header>
                    <mat-nav-list dense>
                        <div *ngIf="operationTypes.length > 0">
                            <a mat-list-item (click)="snav.toggle()" routerLink="/operationTypesConfiguration"
                                *ngIf="operationTypes.length > 0">Operation Types Configuration</a>
                        </div>

                        <div *ngIf="syncJobTypes.length > 0">
                            <a mat-list-item (click)="snav.toggle()" routerLink="/syncjobs" *ngIf="syncJobTypes.length > 0">Sync Types Configuration</a>
                            <a mat-list-item (click)="snav.toggle()" routerLink="/operationTypesConfiguration" *ngIf="operationTypes.length > 0">Operation Types Configuration</a>
                            <a mat-list-item (click)="snav.toggle()" routerLink="/costCenterAccountMapping">Cost Center Mapping</a>
                            <a mat-list-item (click)="snav.toggle()" routerLink="/suppliersMapping">Suppliers Mapping</a>
                            <a mat-list-item (click)="snav.toggle()" routerLink="/includedOverGroups">Included Over Groups</a>
                            <a mat-list-item (click)="snav.toggle()" routerLink="/operaReportMapTables">Opera Map Tables</a>
                        </div>

                        <a mat-list-item (click)="snav.toggle()" routerLink="/costCenterLocationMapping">Location Mapping</a>
                        <a mat-list-item (click)="snav.toggle()" routerLink="/simphonyDiscountMaping">Simphony Discount Mapping</a>

                        <a mat-list-item (click)="snav.toggle()" routerLink="/setting">General Settings</a>
                        <a mat-list-item (click)="snav.toggle()" routerLink="/users">Users</a>
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-list-item>
                    <a mat-list-item (click)="snav.toggle(); Logout()">Logout</a>
                </mat-list-item>

            </mat-nav-list>

        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>



<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->