<mat-toolbar  class="example-toolbar" *ngIf="shouldRun" >

  <button id="target" mat-icon-button (click)="snav.toggle()"><mat-icon  color="warn" >menu</mat-icon></button>
  <h1 class="example-app-name">Oracle Integration System {{selectedTab}}</h1>
</mat-toolbar>

<div class="example-container" [class.example-is-mobile]="(mobileQuery.matches&&!shouldRun)  "
     [class.example-containerpc]="(!shouldRun)"
     >


  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches&&shouldRun ? 0 : 0"
                         >

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="64"
                   >

      <mat-nav-list>
        <a mat-list-item  (click)="changeCurrentTab(' - Suppliers'); snav.toggle()" routerLink="/suppliers">Suppliers</a>
        <a mat-list-item  (click)="changeCurrentTab(' - Booked Transfer'); snav.toggle()" routerLink="/bookedTransfers">Booked Transfer</a>
        <a mat-list-item  (click)="changeCurrentTab(' - Approved Invoices'); snav.toggle()" routerLink="/approvedInvoices">Approved Invoices</a>
        <a mat-list-item  (click)="changeCurrentTab(' - Credit Note'); snav.toggle()" routerLink="/creditNote">Credit Note</a>


        <ul class="Settings">Settings
          <li><a mat-list-item  (click)="changeCurrentTab(' - Sync Jobs Configuration'); snav.toggle()" routerLink="/syncjobs">Sync Jobs Configuration</a></li>
          <li><a mat-list-item  (click)="changeCurrentTab(' - General Settings'); snav.toggle()" routerLink="/setting">General Settings</a></li>
          <li><a mat-list-item  (click)="changeCurrentTab(' - Users'); snav.toggle()" routerLink="/users">Users</a></li>
        </ul>

      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
<!--      <p *ngFor="let content of fillerContent">{{content}}</p>-->
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>



<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
