.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}
.example-is-mobile  {
  top: 0px !important;
}
.example-containerpc  {
  top: 0px !important;
}

.headerBack{
  float: right;
}

.example-is-mobile ,.example-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  position: fixed!important;
  background-color: #3F51B5;
  top:0 !important;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2!important;
  width: 100%;
}
.mat-icon.mat-warn {
  color: #ffffff;

}
h1.example-app-name {
  margin-left: 10px;
  color: whitesmoke!important;
}
@media (max-width: 599px)
{
.mat-toolbar-row, .mat-toolbar-single-row {
   height: 64px !important;
}
}
  .mat-sidenav{
  width: 20%;
    top: 0px!important;
  background-color: #fff;
  box-shadow: 6px 0 6px rgba(0,0,0,.1);
}
@media only screen and (max-width: 812px) {
  .mat-sidenav {
    width: 50%;
    top: 56px!important;
    background-color: #fff;
    box-shadow: 6px 0 6px rgba(0, 0, 0, .1);
  }
}
.example-sidenav-container {

  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  margin-top: 0px !important;
}

 .mat-list-item .mat-list-item-content .mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 12px;
  position: relative;
  height: inherit;
}


mat-expansion-panel-header{
  font-size: large;
}

