<h3 mat-dialog-title>Update POS Sales Configuartion</h3>


<div>
    <div *ngIf="!loading">

        <!-- Oracle Hospitality Configurations -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Oracle Hospitality Configurations
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="container" *ngIf="!loading">
                <form class="my-form">
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-select matInput id="timePeriod" name="timePeriod" placeholder="Business Dates" 
                            (selectionChange)="chooseTimePeriod()" [(ngModel)]="syncJobType.configuration.timePeriod">
                                <mat-option value="Most Recent">Most Recent</mat-option>
                                <mat-option value="Financial Week to Date">Financial Week to Date</mat-option>
                                <mat-option value="Past 7 Days">Past 7 Days</mat-option>
                                <mat-option value="Today">Today</mat-option>
                                <mat-option value="Yesterday">Yesterday</mat-option>
                                <mat-option value="Month to Date">Month to Date</mat-option>
                                <mat-option value="Last Month">Last Month</mat-option>
                                <mat-option value="Financial Period to Date">Financial Period to Date</mat-option>
                                <mat-option value="UserDefined">User-defined</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div *ngIf="userDefinedFlag">
                        <p>From</p>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Start Date" type="date" name="fromDate" id="fromDate" [(ngModel)]="syncJobType.configuration.fromDate">
                        </mat-form-field>
                
                        <p>To</p>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="End Date" type="date" name="toDate" id="toDate" [(ngModel)]="syncJobType.configuration.toDate">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-select matInput id="GrossDiscountSales" name="GrossDiscountSales" placeholder="Sync sales gross/gross less discount" 
                            [(ngModel)]="syncJobType.configuration.grossDiscountSales">
                                <mat-option value="Gross">Gross</mat-option>
                                <mat-option value="Gross Less Discount">Gross Less Discount</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
    
                </form>
            </div>

        </mat-expansion-panel>

        <!-- Cash Shortage/Surplus POS Configurations -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Cash Shortage/Surplus POS Configurations
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="container" *ngIf="!loading">
                <form class="my-form">
                    <div>
                        <mat-form-field class="example-full-width">
                            <input matInput id="cashShortagePOS" name="cashShortagePOS" placeholder="Cash Shortage POS Account" [(ngModel)]="syncJobType.configuration.cashShortagePOS">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <input matInput id="cashSurplusPOS" name="cashSurplusPOS" placeholder="Cash Surplus POS Account" [(ngModel)]="syncJobType.configuration.cashSurplusPOS">
                        </mat-form-field>
                    </div>

                </form>
            </div>

        </mat-expansion-panel>

        <!-- Revenue Configurations -->
        <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Revenue Configurations
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="container" *ngIf="!loading">
                <form class="my-form">
                    <div>
                        <mat-form-field class="example-full-width">
                            <input matInput id="revenue" name="revenue" placeholder="Revenue Account" [(ngModel)]="syncJobType.configuration.revenue">
                        </mat-form-field>
                    </div>
                </form>
            </div>

        </mat-expansion-panel> -->

        <!-- Infor Sun System Configurations -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Infor Sun System
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="container" *ngIf="!loading">
                <form class="my-form">
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-select matInput id="postingType" name="postingType" placeholder="Posting Type" [(ngModel)]="syncJobType.configuration.postingType">
                                <mat-option value="0">0</mat-option>
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width">
                            <input matInput id="businessUnit" name="businessUnit" placeholder="Business Unit" [(ngModel)]="syncJobType.configuration.businessUnit">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width">
                            <input matInput id="journalType" name="journalType" placeholder="Journal Type" [(ngModel)]="syncJobType.configuration.journalType">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <input matInput id="currencyCode" name="currencyCode" placeholder="Currency Code" [(ngModel)]="syncJobType.configuration.currencyCode">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width">
                            <input matInput id="suspenseAccount" name="suspenseAccount" placeholder="Suspense Account" [(ngModel)]="syncJobType.configuration.suspenseAccount">
                        </mat-form-field>
                    </div>

                </form>
            </div>

        </mat-expansion-panel>

        <!-- Loction Ledger Analysis Configurations -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Loction Ledger Analysis
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="container" *ngIf="!loading">
                <form class="my-form">

                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-select matInput id="locationAnalysis" name="locationAnalysis" placeholder="Location Ledger Analysis" [(ngModel)]="syncJobType.configuration.locationAnalysis">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                                <mat-option value="4">4</mat-option>
                                <mat-option value="5">5</mat-option>
                                <mat-option value="6">6</mat-option>
                                <mat-option value="7">7</mat-option>
                                <mat-option value="8">8</mat-option>
                                <mat-option value="9">9</mat-option>
                                <mat-option value="10">10</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </form>
            </div>

        </mat-expansion-panel>

        <!-- Analysis Configurations -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Analysis
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="main" *ngIf="!loading">
                <ngx-datatable class="material" [rows]="analysis" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sorts]="[]">

                    <ngx-datatable-column name="Analysis">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.number">Analysis {{row.number}}</mat-checkbox>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Code Element">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <input matInput placeholder="Code Element" [(ngModel)]="row.codeElement">
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>

        </mat-expansion-panel>

        <!-- Tenders Mapping -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Tenders Mapping
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="back" style="margin-bottom: 15px;">
                <button mat-flat-button (click)="openTenderDialog()">Add</button>
            </div>

            <div *ngIf="tenders?.length > 0 && !loading">

                <ngx-datatable class="material" [rows]="tenders" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" 
                [sorts]="[{prop: 'tender', dir: 'asc'}]">

                    <ngx-datatable-column name="Tender">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.tender">{{row.tender}}</mat-checkbox>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Account">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <input matInput placeholder="Account" [(ngModel)]="row.account">
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
        </mat-expansion-panel>

        <!-- Taxes Mapping -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Taxes Mapping
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="back" style="margin-bottom: 15px;">
                <button mat-flat-button (click)="openTaxDialog()">Add</button>
            </div>

            <div *ngIf="taxes?.length > 0 && !loading">

                <ngx-datatable class="material" [rows]="taxes" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" 
                [sorts]="[{prop: 'tax', dir: 'asc'}]">

                    <ngx-datatable-column name="tax">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.tax">{{row.tax}}</mat-checkbox>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Account">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <input matInput placeholder="Account" [(ngModel)]="row.account">
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Major Group Mapping
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="back" style="margin-bottom: 15px;">
                <button mat-flat-button (click)="openMajorGroupDialog()">Add</button>
            </div>

            <div *ngIf="majorGroups?.length > 0">

                <ngx-datatable class="material" [rows]="majorGroups" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" 
                [sorts]="[{prop: 'majorGroup', dir: 'asc'}]">

                    <ngx-datatable-column name="Major Group">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.majorGroup">{{row.majorGroup}}</mat-checkbox>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Account">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <input matInput placeholder="Account" [(ngModel)]="row.account">
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Discount Mapping
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="back" style="margin-bottom: 15px;">
                <button mat-flat-button (click)="openDiscountDialog()">Add</button>
            </div>

            <div *ngIf="discounts?.length > 0">

                <ngx-datatable class="material" [rows]="discounts" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
                 [sorts]="[{prop: 'discount', dir: 'asc'}]">

                    <ngx-datatable-column name="Discount">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.discount">{{row.discount}}</mat-checkbox>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Account">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <input matInput placeholder="Account" [(ngModel)]="row.account">
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Service Charge Mapping
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="back" style="margin-bottom: 15px;">
                <button mat-flat-button (click)="openServiceChargeDialog()">Add</button>
            </div>

            <div *ngIf="serviceCharges?.length > 0">

                <ngx-datatable class="material" [rows]="serviceCharges" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
                 [sorts]="[{prop: 'serviceCharge', dir: 'asc'}]">

                    <ngx-datatable-column name="Service Charge">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.serviceCharge">{{row.serviceCharge}}</mat-checkbox>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Account">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <input matInput placeholder="Account" [(ngModel)]="row.account">
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Revenu Centers Mapping
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="back" style="margin-bottom: 15px;">
                <button mat-flat-button (click)="openRevenueCenterDialog()">Add</button>
            </div>

            <div *ngIf="revenueCenters?.length > 0">

                <ngx-datatable class="material" [rows]="revenueCenters" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sorts]="[]">
                    <ngx-datatable-column name="Major Group">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.revenueCenter">{{row.revenueCenter}}</mat-checkbox>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </mat-expansion-panel>

        <br>
        <div class="card-back">
            <button mat-flat-button (click)="onSaveClick()">Save</button>
        </div>

    </div>
    <ngx-spinner></ngx-spinner>
</div>