<h3 mat-dialog-title>Update Zeal Payment Configuartion</h3>

<div>

    <div *ngIf="!loading && operationType">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Web Service Invoker Configurations
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-web-service-invoker-configuration [syncJobType]=operationType *ngIf="!loading"></app-web-service-invoker-configuration>

        </mat-expansion-panel>

        <br>
        
        <div class="card-back">
            <button mat-flat-button (click)="onSaveClick()">Save</button>
            <button mat-flat-button (click)="onCancelClick()">Cancel</button>
        </div>

    </div>

    <div *ngIf="!loading && !operationType">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Welcome</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Can't Configure your sync right now, Please try again after few minutes.
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <ngx-spinner></ngx-spinner>
</div>