.ngx-datatable.scroll-vertical {
    height: 100vh;
    width: 100%;
  }
  
  .main {
    text-align: center;
    padding: 4px 16px 4px 16px;
    height: 95vh;
  }
  
  .header {
    text-align: end;
    padding: 4px 16px 4px 16px;
    height: 5vh;
  }
  
  button {
    background-color: #1976d3;
  }

  .example-card {
    width: 50%;
    margin: auto;
    padding: 10px;
  }
  
  