<h3 mat-dialog-title>Update Approved Invoice Configuartion</h3>

<div class="back">
    <button mat-flat-button (click)="onSaveClick()">Save</button>
    <button mat-flat-button (click)="onCancelClick()">Cancel</button>
</div>
<br>

<div class="main">
    <ngx-datatable *ngIf="!loading" class="material" [rows]="costCenters" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true"  [sorts]="[{prop: 'cost_center', dir: 'asc'}]">

        <!-- <ngx-datatable-column name="Include">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <input type="checkbox" (click)="addRow(row)">
                </ng-template>
            </ngx-datatable-column> -->

        <ngx-datatable-column name="Cost Center">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.cost_center}}
            </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="Business Unit">
            <ng-template let-row="row" ngx-datatable-cell-template>

                <mat-form-field>
                    <mat-label>Business Unit</mat-label>
                    <!-- [disabled]="row.disabled"  -->
                    <input matInput #last [(ngModel)]="row.business_unit" >
                    </mat-form-field>

            </ng-template>
        </ngx-datatable-column>         
    </ngx-datatable>
    <ngx-spinner></ngx-spinner>
</div>

