<div class="config-style">
    <h3 mat-dialog-title>Update Cost of Goods Configuartion</h3>
    <div>
        <div *ngIf="!loading && syncJobType">
            <!-- Oracle Hospitality Configurations -->
            <mat-expansion-panel *ngIf="accountERD == 'ExportSun'">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Exported File
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-exported-file-configuration [syncJobType]=syncJobType></app-exported-file-configuration>
            </mat-expansion-panel>

            <!-- Oracle Hospitality Configurations -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Oracle Hospitality Configurations
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-cost-of-goods-ohra-config [syncJobType]=syncJobType></app-cost-of-goods-ohra-config>
            </mat-expansion-panel>

            <!-- Infor Sun System Configurations -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Infor Sun System
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-infor-system-configuration [syncJobType]=syncJobType></app-infor-system-configuration>
            </mat-expansion-panel>

            <!-- Loction Ledger Analysis Configurations -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Analysis Codes
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="container" *ngIf="!loading">
                    <form class="my-form">
                        <div>
                            <mat-form-field class="example-full-width">
                                <mat-select matInput id="locationAnalysisCode" name="locationAnalysisCode"
                                    placeholder="Location Analysis Code"
                                    [(ngModel)]="syncJobType.configuration.locationAnalysisCode">
                                    <mat-option [value]=code *ngFor="let code of analysisCodes">{{code}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-select matInput id="familyGroupAnalysisCode" name="familyGroupAnalysisCode"
                                    placeholder="Family Group Analysis Code"
                                    [(ngModel)]="syncJobType.configuration.familyGroupAnalysisCode">
                                    <mat-option [value]=code *ngFor="let code of analysisCodes">{{code}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                </div>
            </mat-expansion-panel>

            <!-- Analysis Configurations -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Analysis
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-analysis-configuration [analysis]=analysis></app-analysis-configuration>
            </mat-expansion-panel>

            <!-- Major Group Mapping -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Major Group Mapping
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="back" style="margin-bottom: 20px;">
                    <button mat-flat-button (click)="openMajorGroupDialog()" class="filterButton addButton">Add</button>
                </div>

                <div *ngIf="majorGroups?.length > 0">

                    <ngx-datatable class="material" [rows]="majorGroups" [columnMode]="'force'" [headerHeight]="50"
                        [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
                        [sortType]="'multi'">

                        <ngx-datatable-column name="Major Group">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.majorGroup">
                                    <input matInput placeholder="Account" [(ngModel)]="row.majorGroup"
                                        style="margin-left: 5px;">
                                </mat-checkbox>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Account">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <input matInput placeholder="Account" [(ngModel)]="row.account">
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Group Childs">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <button mat-flat-button (click)="viewMajorGroupChildsDialog(row)" class="filterButton table-btn">View</button>
                            </ng-template>
                        </ngx-datatable-column>

                    </ngx-datatable>
                </div>
            </mat-expansion-panel>

            <br>

            <div class="card-back">
                <button mat-flat-button (click)="onSaveClick()" class="filterButton saveButton">Save</button>
                <button mat-flat-button (click)="onCancelClick()" class="filterButton saveButton">Cancel</button>
            </div>

        </div>

        <div *ngIf="!loading && !syncJobType">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Welcome</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Can't Configure your sync right now, Please try again after few minutes.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <ngx-spinner></ngx-spinner>
    </div>

</div>