.ngx-datatable.scroll-vertical {
    // height: 100vh;
    width: 100%;
  }
  
  h3{
    background-color: #3F51B5!important;
    padding: 24px;
    font-weight: bolder;
  }
  
  
  .header {
    text-align: end;
    padding: 4px 16px 4px 16px;
    height: 5vh;
  }
  
  button {
    color: white;
    background-color: #3f51b5;
    margin-right: 10px
  }
  
  .header-btn {
    text-align: end;
    padding: 4px 16px 4px 16px;
    height: 5vh;
  }
  .example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  