@import "../../setting/pos-machine-mapping/pos-machine-mapping.component.scss";

.ngx-datatable.scroll-vertical {
  width: 100%;
}

h3 {
  background-color: #ffb560 !important;
  padding: 24px;
  font-weight: bolder;
}

.header {
  text-align: end;
  padding: 4px 16px 4px 16px;
  height: 5vh;
}


.example-container {
  height: 400px;
  overflow: auto;
}

