<h3 mat-dialog-title>Map Tables</h3>
<br>
<div>

    <!-- Cancel Reason -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Cancel Reason Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form class="my-form">
            <div>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Reason Id" name="typeId" [(ngModel)]="newCancelReason.typeId">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Reason" name="type" [(ngModel)]="newCancelReason.type">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Reason Description" name="typeDescription" [(ngModel)]="newCancelReason.typeDescription">
                </mat-form-field>
                <button mat-flat-button (click)="addCancelReason()">Add</button>
            </div>
        </form>

        <div *ngIf="cancelReasons?.length > 0">

            <ngx-datatable class="material" [rows]="cancelReasons" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Reason Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.reasonId">{{row.typeId}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Reason">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Reason" [(ngModel)]="row.type">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Reason Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Reason Description" [(ngModel)]="row.typeDescription">
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </mat-expansion-panel>

    <!-- Payment Types -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Payment Types Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>
        <form class="my-form">
            <div>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Id" name="ptypeId" [(ngModel)]="newPaymentType.typeId">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Payment Method" name="ptype" [(ngModel)]="newPaymentType.type">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Payment Description" name="ptypeDescription" [(ngModel)]="newPaymentType.typeDescription">
                </mat-form-field>
                <button mat-flat-button (click)="addPaymentType()">Add</button>
            </div>
        </form>

        <div *ngIf="paymentTypes?.length > 0">

            <ngx-datatable class="material" [rows]="paymentTypes" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Type Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.typeId">{{row.typeId}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Payment Method">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Payment Method" [(ngModel)]="row.type">
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Payment Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Payment Description" [(ngModel)]="row.typeDescription">
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </div>
    </mat-expansion-panel>

    
    <!-- Room Types -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Room Types Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form class="my-form">
            <div>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Id" name="rtypeId" [(ngModel)]="newRoomType.typeId">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type" name="rtype" [(ngModel)]="newRoomType.type">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Description" name="rtypeDescription" [(ngModel)]="newRoomType.typeDescription">
                </mat-form-field>
                <button mat-flat-button (click)="addRoomType()">Add</button>
            </div>
        </form>

        <div *ngIf="roomTypes?.length > 0">

            <ngx-datatable class="material" [rows]="roomTypes" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Type Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.typeId">{{row.typeId}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type" [(ngModel)]="row.type">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type Description" [(ngModel)]="row.typeDescription">
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </mat-expansion-panel>

    <!-- Nationalities -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Nationalities Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <form class="my-form">
            <div>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Id" name="ntypeId" [(ngModel)]="newNationalities.typeId">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type" name="ntype" [(ngModel)]="newNationalities.type">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Description" name="ntypeDescription" [(ngModel)]="newNationalities.typeDescription">
                </mat-form-field>
                <button mat-flat-button (click)="addNationality()">Add</button>
            </div>
        </form>

        <div *ngIf="nationalities?.length > 0">

            <ngx-datatable class="material" [rows]="nationalities" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Type Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.typeId">{{row.typeId}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type" [(ngModel)]="row.type">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type Description" [(ngModel)]="row.typeDescription">
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </mat-expansion-panel>

    <!-- Purpose of Visit -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Purpose of Visit Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form class="my-form">
            <div>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Id" name="vtypeId" [(ngModel)]="newPurposeOfVisit.typeId">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type" name="vtype" [(ngModel)]="newPurposeOfVisit.type">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Description" name="vtypeDescription" [(ngModel)]="newPurposeOfVisit.typeDescription">
                </mat-form-field>
                <button mat-flat-button (click)="addPurposeOfVisit()">Add</button>
            </div>
        </form>

        <div *ngIf="purposeOfVisit?.length > 0">

            <ngx-datatable class="material" [rows]="purposeOfVisit" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Type Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.typeId">{{row.typeId}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type" [(ngModel)]="row.type">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type Description" [(ngModel)]="row.typeDescription">
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </mat-expansion-panel>

    <!-- Genders -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Genders Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <form class="my-form">
            <div>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Id" name="gtypeId" [(ngModel)]="newGender.typeId">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type" name="gtype" [(ngModel)]="newGender.type">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Description" name="gtypeDescription" [(ngModel)]="newGender.typeDescription">
                </mat-form-field>
                <button mat-flat-button (click)="addGender()">Add</button>
            </div>
        </form>

        <div *ngIf="genders?.length > 0">

            <ngx-datatable class="material" [rows]="genders" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Type Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.typeId">{{row.typeId}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type" [(ngModel)]="row.type">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type Description" [(ngModel)]="row.typeDescription">
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </mat-expansion-panel>

    <!-- Customer Types -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Customer Types Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form class="my-form">
            <div>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Id" name="ctypeId" [(ngModel)]="newCustomerTypes.typeId">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type" name="ctype" [(ngModel)]="newCustomerTypes.type">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Description" name="ctypeDescription" [(ngModel)]="newCustomerTypes.typeDescription">
                </mat-form-field>
                <button mat-flat-button (click)="addCustomerType()">Add</button>
            </div>
        </form>

        <div *ngIf="customerTypes?.length > 0">

            <ngx-datatable class="material" [rows]="customerTypes" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Type Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.typeId">{{row.typeId}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type" [(ngModel)]="row.type">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type Description" [(ngModel)]="row.typeDescription">
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </mat-expansion-panel>

    <!-- Transaction Types -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Transaction Types Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form class="my-form">
            <div>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Id" name="ttypeId" [(ngModel)]="newTransactionTypes.typeId">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type" name="ttype" [(ngModel)]="newTransactionTypes.type">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Description" name="ttypeDescription" [(ngModel)]="newTransactionTypes.typeDescription">
                </mat-form-field>
                <button mat-flat-button (click)="addTransactionType()">Add</button>
            </div>
        </form>

        <div *ngIf="transactionTypes?.length > 0">

            <ngx-datatable class="material" [rows]="transactionTypes" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Type Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.typeId">{{row.typeId}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type" [(ngModel)]="row.type">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type Description" [(ngModel)]="row.typeDescription">
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </mat-expansion-panel>

    <!-- Expense Types -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Expense Types Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form class="my-form">
            <div>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Id" name="etypeId" [(ngModel)]="newExpenseType.typeId">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type" name="etype" [(ngModel)]="newExpenseType.type">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Description" name="etypeDescription" [(ngModel)]="newExpenseType.typeDescription">
                </mat-form-field>
                <button mat-flat-button (click)="addExpenseType()">Add</button>
            </div>
        </form>

        <div *ngIf="expenseTypes?.length > 0">

            <ngx-datatable class="material" [rows]="expenseTypes" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Expense Type Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.typeId">{{row.typeId}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Expense Type">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Expense Type" [(ngModel)]="row.type">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Expense Type Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Expense Type Description" [(ngModel)]="row.typeDescription">
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </mat-expansion-panel>


    <!-- Rate Code -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Rate Code Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form class="my-form">
            <div>
                <mat-form-field class="example-full-width">
                    <input matInput type="number" step="0.1" style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="VAT Rate eg. 5" name="vatRate" [(ngModel)]="newRateCode.vatRate">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput type="number" step="0.1" style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Municipality Rate eg. 7" name="municipalityTaxRate" [(ngModel)]="newRateCode.municipalityTaxRate">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput type="number" step="0.1" style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Service Charge Rate eg. 10" name="serviceChargeRate" [(ngModel)]="newRateCode.serviceChargeRate">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput type="number" step="0.1" style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Basic Package Value" name="basicPackageValue" [(ngModel)]="newRateCode.basicPackageValue">
                </mat-form-field>
                <button mat-flat-button (click)="addRateCode()">Add</button>
            </div>
        </form>

        <div *ngIf="rateCodes?.length > 0">

            <ngx-datatable class="material" [rows]="rateCodes" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Rate Code">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="eg. BARRO" [(ngModel)]="row.code">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="VAT Rate">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="eg. 5" [(ngModel)]="row.vatRate">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Municipality Tax Rate">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="eg. 7" [(ngModel)]="row.municipalityTaxRate">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Service Charge Rate">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="eg. 10" [(ngModel)]="row.serviceChargeRate">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Basic Package Value">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="eg. 20" [(ngModel)]="row.basicPackageValue">
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </mat-expansion-panel>

    <br>

    <div class="card-back">
        <button mat-flat-button (click)="onSaveClick()">Save</button>
    </div>
    <ngx-spinner></ngx-spinner>
</div>