<h3 mat-dialog-title>Map Tables</h3>
<br>
<div>

    <!-- Cancel Reason -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Cancel Reason Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngIf="!loading" class="back" style="margin-bottom: 15px;">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Reason Id" [(ngModel)]="newCancelReason.typeId">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Reason" [(ngModel)]="newCancelReason.type">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Reason Description" [(ngModel)]="newCancelReason.typeDescription">
            <button mat-flat-button (click)="add()">Add</button>
        </div>

        <div *ngIf="cancelReasons?.length > 0">

            <ngx-datatable class="material" [rows]="cancelReasons" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Reason Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.reasonId">{{row.typeId}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Reason">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Reason" [(ngModel)]="row.type">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Reason Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Reason Description" [(ngModel)]="row.typeDescription">
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </mat-expansion-panel>

    <!-- Payment Types -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Payment Types Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngIf="!loading" class="back" style="margin-bottom: 15px;">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Id" [(ngModel)]="newPaymentType.typeId">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Payment Method" [(ngModel)]="newPaymentType.type">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Payment Description" [(ngModel)]="newPaymentType.typeDescription">

            <button mat-flat-button (click)="add()">Add</button>
        </div>

        <div *ngIf="paymentTypes?.length > 0">

            <ngx-datatable class="material" [rows]="paymentTypes" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Type Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.typeId">{{row.typeId}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Payment Method">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Payment Method" [(ngModel)]="row.type">
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Payment Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Payment Description" [(ngModel)]="row.typeDescription">
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </div>
    </mat-expansion-panel>

    <!-- Room Types -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Room Types Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngIf="!loading" class="back" style="margin-bottom: 15px;">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Id" [(ngModel)]="newRoomType.typeId">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type" [(ngModel)]="newRoomType.type">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Description" [(ngModel)]="newRoomType.typeDescription">
            <button mat-flat-button (click)="add()">Add</button>
        </div>

        <div *ngIf="roomTypes?.length > 0">

            <ngx-datatable class="material" [rows]="roomTypes" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Type Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.typeId">{{row.typeId}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type" [(ngModel)]="row.type">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type Description" [(ngModel)]="row.typeDescription">
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </mat-expansion-panel>

    <!-- Nationalities -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Nationalities Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngIf="!loading" class="back" style="margin-bottom: 15px;">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Id" [(ngModel)]="newNationalities.typeId">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type" [(ngModel)]="newNationalities.type">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Description" [(ngModel)]="newNationalities.typeDescription">
            <button mat-flat-button (click)="add()">Add</button>
        </div>

        <div *ngIf="nationalities?.length > 0">

            <ngx-datatable class="material" [rows]="nationalities" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Type Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.typeId">{{row.typeId}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type" [(ngModel)]="row.type">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type Description" [(ngModel)]="row.typeDescription">
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </mat-expansion-panel>

    <!-- Purpose of Visit -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Purpose of Visit Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngIf="!loading" class="back" style="margin-bottom: 15px;">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Id" [(ngModel)]="newPurposeOfVisit.typeId">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type" [(ngModel)]="newPurposeOfVisit.type">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Description" [(ngModel)]="newPurposeOfVisit.typeDescription">
            <button mat-flat-button (click)="add()">Add</button>
        </div>

        <div *ngIf="purposeOfVisit?.length > 0">

            <ngx-datatable class="material" [rows]="purposeOfVisit" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Type Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.typeId">{{row.typeId}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type" [(ngModel)]="row.type">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type Description" [(ngModel)]="row.typeDescription">
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </mat-expansion-panel>

    <!-- Genders -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Genders Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngIf="!loading" class="back" style="margin-bottom: 15px;">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Id" [(ngModel)]="newGender.typeId">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type" [(ngModel)]="newGender.type">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Description" [(ngModel)]="newGender.typeDescription">
            <button mat-flat-button (click)="add()">Add</button>
        </div>

        <div *ngIf="genders?.length > 0">

            <ngx-datatable class="material" [rows]="genders" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Type Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.typeId">{{row.typeId}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type" [(ngModel)]="row.type">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type Description" [(ngModel)]="row.typeDescription">
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </mat-expansion-panel>

    <!-- Customer Types -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Customer Types Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngIf="!loading" class="back" style="margin-bottom: 15px;">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Id" [(ngModel)]="newCustomerTypes.typeId">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type" [(ngModel)]="newCustomerTypes.type">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Description" [(ngModel)]="newCustomerTypes.typeDescription">
            <button mat-flat-button (click)="add()">Add</button>
        </div>

        <div *ngIf="customerTypes?.length > 0">

            <ngx-datatable class="material" [rows]="customerTypes" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Type Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.typeId">{{row.typeId}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type" [(ngModel)]="row.type">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type Description" [(ngModel)]="row.typeDescription">
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </mat-expansion-panel>

    <!-- Transaction Types -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Transaction Types Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngIf="!loading" class="back" style="margin-bottom: 15px;">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Id" [(ngModel)]="newTransactionTypes.typeId">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type" [(ngModel)]="newTransactionTypes.type">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Description" [(ngModel)]="newTransactionTypes.typeDescription">
            <button mat-flat-button (click)="add()">Add</button>
        </div>

        <div *ngIf="transactionTypes?.length > 0">

            <ngx-datatable class="material" [rows]="transactionTypes" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Type Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.typeId">{{row.typeId}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type" [(ngModel)]="row.type">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Type Description" [(ngModel)]="row.typeDescription">
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </mat-expansion-panel>

    <!-- Expense Types -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Expense Types Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngIf="!loading" class="back" style="margin-bottom: 15px;">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Id" [(ngModel)]="newExpenseType.typeId">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type" [(ngModel)]="newExpenseType.type">
            <input matInput style="margin-right: 10px;padding-top: 8px;padding-bottom: 8px;" placeholder="Type Description" [(ngModel)]="newExpenseType.typeDescription">
            <button mat-flat-button (click)="add()">Add</button>
        </div>

        <div *ngIf="expenseTypes?.length > 0">

            <ngx-datatable class="material" [rows]="expenseTypes" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="Expense Type Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.typeId">{{row.typeId}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Expense Type">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Expense Type" [(ngModel)]="row.type">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Expense Type Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput placeholder="Expense Type Description" [(ngModel)]="row.typeDescription">
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </mat-expansion-panel>

    <br>

    <div class="card-back">
        <button mat-flat-button (click)="onSaveClick()">Save</button>
    </div>
    <ngx-spinner></ngx-spinner>
</div>