<div class="sync-body">
    <h3>Aggregator Mapping</h3>
    <mat-tab-group>
        <!-- *ngIf="hasRole('show_groups')" -->
        <mat-tab label="Mapped Products">
            <app-talabat-mapping></app-talabat-mapping>
        </mat-tab>
        <mat-tab label="Unmapped Products">
            <app-talabat-unmapped-products></app-talabat-unmapped-products>
        </mat-tab>
        <mat-tab label="Needs Attention">
            <app-products-needs-attention></app-products-needs-attention>
        </mat-tab>
        <mat-tab label="Branches">
            <app-aggregator-branches-mapping></app-aggregator-branches-mapping>
        </mat-tab>
        <mat-tab label="Foodics Products">
            <app-aggregator-foodics-products></app-aggregator-foodics-products>
        </mat-tab>
    </mat-tab-group>
</div>