<h1 mat-dialog-title>New Account</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="my-form">
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Account Name" formControlName="name">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Account Domain" formControlName="domain">
            </mat-form-field>
        </div>

        <span>Location Quota</span>

        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Location Quota" formControlName="locationQuota">
            </mat-form-field>
        </div>

        <span>Account ERD</span>

        <div class="form-group">
            <mat-form-field class="example-full-width">
                <mat-select matInput id="erd" name="erd" placeholder="ERD" 
                formControlName="erd" (selectionChange)="chooseERD()" >
                    <mat-option value="Fusion">FUSION</mat-option>
                    <mat-option value="Sun">Infor Sun System</mat-option>
                    <mat-option value="ExportSun">Export Infor Sun System</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <span class="erdTitle">Oracle Inventory Credentials </span>

        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Oracle Inventory username" formControlName="usernameOHIM">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Oracle Inventory password" formControlName="passwordOHIM">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Oracle Inventory company" formControlName="companyOHIM">
            </mat-form-field>
        </div>

        <span class="erdTitle">Oracle Reports Credentials </span>

        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Oracle Reports username" formControlName="usernameOHRA">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Oracle Reports password" formControlName="passwordOHRA">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Oracle Reports company" formControlName="companyOHRA">
            </mat-form-field>
        </div>

        <span class="erdTitle" *ngIf="ERD=='Fusion'">Fusion Credentials </span>

        <div class="form-group" *ngIf="ERD=='Fusion'">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Fusion username" formControlName="usernameFusion">
            </mat-form-field>
        </div>
        <div class="form-group" *ngIf="ERD=='Fusion'">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Fusion password" formControlName="passwordFusion">
            </mat-form-field>
        </div>

        
        <span class="erdTitle" *ngIf="ERD=='ExportSun' || ERD=='Sun'">Sun Credentials </span>

        <div class="form-group"  *ngIf="ERD=='ExportSun' || ERD=='Sun'">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Sun username" formControlName="usernameSun">
            </mat-form-field>
        </div>
        <div class="form-group"  *ngIf="ERD=='ExportSun' || ERD=='Sun'">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Sun password" formControlName="passwordSun">
            </mat-form-field>
        </div>
        <div class="form-group"  *ngIf="ERD=='ExportSun' || ERD=='Sun'">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Sun host" formControlName="hostSun">
            </mat-form-field>
        </div>
        <div class="form-group"  *ngIf="ERD=='ExportSun' || ERD=='Sun'">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Sun port" formControlName="portSun">
            </mat-form-field>
        </div>

    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="onSaveClick()">Save</button>
</div>