@import "../approved-invoices-infor/approved-invoices-infor.component.scss";

.example-icon {
    padding: 0 14px;
}

.example-spacer {
flex: 1 1 auto;
}


mat-tab-group {
padding-top: 70px;
}

::ng-deep .mat-tab-label{
    color: #ff6c00 !important;
    font-weight: bolder !important;

    &:hover{
        background-color: #d8d8d8 !important;
    }

}
::ng-deep .mat-tab-label-active {
    background-color: #d8d8d8 !important;
}

