<div class="filter-container" *ngIf="transactionList.transactionData.length != 0">
    <div class="filter-title">
        <span style="display: inline-block; font-size: 20px; font-weight: bold; color: black;">Guest Cards</span>
    </div>
    <div class="filter-buttons">
        <div class="five-column" >
            <!-- <mat-form-field class="example-full-width">
                <mat-select matInput id="groups" name="groups" placeholder="Parent Group" >
                    <mat-option>Ahmed</mat-option>
                     <mat-option [value]=c *ngFor="let c of groups">{{c.name}}</mat-option> formControlName="parentGroup"
                </mat-select>
            </mat-form-field> -->
            <select class="custom-select">
                <option value="" selected style="display:none">Revenue Center</option>
                <option value=""></option>
                <option >Nisantasi</option>
                <option >Hardees</option>
                <option >Mcdonald's</option>

                     <!-- {{job.creationDate}} - {{job.status}}</option> [ngValue]="job" *ngFor="let job of jobs" (change)="getSyncJobData()" [(ngModel)]="selectedJob"  -->
            </select>
        </div>
        <div class="five-column" >
            <select class="custom-select" >
                <option value="" selected style="display:none">Guest Name</option>
                <option value=""></option>
                <option >Ahmed</option>
                <option >Othman</option>
                <option >Mona</option>
                     <!-- {{job.creationDate}} - {{job.status}}</option> [ngValue]="job" *ngFor="let job of jobs" (change)="getSyncJobData()" [(ngModel)]="selectedJob"  -->
            </select>
        </div>
        <div class="five-column" >
            <select class="custom-select" (change)="filterByGuestName()" [(ngModel)]="selectedGuest">
                <option value="" selected style="display:none">Card Number</option>
                <option value=""></option>
                <option >012568954</option>
                <option >544311545</option>
                <option >823235455</option>
                     <!-- {{job.creationDate}} - {{job.status}}</option> [ngValue]="job" *ngFor="let job of jobs" (change)="getSyncJobData()" [(ngModel)]="selectedJob"  -->
            </select>
        </div>
        <div class="five-column" >
            <select class="custom-select" (change)="filterByGuestName()" [(ngModel)]="selectedGuest">
                <option value="" selected style="display:none">Card Statues</option>
                <option value=""></option>
                <option value= "active">Active</option>
                <option >Deleted</option>
                <option >Blocked</option>
                <option value= "expired">Expired</option>

                     <!-- {{job.creationDate}} - {{job.status}}</option> [ngValue]="job" *ngFor="let job of jobs" (change)="getSyncJobData()" [(ngModel)]="selectedJob"  -->
            </select>
        </div>
        <div class="five-column" >
            <input matInput placeholder="Search Key Word...">
            <!-- <option value="" disabled selected>Guest Name</option>
                <option >Ahmed</option>
                     {{job.creationDate}} - {{job.status}}</option> [ngValue]="job" *ngFor="let job of jobs" (change)="getSyncJobData()" [(ngModel)]="selectedJob"  
            </select> -->
        </div>
    </div>
    <div class="filter-view" *ngIf="guestNames.length">

        <div class="filter-item" [ngStyle]="props" *ngFor="let name of guestNames">
            <!-- <span matBadge="5" matBadgeOverlap="false">Text with a badge</span> -->
            {{name}}
            </div>

    </div>
</div>


<div class="main">

    <div *ngIf="transactionList.transactionData.length == 0"> 
        <mat-card class="transaction-card">
            <mat-card-content>
                <div>
                    <img src="../../../assets/activity.png" alt="image">
                    <p>You do not have any recent activity.</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div *ngIf="transactionList.transactionData.length != 0">
        <ngx-datatable class="material" [loadingIndicator]="transactionList.showLoading" [messages]="transactionList.messages" style="width: 98%"
         [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
        [rows]="usersList.usersData" [selected]="transactionList.selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" [scrollbarH]="true">

        <ngx-datatable-column name="Card Number">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div style="float: left;"><img class="profile-img" src="../../../assets/profile.png"  alt="image"> </div>
                <div style="float: left; color: black; margin-top: 3px; margin-left: 5px;">1256420369</div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="User Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.name}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Mobile Number">
            <ng-template let-row="row" ngx-datatable-cell-template>
                +02011117080233    
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Guest Number">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <label *ngIf="!row.deleted">2</label>
                <label *ngIf="row.deleted" >4</label>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Palance">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <label *ngIf="!row.deleted">20 USD</label>
                <label *ngIf="row.deleted">40 USD</label>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Expired In">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <label *ngIf="!row.deleted" >3 h</label>
                <label *ngIf="row.deleted" >0 h</label>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="State">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <label *ngIf="!row.deleted" class="active-state">active</label>
                <label *ngIf="row.deleted" class="deleted-state">Deleted</label>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Last Update">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.creationDate | date: 'dd/MM/yyyy HH:mm:ss' }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name=" ">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button class="menue-btn" mat-button [matMenuTriggerFor]="menu">. . . </button>
                <mat-menu  #menu="matMenu">
                  <button class="menue-btn-choi" mat-menu-item>Block</button>
                  <button class="menue-btn-choi" mat-menu-item>Delete</button>
                  <button class="menue-btn-choi" mat-menu-item>Preview</button>
                </mat-menu>
            </ng-template>
        </ngx-datatable-column>

        </ngx-datatable>
    </div>

</div>
<ngx-spinner></ngx-spinner>