<h3>Simphony Voucher Transaction</h3>
<div>
    <div class="row">

        <div class="column">
            <mat-card class="stat-card">
                <mat-card-content>
                    <h2 class="cardHeader">Total Transactions Amount</h2>
                    <p class="cardText">{{totalTransactionAmount | number:'1.0-2'}} USD</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="column">
            <mat-card class="stat-card">
                <mat-card-content>
                    <h2 class="cardHeader">No. of Success Transactions</h2>
                    <p class="cardText"> {{succeedTransactionCount}}
                        <span class="menu-icon">
                            <i class="mdi mdi-checkbox-multiple-marked-circle checkboxIcon"></i>
                        </span>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="column">
            <mat-card class="stat-card">
                <mat-card-content>
                    <h2 class="cardHeader">No. of Failed Transactions</h2>
                    <p class="cardText"> {{failedTransactionCount}}
                        <span class="menu-icon">
                            <i class="mdi mdi-message-alert alertboxIcon"></i>
                        </span>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div *ngIf="!transactionList.transactionData.length">
        <mat-card class="example-card">
            <h2 class="cardHeader">No Data</h2>
            <mat-card-content>
                <p class="card-text">There was no new transactions.</p>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="main" *ngIf="transactionList.transactionData.length">
        <ngx-datatable class="material" [rows]="transactionList.transactionData" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sorts]="[{prop: 'creationDate', dir: 'desc'}, {prop: 'creationDate', dir: 'desc'}
                , {prop: 'amount', dir: 'desc'}]">

                            
                <ngx-datatable-column name="Check Status">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.status}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="RevenueCenter Name">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.revenueCentreName}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Check Number">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.checkNumber}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Total Amount" [width]="90">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.totalAmount}} {{getCurrency()}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Discount Rate" [width]="90" *ngIf="hasRole('show_discount')">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.discountRate | number : '1.2-2'}} %
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="After Discount" [width]="90" *ngIf="hasRole('show_discount')">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.afterDiscount | number : '1.2-2'}} {{getCurrency()}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Creation Time">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.transactionDate}}
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-selectedCount="selectedCount"
                    let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
    
                    <div class="page-count">
                        Showing {{transactionList.transactionData.length}} of  {{transactionList.transactionCount}}
                    </div>
    
                    <select (change)="onLimitChange($event.target.value)" style="width: 50px;position: inherit;">
                        <option *ngFor="let option of transactionList.pagesFilter"
                            [value]="option">{{ option }}
                        </option>
                    </select>

                    <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
                        [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="transactionList.pageNumber"
                        [size]="transactionList.limit" [count]="transactionList.transactionCount" 
                        (change)="changePage($event)">    
                    </datatable-pager>
                    </ng-template>
                </ngx-datatable-footer>

        </ngx-datatable>
    </div>
</div>
<ngx-spinner></ngx-spinner>