<div class="sync-body">
    <h3>Credit Notes</h3>

    <div class="header">
        <span class="history"> Sync Job History </span>

        <mat-form-field appearance="outline">
            <mat-select required class="form-controls" id="sync" placeholder="Sync Job"
            (ngModelChange)="getSyncJobData()" [(ngModel)]="selectedJob">
                <mat-option></mat-option>
                <mat-option [value]="job" *ngFor="let job of jobs">{{job.creationDate | date:'dd-MM-yyyy H:MM:SS'}} -
                    {{job.status}}
                    <p *ngIf="job.rowsFetched == 0 &&  job.status != 'Running'">- No new data fetched.</p>
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-flat-button class="filterButton" (click)="getCreditNoteSyncJob()" [disabled]="staticgetCreditNoteLoading">Sync Credit Notes</button>
        <button mat-flat-button class="filterButton" (click)="generateSingleFile()" [disabled]="jobs.length == 0">Generate Single File</button>
        <button mat-flat-button class="filterButton" (click)="exportToCSV()" [disabled]="jobs.length == 0">Export to CSV</button> 
    </div>
    <br>
    <div id="myProgress">
        <mat-progress-bar mode="indeterminate" *ngIf="staticgetCreditNoteLoading"></mat-progress-bar>
    </div>
    <br>
    <div *ngIf="selectedJob">
        <mat-card class="example-card">
            <h2 class="cardHeader">Sync Details</h2>
            <mat-card-content>
                <mat-list-item>
                    <span class="key">Sync Number: </span>
                    <span class="value" *ngIf="selectedJob.id">{{selectedJob.id}}</span>
                    <span class="value" *ngIf="!selectedJob.id">No Info</span>
                </mat-list-item>
                <mat-list-item>
                    <span class="key">Sync status: </span>
                    <span class="value" *ngIf="selectedJob.status">{{selectedJob.status}}</span>
                    <span class="value" *ngIf="!selectedJob.status">No Info</span>
                </mat-list-item>
                <mat-list-item>
                    <span class="key">Start Date: </span>
                    <span class="value" *ngIf="selectedJob.creationDate">{{selectedJob.creationDate | date:'dd-MM-yyyy H:MM:SS'}}</span>
                    <span class="value" *ngIf="!selectedJob.creationDate">No Info</span>
                </mat-list-item>
                <mat-list-item>
                    <span class="key">End Date: </span>
                    <span class="value" *ngIf="selectedJob.endDate">{{selectedJob.endDate | date:'dd-MM-yyyy H:MM:SS'}}</span>
                    <span class="value" *ngIf="!selectedJob.endDate">No Info</span>
                </mat-list-item>
                <mat-list-item>
                    <span class="key">Reason: </span>
                    <span class="value" *ngIf="selectedJob.reason">{{selectedJob.reason}}</span>
                    <span class="value" *ngIf="!selectedJob.reason">No Info</span>
                </mat-list-item>
                <mat-list-item *ngIf="!creditNote.length">
                    <span>
                    There was no new data to sync in this job, You can sync credit notes now from
                    <a (click)="getCreditNoteSyncJob()">here</a>
                </span>
                </mat-list-item>
            </mat-card-content>
        </mat-card>
    </div>
    <br>
    <div>
        <div *ngIf="!selectedJob">
            <mat-card class="example-card">
                <h2 class="cardHeader">No Data</h2>
                <mat-card-content>
                    <p style="padding:20px;">
                        There was no new data to sync in this job, You can sync credit notes now from
                        <a (click)="getCreditNoteSyncJob()">here</a>
                    </p>

                </mat-card-content>
            </mat-card>
        </div>

        <div class="main" *ngIf="creditNote.length">
            <ngx-datatable *ngIf="!loading" class="material" [rows]="creditNote" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">


                <ngx-datatable-column name="Status">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.status}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Reason">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.reason}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.description}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Inventory Account">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.inventoryAccount}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Expenses Account">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.expensesAccount}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Invoice Date">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.transactionDate}}
                    </ng-template>
                </ngx-datatable-column>
                
                <ngx-datatable-column name="Gross">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.totalCr}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Invoice No">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.invoiceNo}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Supplier">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.fromCostCenter}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Supplier Code">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.fromAccountCode}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Cost Center">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.toCostCenter}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Account Code">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.toAccountCode}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="status">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.status}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Invoice Date">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.invoiceDate}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="T1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.analysisCodeT1}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="T2">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.analysisCodeT2}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="T3">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.analysisCodeT3}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="T4">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.analysisCodeT4}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="T5">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.analysisCodeT5}}
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </div>
        <ngx-spinner></ngx-spinner>
    </div>
</div>