<h3 mat-dialog-title>Oracle Reporting and Analytics Locations</h3>


<div>
    <!-- Oracle Cost Centers -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Included Oracle Reporting and Analytics Locations
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="back" style="margin-bottom: 15px;">
            <button mat-flat-button (click)="openLocationDialog()">Add</button>
        </div>        

        <div *ngIf="!loading">
                <div class="main" *ngIf="costCenters.length > 0">
                    <ngx-datatable *ngIf="!loading" class="material" [rows]="costCenters" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sorts]="[{prop: 'costCenter', dir: 'asc'}]">
                        
                        <ngx-datatable-column name="">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <mat-checkbox class="example-margin" [(ngModel)]="row.checked"></mat-checkbox>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Location">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <input matInput placeholder="Location" [(ngModel)]="row.locationName">
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Account Code">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <input matInput placeholder="Account Code" [(ngModel)]="row.accountCode">
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Reference">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <input matInput placeholder="Reference" [(ngModel)]="row.costCenterReference">
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel >
        <mat-expansion-panel-header>
        <mat-panel-title>
            Simphony Locations
        </mat-panel-title>
        </mat-expansion-panel-header>
        <app-simphony-location-configuration [locations]=simphonyLocations *ngIf="!loading"></app-simphony-location-configuration>
    </mat-expansion-panel>

    <br>

    <div class="card-back">
        <button mat-flat-button (click)="onSaveClick()">Save</button>
    </div>
    <ngx-spinner></ngx-spinner>
</div>