<h3>Supplier Details</h3>

<div *ngIf="!supplier.length">
    <br>
    <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>No Data</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                    There was no details in this Supplier. 
                <a  (click)="back()">back</a>
              </p>
              
            </mat-card-content>
    </mat-card>
    </div>
    
<div>

<div class="main" *ngIf="supplier.length">

    <div class="header">
        <button mat-flat-button (click)="back()">Back</button>
    </div>
    <br>  
<ngx-datatable *ngIf="!loading" class="material" [rows]="supplier" [columnMode]="'force'" [headerHeight]="50"
    [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true"  [sorts]="[{prop: 'status', dir: 'asc'}]">

    <ngx-datatable-column name="Customer Number">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.customerNumber}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Phone Number">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.phoneNumber}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Email">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.email}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Address">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.address}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Line1">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.line1}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Line2">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.line2}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Line3">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.line3}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Fax Country Code">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.faxCountryCode}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Fax Area Code">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.faxAreaCode}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Fax Number">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.faxNumber}}
            </ng-template>
        </ngx-datatable-column>

</ngx-datatable>

</div>
<ngx-spinner></ngx-spinner>
</div>
