<h3>Supplier Details</h3>
    
<div>

<div class="main" >

    <div class="header">
        <button mat-flat-button (click)="back()">Back</button>
    </div>
<br> 


<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Supplier Info</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item >
                <span class="key">Customer Number: </span>
                <li class="value" *ngIf="supplier.customerNumber">{{supplier.customerNumber}}</li>
                <li class="value" *ngIf="!supplier.customerNumber">No Info</li>
            </mat-list-item>
            <mat-list-item >
                <span class="key">Phone Number: </span>
                <li class="value" *ngIf="supplier.phoneNumber">{{supplier.phoneNumber}}</li>
                <li class="value" *ngIf="!supplier.phoneNumber">No Info</li>
            </mat-list-item>
            <mat-list-item >
                <span class="key">Email: </span>
                <li class="value" *ngIf="supplier.email">{{supplier.email}}</li>
                <li class="value" *ngIf="!supplier.email">No Info</li>
            </mat-list-item>
            <mat-list-item >
                <span class="key">Address: </span>
                <li class="value" *ngIf="supplier.address">{{supplier.address}}</li>
                <li class="value" *ngIf="!supplier.address">No Info</li>
            </mat-list-item>
            <mat-list-item >
                <span class="key">Line 1: </span>
                <li class="value" *ngIf="supplier.line1">{{supplier.line1}}</li>
                <li class="value" *ngIf="!supplier.line1">No Info</li>
            </mat-list-item>
            <mat-list-item >
                <span class="key">Line 2: </span>
                <li class="value" *ngIf="supplier.line2">{{supplier.line2}}</li>
                <li class="value" *ngIf="!supplier.line2">No Info</li>
            </mat-list-item>
            <mat-list-item >
                <span class="key">Payment Terms: </span>
                <li class="value" *ngIf="supplier.line2">{{supplier.paymentTerms}}</li>
                <li class="value" *ngIf="!supplier.line2">No Info</li>
            </mat-list-item>
            <mat-list-item >
                <span class="key">Fax Number: </span>
                <li class="value" *ngIf="supplier.faxNumber">{{supplier.faxNumber}}</li>
                <li class="value" *ngIf="!supplier.faxNumber">No Info</li>
            </mat-list-item>      
        </mat-list>
        
        
    </mat-card-content>
</mat-card>

</div>
<ngx-spinner></ngx-spinner>
</div>
