
<h3>Zeal Voucher</h3>

<div class="header">
    <span class="history"> Operation History </span>
    
    <select class="custom-select" (change)="getSyncJobData()" [(ngModel)]="selectedJob">
        <option [ngValue]="job" *ngFor="let job of jobs">
            {{job.creationDate}} - {{job.status}}</option>
    </select>
</div>

<!--
<div class="header">
    <span class="history"> Operation History .</span>

    <select class="custom-select" (change)="getSyncJobData()" [(ngModel)]="selectedJob">
        <option [ngValue]="op" *ngFor="let op of operations">
            {{op.creationDate}} - {{op.status}}</option>
    </select>
</div>
-->

<br>
<div id="myProgress">
    <mat-progress-bar mode="indeterminate" *ngIf="staticgetMenuItemsLoading"></mat-progress-bar>
</div>

<br>

<div *ngIf="selectedJob">
    <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="title">Operation Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list-item>
                    <span class="key">Operation Number: </span>
                    <span class="value" *ngIf="selectedJob.id">{{selectedJob.id}}</span>
                    <span class="value" *ngIf="!selectedJob.id">No Info</span>
                </mat-list-item>
                <mat-list-item>
                    <span class="key">Operation status: </span>
                    <span class="value" *ngIf="selectedJob.status">{{selectedJob.status}}</span>
                    <span class="value" *ngIf="!selectedJob.status">No Info</span>
                </mat-list-item>
                <mat-list-item>
                    <span class="key">Operation Date: </span>
                    <span class="value" *ngIf="selectedJob.creationDate">{{selectedJob.creationDate}}</span>
                    <span class="value" *ngIf="!selectedJob.creationDate">No Info</span>
                </mat-list-item>
                <mat-list-item>
                    <span class="key">Operation Date: </span>
                    <span class="value" *ngIf="selectedJob.endDate">{{selectedJob.endDate}}</span>
                    <span class="value" *ngIf="!selectedJob.endDate">No Info</span>
                </mat-list-item>
                <mat-list-item>
                    <span class="key">Reason: </span>
                    <span class="value" *ngIf="selectedJob.reason">{{selectedJob.reason}}</span>
                    <span class="value" *ngIf="!selectedJob.reason">No Info</span>
                </mat-list-item>
                <mat-list-item *ngIf="!menuItems.length">
                    <span> No data.</span>
                </mat-list-item>
            </mat-card-content>
        </mat-card>
</div>
<br>

<div>
    <div>
        <div *ngIf="!jobs.length">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>No Data</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p> No operation to view. </p>
    
                    </mat-card-content>
                </mat-card>
        </div>

        <div class="main" *ngIf="menuItems.length">
            <div class="divetable">
            <ngx-datatable class="material" [rows]="menuItems" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sorts]="[{prop: 'cost_center', dir: 'asc'}]">
                <ngx-datatable-column name="Status">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.status}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Reason">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.reason}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="QR Code">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data2.code}}
                    </ng-template>
                </ngx-datatable-column>      
                <ngx-datatable-column name="Item Number">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data2.itemId}}
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
        <div class="divetable2">
            <ngx-datatable class="material" [rows]="menuItems" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sorts]="[{prop: 'cost_center', dir: 'asc'}]">
                <ngx-datatable-column name="Item Id">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data2.id}}
                    </ng-template>
                </ngx-datatable-column>
               <ngx-datatable-column name="Item Name">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data2.data2.menuFirstName}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Item Price">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data2.data2.menuItemPrice}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Item Availability">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data2.data2.availability}}
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>

        </div>
    </div>
    <ngx-spinner></ngx-spinner>

</div>
