@import "../../../assets/scss/syncs.scss";
@import "../manage-groups/manage-groups.component.scss";

@import "../activities/activities.component.scss";

.user-link{
    cursor: pointer;
}

.five-column {
    width: 170px;
  }

.guestFilte{
    ::ng-deep .mat-form-field-flex{
        width: 170px !important;
        height: 35px !important ;


         .mat-form-field-outline-end {
            background-color: #fdfdfd;
         }

         .mat-form-field-outline-start {
            background-color: #fdfdfd;
         }
    }

    mat-icon {
      position: absolute;
      float: right;
      top: -1px !important;
      cursor: pointer;
      color: rgb(80 80 80 / 54%);
      right: -60px;
      font-size: medium;
    }

}

.filterButtons{
    // padding-left: 30px;
  float: right;
  width: 180px;
}
