<div *ngIf="usersList.usersData.length != 0 || usersList.showLoading" class="header" style="margin: 15px;">
    <!-- <button mat-flat-button class="button-back" (click)="refresh()">Refresh</button> -->

    <button mat-flat-button (click)="addUserDialog()">Add Guest</button>
    <button mat-flat-button (click)="updateUserDialog()" [disabled]="validateUpdateUser()">Update Guest</button>
    <button mat-flat-button (click)="resendQRCode()" [disabled]="usersList.selected.length != 1">Resend QR Code</button>
    <button mat-flat-button (click)="deleteUsers('true')" [disabled]="validateDeleteUsers()">Delete Guest</button>
    <button mat-flat-button (click)="deleteUsers('false')" [disabled]="validateRestoreUsers()">Restore Guest</button>
</div> 

<div class="filter-container">
    <div class="filter-title">
        <span style="display: inline-block; font-size: 20px; font-weight: bold; color: black;">Guest Cards</span>
    </div>
    <div class="filter-buttons">

        <div class="five-column" >
            <select class="custom-select" >
                <option value="" selected style="display:none">Guest Name</option>
                <option value=""></option>
                <option >Ahmed</option>
                <option >Othman</option>
                <option >Mona</option>
                     <!-- {{job.creationDate}} - {{job.status}}</option> [ngValue]="job" *ngFor="let job of jobs" (change)="getSyncJobData()" [(ngModel)]="selectedJob"  -->
            </select>
        </div>
        <div class="five-column" >
            <select class="custom-select">
                <option value="" selected style="display:none">Card Number</option>
                <option value=""></option>
                <option >012568954</option>
                <option >544311545</option>
                <option >823235455</option>
                     <!-- {{job.creationDate}} - {{job.status}}</option> [ngValue]="job" *ngFor="let job of jobs" (change)="getSyncJobData()" [(ngModel)]="selectedJob"  -->
            </select>
        </div>
        <div class="five-column" >
            <select class="custom-select">
                <option value="" selected style="display:none">Card Statues</option>
                <option value=""></option>
                <option >Active</option>
                <option >Deleted</option>
                <option >Blocked</option>
                <option >Expired</option>
                     <!-- {{job.creationDate}} - {{job.status}}</option> [ngValue]="job" *ngFor="let job of jobs" (change)="getSyncJobData()" [(ngModel)]="selectedJob"  -->
            </select>
        </div>
        <div class="five-column" >
            <input matInput placeholder="Search Key Word...">
            <!-- <option value="" disabled selected>Guest Name</option>
                <option >Ahmed</option>
                     {{job.creationDate}} - {{job.status}}</option> [ngValue]="job" *ngFor="let job of jobs" (change)="getSyncJobData()" [(ngModel)]="selectedJob"  
            </select> -->
        </div>
    </div>
    <div class="filter-view">

        <div class="filter-item" [ngStyle]="props" >
        <!-- <span matBadge="5" matBadgeOverlap="false">Text with a badge</span> -->
        Mona
        </div>
        <div class="filter-item" [ngStyle]="props">
        Ahmed
        </div>
        <div class="filter-item" [ngStyle]="props2">
         Nisantasi
        </div>
        <div class="filter-item" [ngStyle]="props2">
        Mcdonald's
        </div>
    </div>
</div>

<div class="main" >

    <div *ngIf="usersList.usersData.length == 0 && !usersList.showLoading" style="text-align: center;">
        <img style="max-width: 300px; margin-top: 100px;" src="../../../assets/no-user.png" alt="image">
        <p class="user-name">You haven't added any users yet!</p>
        <button mat-flat-button (click)="addUserDialog()">ADD USERS</button>
    </div>

    <div  *ngIf="usersList.usersData.length != 0 || usersList.showLoading">
        <ngx-datatable class="material" [loadingIndicator]="usersList.showLoading" [messages]="usersList.messages" 
        [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
         [rows]="usersList.usersData" [selected]="usersList.selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" 
         (select)='onSelect($event)' [scrollbarH]="true">
    
            <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
            <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
            <input class="regular-checkbox" type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
            </ng-template>
    
            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
             <input class="regular-checkbox" type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
            </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="Name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div *ngIf="row.deleted">
                        {{row.name}}
                    </div>
                    <div *ngIf="!row.deleted">
                        <a class="group-name" (click)="openUserProfile(row)">{{row.name}}</a>
                    </div>
                </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="Email">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.email}}
                </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="Group">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.group.name}}
                </ng-template>
            </ngx-datatable-column>
    
    
            <ngx-datatable-column name="Discount Rate">
                <ng-template let-row="row" ngx-datatable-cell-template >
                    <label *ngIf="row.group.name != ''">{{row.group.simphonyDiscount.discountRate}} %</label>
                </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="State">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <label *ngIf="!row.deleted" class="active-state">active</label>
                    <label *ngIf="row.deleted" class="deleted-state">deleted</label>
                </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="Creation Date">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.creationDate | date: 'dd/MM/yyyy HH:mm:ss' }}
                </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="Last Update">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.lastUpdate | date: 'dd/MM/yyyy HH:mm:ss' }}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>

