<div *ngIf="usersList.usersData.length != 0 || usersList.showLoading" class="header">
    <button mat-flat-button class="groups-buttons" (click)="addUserDialog(true)" *ngIf="hasRole('show_G_U_button')">Add
        Generic Guest</button>
    <button mat-flat-button class="groups-buttons" (click)="addUserDialog(false)" *ngIf="hasRole('add_guest')">Add
        Guest</button>
    <button mat-flat-button class="groups-buttons" (click)="updateUserDialog()" [disabled]="validateUpdateUser()">Update
        Guest</button>
    <button mat-flat-button class="groups-buttons" (click)="resendQRCode()"
        [disabled]="usersList.selected.length != 1">Resend QR Code</button>
    <button mat-flat-button class="groups-buttons" (click)="deleteUsers('true')"
        [disabled]="validateDeleteUsers()">Delete Guest</button>
    <button mat-flat-button class="groups-buttons" (click)="deleteUsers('false')"
        [disabled]="validateRestoreUsers()">Restore Guest</button>
</div>

<div class="filter-container"
    *ngIf="(usersList.usersData.length != 0 || usersList.showLoading ) && hasRole('show_filter_section')">
    <div class="filter-title">
        <span style="display: inline-block; font-size: 20px; font-weight: bold; color: black;">Filter Guest</span>
    </div>
    <div class="searchField">

        <div class="five-column" style="width:18%;">
            <span class="filterTitle">From</span>
            <input matInput placeholder="Start Date" type="date" name="fromDate" id="fromDate" [(ngModel)]="fromDate"
                class="custom-select">
        </div>
        <div class="five-column" style="width:18%;">
            <span class="groupTitle">To</span>
            <input matInput placeholder="End Date" type="date" name="toDate" id="toDate" [(ngModel)]="toDate"
                class="custom-select">
        </div>

        <br>

        <div style="margin-top: 20px; margin-left: 40px;">
            <div class="dropDownStyle">
                <select class="" (change)="filterUsers(selectedGuest)" [(ngModel)]="selectedGuest">
                    <option value="" selected style="display:none">Card Number</option>
                    <option [ngValue]="user.code" *ngFor="let user of usersList.usersData">{{user.code}}</option>
                </select>
            </div>

            <div class="dropDownStyle">
                <select class="" (change)="filterByGuestName()" [(ngModel)]="selectedGuest">
                    <option value="" selected style="display:none">Guest Name</option>
                    <option value=""></option>
                    <option value="Test user">Test user</option>
                    <option value="New Test">New Test</option>
                </select>
            </div>

            <div class="dropDownStyle">
                <select class="" (change)="filterUsers('test')">
                    <option value="" selected style="display:none">Card Statues</option>
                    <option value=""></option>
                    <option value="Active">Active</option>
                    <option value="">Expired</option>
                </select>
            </div>
            <div class="dropDownStyle">
                <select class="" (change)="filterByGuestName()" [(ngModel)]="selectedGuest">
                    <option value="" selected style="display:none">Group</option>
                    <option value=""></option>
                    <option value="Test user">Test user</option>
                    <option value="New Test">New Test</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="main">

    <div *ngIf="usersList.usersData.length == 0 && !usersList.showLoading" style="text-align: center;">
        <img style="max-width: 300px; margin-top: 100px;" src="../../../assets/no-user.png" alt="image">
        <p class="user-name">You haven't added any users yet!</p>
        <button mat-flat-button class="groups-buttons" (click)="addUserDialog(true)"
            *ngIf="hasRole('show_G_U_button')">Add Generic Guest</button>
        <button mat-flat-button class="groups-buttons" (click)="addUserDialog(false)" *ngIf="hasRole('add_guest')">Add
            Guest</button>
    </div>

    <div *ngIf="usersList.usersData.length != 0 || usersList.showLoading">
        <ngx-datatable class="material" [loadingIndicator]="usersList.showLoading" [messages]="usersList.messages"
            [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"
            [scrollbarV]="true" [scrollbarH]="true" [rows]="usersList.usersData" [selected]="usersList.selected"
            [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" (select)='onSelect($event)' [scrollbarH]="true">

            <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true"
                [width]="5">
                <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                    let-selectFn="selectFn">
                    <input class="regular-checkbox" type="checkbox" [checked]="allRowsSelected"
                        (change)="selectFn(!allRowsSelected)" />
                </ng-template>

                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                    let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <input class="regular-checkbox" type="checkbox" [checked]="isSelected"
                        (change)="onCheckboxChangeFn($event)" />
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="" *ngIf="hasRole('show_card_image')" [width]="25">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div style="float: left;" *ngIf="hasRole('show_card_image')"><img class="profile-img"
                            src="../../../assets/profile.png" alt="image"> </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Card Number" [width]="180" *ngIf="hasRole('show_card_number')">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a class="user-link" (click)="openUserProfile(row)">
                        <div style="float: left;"><img class="profile-img" src="../../../assets/profile.png"
                                alt="image"> </div>
                        <div *ngIf="hasRole('show_card_number')"
                            style="float: left; color: black; margin-top: 3px; margin-left: 5px;">{{row.code}}</div>
                    </a>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Name" [width]="90">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div *ngIf="!hasRole('show_user_profile')">
                        {{row.name}}
                    </div>
                    <div *ngIf="hasRole('show_user_profile')">
                        <a class="group-name user-link" (click)="openUserProfile(row)">{{row.name}}</a>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Email" [width]="90">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.email}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Mobile" *ngIf="hasRole('show_mobile_number')" [width]="90">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.mobile}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Group" *ngIf="hasRole('show_ group')" [width]="90">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.group.name}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Balance" *ngIf="hasRole('show_balance')" [width]="90">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{calculateParams(row)}} USD
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Number Of Accompanied Guest" *ngIf="hasRole('show_numof_accompanied')"
                [width]="90">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.accompanied}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Expires In" *ngIf="hasRole('show_expiration')" [width]="90">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.expire}} Hour
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Discount Rate" *ngIf="hasRole('show_discount')" [width]="90">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <label *ngIf="row.group.name != ''">{{row.group.simphonyDiscount.discountRate}} %</label>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="State" [width]="90">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <label *ngIf="!row.deleted && !lessThanOrEqualZero(row.expire) " class="active-state">Active</label>
                    <label *ngIf="row.statues" class="deleted-state">Deleted</label>
                    <label *ngIf="!row.deleted && lessThanOrEqualZero(row.expire)"
                        style="color: #1661a3;">Expired</label>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Creation Time" [width]="90">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.creationDate | date: 'dd/MM/yyyy HH:mm:ss' }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Last Update" [width]="90">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.lastUpdate | date: 'dd/MM/yyyy HH:mm:ss' }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Options" *ngIf="hasRole('show_option')" [width]="90">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button class="menue-btn" mat-button [matMenuTriggerFor]="menu">. . . </button>
                    <mat-menu #menu="matMenu">
                        <button class="menue-btn-choi" mat-menu-item>Suspend</button>
                        <button class="menue-btn-choi" mat-menu-item>Delete</button>
                        <!-- <button class="menue-btn-choi" mat-menu-item>Cancel</button> -->
                        <button class="menue-btn-choi" mat-menu-item (click)="openUserProfile(row)">Preview</button>
                    </mat-menu>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>