<div class="main" >

    <div *ngIf="usersList.usersData.length != 0 || usersList.showLoading" class="header" style="margin-bottom: 15px;">
        <button mat-flat-button (click)="addUserDialog()">Add User</button>
        <button mat-flat-button (click)="updateUserDialog()" [disabled]="usersList.selected.length != 1">Update User</button>
        <button mat-flat-button (click)="deleteUsers('true')" [disabled]="usersList.selected.length == 0">Delete Users</button>
        <button mat-flat-button (click)="deleteUsers('false')" [disabled]="usersList.selected.length == 0">Restore Users</button>
    </div> 

    <div *ngIf="usersList.usersData.length == 0 && !usersList.showLoading" style="text-align: center;">
        <img style="max-width: 300px; margin-top: 100px;" src="../../../assets/no-user.png" alt="image">
        <p class="user-name">You haven't added any users yet!</p>
        <button mat-flat-button (click)="addUserDialog()">ADD USERS</button>
    </div>

    <div  *ngIf="usersList.usersData.length != 0 || usersList.showLoading">
        <ngx-datatable class="material" [loadingIndicator]="usersList.showLoading" [messages]="usersList.messages" 
        [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
         [rows]="usersList.usersData" [selected]="usersList.selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" 
         (select)='onSelect($event)' [scrollbarH]="true">
    
            <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
            <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
            <input class="regular-checkbox" type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
            </ng-template>
    
            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
             <input class="regular-checkbox" type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
            </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="Name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.name}}
                </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="Email">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.email}}
                </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="Group">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.group.name}}
                </ng-template>
            </ngx-datatable-column>
    
    
            <ngx-datatable-column name="Discount Rate">
                <ng-template let-row="row" ngx-datatable-cell-template >
                    <label *ngIf="row.group.name != ''">{{row.group.discountRate}} %</label>
                </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="State">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <label *ngIf="!row.deleted" class="active-state">active</label>
                    <label *ngIf="row.deleted" class="deleted-state">deleted</label>
                </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="Creation Date">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.creationDate | date: 'dd/MM/yyyy hh:mm:ss' }}
                </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="Last Update">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.lastUpdate | date: 'dd/MM/yyyy hh:mm:ss' }}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>

