<mat-tab-group>
    <mat-tab label="Groups" *ngIf="hasRole('show_canteen_groups')"> 
        <app-canteen-manage-groups-component></app-canteen-manage-groups-component>
    </mat-tab>
    <mat-tab label="Employees" *ngIf="hasRole('show_canteen_guests')"> 
        <app-canteen-manage-users-component [groups]=groups></app-canteen-manage-users-component>
    </mat-tab>
    <mat-tab label="Activities" *ngIf="hasRole('show_canteen_activities')">
        <app-canteen-activities-component [groups]=groups></app-canteen-activities-component>
    </mat-tab>
  </mat-tab-group>