<h3>Credit Notes</h3>

<div class="header">
    <span class="history"> Sync Job History </span>

    <select class="custom-select" (change)="getSyncJobData($event.target.value)" [(ngModel)]="selectedJob">
        <option [ngValue]="job" *ngFor="let job of jobs">
            {{job.creation_date}} - {{job.status}}</option>
    </select> 
     
    <button mat-flat-button (click)="getCreditNoteSyncJob()">Sync Credit Note Now</button>
</div>
<br>
<div *ngIf="selectedJob">
    <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title class="title">Sync Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
            <mat-list-item>      
                <span class="key">Sync status: </span>
                <span class="value" *ngIf="selectedJob.status">{{selectedJob.status}}</span>
                <span class="value" *ngIf="!selectedJob.status">No Info</span>
            </mat-list-item>
            <mat-list-item>      
                <span class="key">Start Date: </span>
                <span class="value" *ngIf="selectedJob.creation_date">{{selectedJob.creation_date}}</span>
                <span class="value" *ngIf="!selectedJob.creation_date">No Info</span>
            </mat-list-item>
            <mat-list-item>      
                <span class="key">End Date: </span>
                <span class="value" *ngIf="selectedJob.end_date">{{selectedJob.end_date}}</span>
                <span class="value" *ngIf="!selectedJob.end_date">No Info</span>
            </mat-list-item>
            <mat-list-item *ngIf="!creditNote.length"> 
            <span>
                There was no new data to sync in this job, You can sync credit note now from   
                <a (click)="getCreditNoteSyncJob()">here</a>
            </span>
            </mat-list-item>
            </mat-card-content>
    </mat-card>
    </div>
    <br>
<br>
<div>
    <div *ngIf="!creditNote.length">
        <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>No Data</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                        There was no new data to sync in this job, You can sync credit note now from 
                    <a  (click)="getCreditNoteSyncJob()">here</a>
                  </p>
                  
                </mat-card-content>
        </mat-card>
        </div>

<div class="main" *ngIf="creditNote.length">
    <ngx-datatable *ngIf="!loading" class="material" [rows]="creditNote" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true"  
        [sorts]="[{prop: 'vendor', dir: 'asc'}, {prop: 'invoiceNo', dir: 'asc'}]">

        <ngx-datatable-column name="Status">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.status}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Reason">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.reason}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Invoice No">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.data.invoiceNo}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Vendor">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.data.vendor}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Cost Center">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.data.costCenter}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="status">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.data.status}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Invoice Date">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.data.invoiceDate}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Net">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.data.net}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Vat">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.data.vat}}
                </ng-template>
            </ngx-datatable-column>
        <ngx-datatable-column name="Gross">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.data.gross}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Created By">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.data.createdBy}}
            </ng-template>
        </ngx-datatable-column>
    
    </ngx-datatable>
</div>
<ngx-spinner></ngx-spinner>
</div>
