@import "../add-tax/add-tax.component.scss";
@import "../add-app-group/add-app-group.component.scss";

::ng-deep .mat-tab-body{
  padding-top: 10px;
}
::ng-deep .mat-form-field-wrapper{
  margin: 0px !important;
  padding-bottom: 15px;
}
.accom-guest{
      form{
        margin: 0px auto 0px;
      }
}

.main-guest{
  ::ng-deep .mat-dialog-content{
    overflow: hidden !important;
  }
}

.two-column{
    float: right;
    width: 50%; 
    height: 100%;
    text-align: center;
  }

  .formSide{
    padding-bottom: 10px;
    width: 55%;
  }

  .row{
    display: flex;
    max-height: 65vh;
  }

.mat-tab-labels {
    background-color: rgb(182, 217, 248);
}

.form-group{
  margin-bottom: 0px;
}

.image_style{
  width:130px; 
  height: 108px; 
  padding-top: 50px; 
  padding-left: 10px;
}

.card_div{
  padding-top: 5%;
}

.cardSide{
  width: 38%; 
  float: left;
}

.card-div{
  height: 60%;
  margin-top:20px ;
}

.buttons-div{
  height: 5vh;
  padding-left: 10px;
  position: unset;
  height: 20%;
  align-items: center;
  bottom: 0;
}

.dialog-body{
  overflow: hidden !important; 
}

.form-side{
  width: 55%; 
  margin-right: 2%; 
  float: right; 
}

::ng-deep .mat-form-field-label {
  left: 20px !important;
  padding-top: 10px !important;
  color: hsl(0, 0%, 45%) !important;
}

::ng-deep .mat-form-field {
  padding-left: 20px !important; 
}

::ng-deep .mat-checkbox-checked{
   .mat-checkbox-background{
    background-color: #f8bc72 !important;
   }
}

.groups-buttons{
  width: 120px;
}

.add-accom-buttons{
  float: right; margin-bottom: 20px;
}


::ng-deep .mat-dialog-actions {
  padding-top: 20px;
  justify-content: center !important;
}