<div class="header">
    <select class="custom-select" (change)="getSyncJobData($event.target.value)">
        <option value="0" hidden selected disabled>Sync Job History </option>
        
        <option value={{job.id}} *ngFor="let job of jobs">
            {{job.creation_date}} - {{job.status}}</option>
     </select>
     
    <button mat-flat-button (click)="getApprovedInvoicesSyncJob()">Sync Apprved Invoices Now</button>
</div>
<br>
<div [hidden]="approvedInvoices.length">
        <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>No Data</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                        There was no new data to sync in this job, You can sync approved invoices now from 
                    <a  (click)="getApprovedInvoicesSyncJob()">here</a>
                  </p>
                  
                </mat-card-content>
        </mat-card>
        </div>

<div class="main" [hidden]="!approvedInvoices.length">
    <ngx-datatable *ngIf="!loading" class="material" [rows]="approvedInvoices" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true"  [sorts]="[{prop: 'vendor', dir: 'asc'}, {prop: 'invoiceNo', dir: 'asc'}]">

        <ngx-datatable-column name="Invoice No">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.invoiceNo}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Vendor">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.vendor}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Cost Center">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.costCenter}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="status">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.status}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Invoice Date">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.invoice_date}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Net">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.net}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Vat">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.vat}}
                </ng-template>
            </ngx-datatable-column>
        <ngx-datatable-column name="Gross">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.gross}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Created By">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.createdBy}}
            </ng-template>
        </ngx-datatable-column>
    
    </ngx-datatable>
    <ngx-spinner></ngx-spinner>
</div>