<div class="header">
    <button mat-flat-button (click)="openDialog()">Add vendor</button>
</div>
<div class="main">
    <ngx-datatable *ngIf="!loading" class="material" [rows]="dataSource" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [sorts]="[{prop: 'Vendor', dir: 'asc'}]">
        <ngx-datatable-column name="Vendor">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.vendor}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Customer Number">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.customer_number}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Currency">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.currency}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Vendor Account">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.vendor_account}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Phone">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.phone}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Fax">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.fax}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Email">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.email}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Order via">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.order_via}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Changed by">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.changed_by}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="At">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.at}}
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
    <ngx-spinner></ngx-spinner>
</div>