@import "../../../assets/scss/syncs.scss";
@import "../setting/pos-machine-mapping/pos-machine-mapping.component.scss";

.searchInput{
    width: -webkit-fill-available;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}