@import "../approved-invoices-infor/approved-invoices-infor.component.scss";

.comany-name{
    color: rgb(27, 84, 190);
    // font-weight: normal;
    text-decoration: blink;
}

.comany-name:hover {
    color: rgb(9, 32, 75);
    text-decoration: underline;
    // font-weight: normal;
    text-decoration: blink;
}