@import "../approved-invoices-infor/approved-invoices-infor.component.scss";

.header{
    margin: 20px ;
    margin-right: 0px ;
    margin-bottom: 40px ;
    display: block;
    padding: 0px;
}

.groups-buttons{
    width: 150px;
    height: 35px;
    background-color: #fecc90;
    color: black;
    border-radius: 28px;
    box-shadow: 0 4px 14px rgba(black, 0.35) !important;

    &:disabled{
        background-color: #ffe7cb;
        color: rgb(53, 53, 53);
    }
}