<div class="main" >
    <div *ngIf="groupsList.groupsData.length != 0 || groupsList.showLoading" class="header" style="margin-bottom: 15px;">
        <button mat-flat-button (click)="addGroupDialog()">Add Group</button>
        <button mat-flat-button (click)="updateGroupDialog()" [disabled]="validateUpdateGroup()">Update Group</button>
        <button mat-flat-button (click)="deleteGroups('true')" [disabled]="validateDeleteGroup()">Delete Groups</button>
        <button mat-flat-button (click)="deleteGroups('false')" [disabled]="validateRestoreGroup()">Restore Groups</button>
    </div>

    <div *ngIf="groupsList.groupsData.length == 0 && !groupsList.showLoading" style="text-align: center;">
        <img style="max-width: 300px; margin-top: 100px;" src="../../../assets/no-user.png" alt="image">
        <p class="user-name">You haven't added any groups yet!</p>
        <button mat-flat-button (click)="addGroupDialog()">ADD GROUPS</button>
    </div>

    <div *ngIf="groupsList.groupsData.length != 0 || groupsList.showLoading" >
        <ngx-datatable class="material" [loadingIndicator]="groupsList.showLoading" [messages]="groupsList.messages"
        [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
         [rows]="groupsList.groupsData" [selected]="groupsList.selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" 
        (select)='onSelect($event)' [scrollbarH]="true">
    
            <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
            <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
            <input class="regular-checkbox" type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
            </ng-template>
    
            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
             <input class="regular-checkbox" type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
            </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="Name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div *ngIf="row.deleted">
                        {{row.name}}
                    </div>
                    <div *ngIf="!row.deleted">
                        <a class="group-name" (click)="openSupGroup(row)">{{row.name}}</a>
                    </div>
                </ng-template>  
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Discount Rate">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.discountRate}} %
                </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="State">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <label *ngIf="!row.deleted" class="active-state">active</label>
                    <label *ngIf="row.deleted" class="deleted-state">deleted</label>
                </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="Creation Date">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.creationDate | date: 'dd/MM/yyyy hh:mm:ss' }}
                </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="Last Update">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.lastUpdate | date: 'dd/MM/yyyy hh:mm:ss' }}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

</div>

