@import "../../../assets/scss/syncs.scss";
@import "../support/support.component.scss";

.sync-body{

    h3 {
        background-color: #f1f1f1!important;
        font-weight: bolder !important;
        margin-top: 70px !important;
        margin-bottom: 28px !important;
        height: 64px !important;
        color:#f47920;
        border-left: 1px solid;
    }
    
    .custom-select{
        margin-left:10px;
    }

    ::ng-deep .cdk-overlay-pane{
        top: 270px !important;
        left: 450px !important;
    }

    ::ng-deep mat-form-field{
        width: 380px !important;
        padding-right: 50px;
        padding-top: 5px;
        margin-right: 30px;
        position: absolute;
        left: 182px !important;
        text-align: left;

        .mat-form-field-outline-end {
            background-color: #fdfdfd;
        }
        .mat-form-field-outline-start {
            background-color: #fdfdfd;
        }
    }

    .history{
        padding-top: 10px;
    }

    .filterButton{
        height: 40px;
        margin-left: 5px;
    }

    .cardHeader{
        padding-left:20px;
    }

    ::ng-deep .mat-list-item-content{
        padding-left: 20px !important;
        padding: 5px;
    }

    .empty-data{
        padding-left: 20px;
    }
}

::ng-deep .mat-progress-bar-fill {
    background-color: #f47920 !important;

    ::after{
        background-color: #f47920 !important;
    }
}

::ng-deep .mat-progress-bar-fill::after {
    
    background-color: #f47920;
}