<h3>Cost of Goods</h3>


<div class="header">
    <span class="history"> Sync Job History </span>

    <select class="custom-select" (change)="getSyncJobData()" [(ngModel)]="selectedJob">
        <option [ngValue]="job" *ngFor="let job of jobs">
            {{job.creationDate | date:'dd-MM-yyyy H:MM:SS'}} - {{job.status}}
            <p *ngIf="job.rowsFetched == 0 &&  job.status != 'Running'">- No new data fetched.</p>
          </option>
    </select>

    <button mat-flat-button (click)="exportToCSV()" [disabled]="jobs.length == 0">Export to CSV</button>
    <button mat-flat-button (click)="generateSingleFile()" [disabled]="jobs.length == 0">Generate Single File</button>
    <button mat-flat-button (click)="getJournalsJobSyncJob()" [disabled]="staticgetJournalsLoding">Sync Cost of Goods Now</button>
</div>

<br>
<div id="myProgress">
    <mat-progress-bar mode="indeterminate" *ngIf="staticgetJournalsLoding"></mat-progress-bar>
</div>

<br>
<div *ngIf="selectedJob">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="title">Sync Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list-item>
                <span class="key">Sync Number: </span>
                <span class="value" *ngIf="selectedJob.id">{{selectedJob.id}}</span>
                <span class="value" *ngIf="!selectedJob.id">No Info</span>
            </mat-list-item>
            <mat-list-item>
                <span class="key">Sync status: </span>
                <span class="value" *ngIf="selectedJob.status">{{selectedJob.status}}</span>
                <span class="value" *ngIf="!selectedJob.status">No Info</span>
            </mat-list-item>
            <mat-list-item>
                <span class="key">Start Date: </span>
                <span class="value" *ngIf="selectedJob.creationDate">{{selectedJob.creationDate | date:'dd-MM-yyyy H:MM:SS'}}</span>
                <span class="value" *ngIf="!selectedJob.creationDate">No Info</span>
            </mat-list-item>
            <mat-list-item>
                <span class="key">End Date: </span>
                <span class="value" *ngIf="selectedJob.endDate">{{selectedJob.endDate | date:'dd-MM-yyyy H:MM:SS'}}</span>
                <span class="value" *ngIf="!selectedJob.endDate">No Info</span>
            </mat-list-item>
            <mat-list-item>
                <span class="key">Reason: </span>
                <span class="value" *ngIf="selectedJob.reason">{{selectedJob.reason}}</span>
                <span class="value" *ngIf="!selectedJob.reason">No Info</span>
            </mat-list-item>
            <mat-list-item *ngIf="!journals.length">
                <span>
                There was no new data to sync in this job, You can sync journals now from <a (click)="getJournalsJobSyncJob()">here</a>
            </span>
            </mat-list-item>
        </mat-card-content>
    </mat-card>
</div>
<br>

<div>
    <div>
        <div *ngIf="!jobs.length">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>No Data</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        There was no new data to sync in this job, You can sync cost of goods now from
                        <a (click)="getJournalsJobSyncJob()">here</a>
                    </p>

                </mat-card-content>
            </mat-card>
        </div>

        <div class="main" *ngIf="journals.length">
            <ngx-datatable class="material" [rows]="journals" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">


                <ngx-datatable-column name="Status">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.status}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Reason">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.reason}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Description">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.description}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Inventory Account">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.inventoryAccount}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Expenses Account">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.expensesAccount}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Transaction Date">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.transactionDate}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Consumption Total Credit">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.totalCr}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Consumption Total Debit">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.totalDr}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Cost Center">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.fromCostCenter}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Account Code">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.fromAccountCode}}
                    </ng-template>
                </ngx-datatable-column>
                
                <ngx-datatable-column name="T1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.analysisCodeT1}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="T2">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.data.analysisCodeT2}}
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </div>

    </div>
    <ngx-spinner></ngx-spinner>

</div>