<h3 mat-dialog-title>Update Wastage Configuartion</h3>


<div>
    <div *ngIf="!wasteLoading">
            <!-- Oracle Hospitality Configurations -->
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Oracle Hospitality Configurations
                </mat-panel-title>
              </mat-expansion-panel-header>
        
              <div class="container" *ngIf="!syncJobTypeloading">
                <form  class="my-form">
                    <div >
                        <mat-form-field class="example-full-width">
                          <mat-select matInput id="timePeriod" name="timePeriod" placeholder="Business Dates"  
                          [(ngModel)]="syncJobType.configuration.timePeriod">
                             <mat-option value="Most Recent">Most Recent</mat-option>
                             <mat-option value="Financial Week to Date">Financial Week to Date</mat-option>
                             <mat-option value="Past 7 Days">Past 7 Days</mat-option>
                             <mat-option value="Today">Today</mat-option>
                             <mat-option value="Month to Date">Month to Date</mat-option>
                             <mat-option value="Last Month">Last Month</mat-option>
                             <mat-option value="Financial Period to Date">Financial Period to Date</mat-option>
                           </mat-select>
      
                        </mat-form-field>
                    </div>
                </form>
        </div>        
        </mat-expansion-panel>

        <!-- Infor Sun System Configurations -->
        <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Infor Sun System
                </mat-panel-title>
              </mat-expansion-panel-header>
        
              <div class="container" *ngIf="!syncJobTypeloading">
                <form  class="my-form">
                    <div >
                        <mat-form-field class="example-full-width">
                          <mat-select matInput id="postingType" name="postingType" placeholder="Posting Type"  
                          [(ngModel)]="syncJobType.configuration.postingType">
                              <mat-option value="0">0</mat-option>
                              <mat-option value="1">1</mat-option>
                              <mat-option value="2">2</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
        
                    <div >
                      <mat-form-field class="example-full-width">
                        <input matInput id="businessUnit" name="businessUnit" placeholder="Business Unit"  
                        [(ngModel)]="syncJobType.configuration.businessUnit">
                    </mat-form-field>
                  </div>
                    <div >
                    <mat-form-field class="example-full-width">
                      <input matInput id="journalSource" name="journalSource" placeholder="Journal Source"  
                      [(ngModel)]="syncJobType.configuration.journalSource">
                  </mat-form-field>
                </div>
                  <div >
                      <mat-form-field class="example-full-width">
                        <input matInput id="journalType" name="journalType" placeholder="Journal Type"  
                        [(ngModel)]="syncJobType.configuration.journalType">
                    </mat-form-field>
                  </div>
                  <div >
                    <mat-form-field class="example-full-width">
                      <input matInput id="currencyCode" name="currencyCode" placeholder="Currency Code"  
                      [(ngModel)]="syncJobType.configuration.currencyCode">
                  </mat-form-field>
                  </div>
        
                </form>
        </div>
                
        </mat-expansion-panel>

                  <!-- Loction Ledger Analysis Configurations -->
                  <mat-expansion-panel >
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Loction Ledger Analysis
                      </mat-panel-title>
                    </mat-expansion-panel-header>
              
                        <div class="container" *ngIf="!syncJobTypeloading">
                          <form  class="my-form">
        
                            <div >
                              <mat-form-field class="example-full-width">
                                <mat-select matInput id="locationAnalysis" name="locationAnalysis" placeholder="Location Ledger Analysis"  
                                [(ngModel)]="syncJobType.configuration.locationAnalysis">
                                   <mat-option value="1">1</mat-option>
                                   <mat-option value="2">2</mat-option>
                                   <mat-option value="0">3</mat-option>
                                   <mat-option value="1">4</mat-option>
                                   <mat-option value="2">5</mat-option>
                                   <mat-option value="0">6</mat-option>
                                   <mat-option value="1">7</mat-option>
                                   <mat-option value="2">8</mat-option>
                                   <mat-option value="1">9</mat-option>
                                   <mat-option value="2">10</mat-option>
                                 </mat-select>
                              </mat-form-field>
                          </div>
            
                        </form>
                        </div>
                      
                  </mat-expansion-panel> 

        <!-- Analysis Configurations -->
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Analysis
            </mat-panel-title>
          </mat-expansion-panel-header>
    
          <div class="main">
            <ngx-datatable class="material" [rows]="analysis" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true"  [sorts]="[]">
        
                <ngx-datatable-column name="Analysis">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.number">Analysis {{row.number}}</mat-checkbox>
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Code Element">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <input matInput  placeholder="Code Element"  [(ngModel)]="row.codeElement">
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
        </div>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Watsage And Over Groups Mapping
            </mat-panel-title>
          </mat-expansion-panel-header>
              <div *ngIf="overGroups?.length > 0">

                <ngx-datatable  class="material" [rows]="overGroups" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true"  [sorts]="[]" >

                  <ngx-datatable-column name="Over Group">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.overGroup">{{row.overGroup}}</mat-checkbox>
                      </ng-template>
                  </ngx-datatable-column>

                <ngx-datatable-column name="Credit Account">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <input matInput  placeholder="Credit Account"  [(ngModel)]="row.wasteAccountCredit">
                  </ng-template>
              </ngx-datatable-column>  

              
              <ngx-datatable-column name="Debit Account">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <input matInput  placeholder="Debit Account"  [(ngModel)]="row.wasteAccountDebit">
                </ng-template>
            </ngx-datatable-column>  

            </ngx-datatable>
              </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Watse Groups
            </mat-panel-title>
          </mat-expansion-panel-header>
              <div *ngIf="wasteGroups?.length > 0">

                <ngx-datatable  class="material" [rows]="wasteGroups" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true"  [sorts]="[]" >

                  <ngx-datatable-column name="Waste Group">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.wasteGroup">{{row.wasteGroup}}</mat-checkbox>
                      </ng-template>
                  </ngx-datatable-column>

            </ngx-datatable>
              </div>
        </mat-expansion-panel> 
        
        <br>
        <div class="card-back">
            <button mat-flat-button (click)="onSaveClick()">Save</button>
            <button mat-flat-button (click)="onCancelClick()">Cancel</button>
        </div>
  
    </div>
      <ngx-spinner></ngx-spinner>
</div>
  
