<h3 mat-dialog-title>Update Journals Configuartion</h3>

<div>
    <div *ngIf="!cost_loading && !group_loading">

        <div *ngIf="!costCenters.length">
            <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>Error</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                            Error happend while fetching cost centers, make sure you have cost centers.
                      </p>
                      
                    </mat-card-content>
            </mat-card>
        </div>
        <div *ngIf="costCenters.length">
            <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>Cost Centers</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>                                  
                        <section class="example-section" name="Cost Center" *ngFor="let center of costCenters">
                            <mat-checkbox class="example-margin" [(ngModel)]="center.checked" *ngIf="center.cost_center">{{center.cost_center}}</mat-checkbox>
                        </section>
                   </mat-card-content>
            </mat-card>
        </div>
        
        <br>

        <div *ngIf="!overGroups.length">
            <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>Error</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                            Error happend while fetching over groups, make sure you have over groups.
                      </p>
                      
                    </mat-card-content>
            </mat-card>
        </div>

        <div *ngIf="overGroups.length">
            <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>Over groups</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>                                  
                        <section class="example-section" name="Over Group" *ngFor="let group of overGroups">
                            <mat-checkbox class="example-margin"  [(ngModel)]="group.checked">{{group.over_group}}</mat-checkbox>
                        </section>
                   </mat-card-content>
            </mat-card>
        </div>

        <br>

        <div class="main" *ngIf="mappedItems.length">
          <ngx-datatable *ngIf="!loading" class="material" [rows]="mappedItems" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true"  [sorts]="[]">
      
              <ngx-datatable-column name="Item Group">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.item_group}}
                  </ng-template>
              </ngx-datatable-column>
              
              <ngx-datatable-column name="Major Group">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.major_group}}
                </ng-template>
            </ngx-datatable-column>  
              
              <ngx-datatable-column name="Over Group">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.over_group}}
                </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
      </div>

        <br>

        <div class="card-back">
            <button mat-flat-button (click)="onSaveClick()">Save</button>
            <button mat-flat-button (click)="onCancelClick()">Cancel</button>
          </div>
          <div class="card-back">
            <button mat-flat-button (click)="mapItemGroups()">Map Item Group</button>
          </div>
               
    </div>
    <ngx-spinner></ngx-spinner>

</div>


