<h3 mat-dialog-title>Update Journals Configuartion</h3>

<div>
  <div *ngIf="!loading">
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Predifined Configurations
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="container" *ngIf="!loading">
        <form  class="my-form">
            <div >
                <mat-form-field class="example-full-width">
                    <input matInput id="group" name="group" placeholder="Journal group starting number"  
                    [(ngModel)]="syncJobType.configuration.accountSettings.journalGroupIdStarting">
                </mat-form-field>
            </div>
            <div >
              <mat-form-field class="example-full-width">
                  <input matInput id="transferGroup" name="transferGroup" placeholder="Transfer group starting number"  
                  [(ngModel)]="syncJobType.configuration.accountSettings.transferGroupIdStarting">
              </mat-form-field>
          </div>
            <div >
                <mat-form-field class="example-full-width">
                    <input matInput id="sourceId" name="sourceId" placeholder="Source Id"  
                    [(ngModel)]="syncJobType.configuration.accountSettings.sourceId">
                </mat-form-field>
            </div>

            <div >
              <mat-form-field class="example-full-width">
                  <input matInput id="sourceName" name="sourceName" placeholder="Source Name"  
                  [(ngModel)]="syncJobType.configuration.accountSettings.source">
              </mat-form-field>
          </div>

            <div >
              <mat-form-field class="example-full-width">
                  <input matInput id="category" name="category" placeholder="Category" 
                   [(ngModel)]="syncJobType.configuration.accountSettings.category">
              </mat-form-field>
          </div>

          <div >
            <mat-form-field class="example-full-width">
                <input matInput id="ledgerId" name="ledgerId" placeholder="Ledger Id"  
                [(ngModel)]="syncJobType.configuration.accountSettings.ledgerId">
            </mat-form-field>
        </div>
        <div >
          <mat-form-field class="example-full-width">
              <input matInput id="ledgerName" name="ledgerName" placeholder="Ledger Name" 
               [(ngModel)]="syncJobType.configuration.accountSettings.ledgerName">
          </mat-form-field>
      </div>
      <div >
        <mat-form-field class="example-full-width">
            <input matInput id="legalEntityIdentifier" name="legalEntityIdentifier"
             placeholder="Legal Entity Identifier" 
            [(ngModel)]="syncJobType.configuration.accountSettings.legalEntityIdentifier">
        </mat-form-field>
      </div>
      <div >
        <mat-form-field class="example-full-width">
            <input matInput id="accountingPeriodName" name="accountingPeriodName"
             placeholder="Accounting Period Name" 
            [(ngModel)]="syncJobType.configuration.accountSettings.accountingPeriodName">
        </mat-form-field>
    </div>         
        </form>
</div>
        
    </mat-expansion-panel>

    <!-- <mat-expansion-panel >
      <mat-expansion-panel-header>
      <mat-panel-title>
          Waste Configurations
      </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="container" *ngIf="!loading">
          <form  class="my-form">
              <div >
                  <mat-form-field class="example-full-width">
                      <input matInput id="inventoryAccount" name="inventoryAccount" placeholder="Inventory Account"  
                      [(ngModel)]="syncJobType.configuration.accountSettings.inventoryAccount">
                  </mat-form-field>
              </div>

          </form>
      </div>
      
  </mat-expansion-panel> -->


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Included Over Groups
        </mat-panel-title>
      </mat-expansion-panel-header>
          <div *ngIf="overGroups?.length > 0">

            <ngx-datatable  class="material" [rows]="overGroups" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true"  [sorts]="[]" >

              <ngx-datatable-column name="Over Group">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.over_group">{{row.over_group}}</mat-checkbox>
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Product">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <input matInput  placeholder="Product"  [(ngModel)]="row.product">
                </ng-template>
            </ngx-datatable-column>  

            
            <ngx-datatable-column name="Inventory Account">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <input matInput  placeholder="Inventory Account"  [(ngModel)]="row.inventoryAccount">
              </ng-template>
          </ngx-datatable-column>  

          
          <ngx-datatable-column name="Expenses Account">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <input matInput  placeholder="Expenses Account"  [(ngModel)]="row.expensesAccount">
            </ng-template>
        </ngx-datatable-column>  

        </ngx-datatable>
          </div>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cost Centers Mapping To Locations
        </mat-panel-title>

          </mat-expansion-panel-header>

          <div class="main" *ngIf="costCenters?.length > 0">
            <ngx-datatable  class="material" [rows]="costCenters" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true"  [sorts]="[]" >

        
                <ngx-datatable-column name="Cost Center">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.cost_center">{{row.cost_center}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Currency">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <input matInput  placeholder="Currency"  [(ngModel)]="row.currency">
                  </ng-template>
              </ngx-datatable-column>

                <ngx-datatable-column name="Company">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <input matInput placeholder="Company"  [(ngModel)]="row.company">
                  </ng-template>
              </ngx-datatable-column>
                
                <ngx-datatable-column name="Department Id">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <input matInput  placeholder="Department"  [(ngModel)]="row.department">
                  </ng-template>
              </ngx-datatable-column>  
                
                <ngx-datatable-column name="Location">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <input matInput placeholder="Location"  [(ngModel)]="row.location">
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Project">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <input matInput placeholder="Project"  [(ngModel)]="row.project">
                </ng-template>
            </ngx-datatable-column>
              
              <ngx-datatable-column name="Account">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <input matInput  placeholder="Account"  [(ngModel)]="row.account">
                </ng-template>
            </ngx-datatable-column>  
              
              <ngx-datatable-column name="Intercompany">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <input matInput  placeholder="Intercompany"  [(ngModel)]="row.intercompany">
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Product">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <input matInput  placeholder="Product"  [(ngModel)]="row.product">
              </ng-template>
          </ngx-datatable-column>  
            
            <ngx-datatable-column name="Future 2">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <input matInput  placeholder="Future 2"  [(ngModel)]="row.future2">
              </ng-template>
          </ngx-datatable-column>

            </ngx-datatable>
        </div>

        </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Items And Groups Mangment
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div class="main" *ngIf="mappedItems?.length > 0">
        <ngx-datatable  class="material" [rows]="mappedItems" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true"  [sorts]="[]">
    
            <ngx-datatable-column name="Item">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.item}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Item Group">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.item_group}}
              </ng-template>
          </ngx-datatable-column>
            
            <ngx-datatable-column name="Major Group">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.major_group}}
              </ng-template>
          </ngx-datatable-column>  
            
            <ngx-datatable-column name="Over Group">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.over_group}}
              </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
    </div>

    </mat-expansion-panel>

    <br>

    <div class="card-back">
        <button mat-flat-button (click)="onSaveClick()">Save</button>
        <button mat-flat-button (click)="onCancelClick()">Cancel</button>
      </div>
      <div class="card-back">
        <button mat-flat-button (click)="mapItemGroups()">Map Item Group</button>
    </div>
               
    </div>

    <ngx-spinner></ngx-spinner>
  </div>



