<h3 mat-dialog-title>Update Journals Configuartion</h3>

<div>
  <div *ngIf="!loading">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Included Over Groups
        </mat-panel-title>
      </mat-expansion-panel-header>
          <div *ngIf="overGroups?.length > 0">
            <section class="example-section" name="Over Group" *ngFor="let group of overGroups">
              <mat-checkbox class="example-margin"  [(ngModel)]="group.checked">{{group.over_group}}</mat-checkbox>
            </section>
          </div>           
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cost Centers Mapping To Locations
        </mat-panel-title>

          </mat-expansion-panel-header>

          <!-- [columns]="columns"
          [selected]="selectedCostCenters"
          [selectionType]="'checkbox'"
          [selectAllRowsOnPage]="false"
          (select)='onSelect($event)' -->

          <div class="main" *ngIf="costCenters?.length > 0">
            <ngx-datatable  class="material" [rows]="costCenters" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true"  [sorts]="[]" >

        
                <ngx-datatable-column name="Cost Center">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.costCenter">{{row.costCenter}}</mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Currency">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <input matInput  placeholder="Currency"  [(ngModel)]="row.currency">
                  </ng-template>
              </ngx-datatable-column>

                <ngx-datatable-column name="Company">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <input matInput placeholder="Company"  [(ngModel)]="row.company">
                  </ng-template>
              </ngx-datatable-column>
                
                <ngx-datatable-column name="Department Id">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <input matInput  placeholder="Department"  [(ngModel)]="row.department">
                  </ng-template>
              </ngx-datatable-column>  
                
                <ngx-datatable-column name="Location">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <input matInput placeholder="Location"  [(ngModel)]="row.location">
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Project">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <input matInput placeholder="Project"  [(ngModel)]="row.project">
                </ng-template>
            </ngx-datatable-column>
              
              <ngx-datatable-column name="Account">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <input matInput  placeholder="Account"  [(ngModel)]="row.account">
                </ng-template>
            </ngx-datatable-column>  
              
              <ngx-datatable-column name="Intercompany">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <input matInput  placeholder="Intercompany"  [(ngModel)]="row.interCompany">
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Product">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <input matInput  placeholder="Product"  [(ngModel)]="row.product">
              </ng-template>
          </ngx-datatable-column>  
            
            <ngx-datatable-column name="Future 2">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <input matInput  placeholder="Future 2"  [(ngModel)]="row.future2">
              </ng-template>
          </ngx-datatable-column>

            </ngx-datatable>
        </div>

        </mat-expansion-panel>


        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Items And Groups Mangment
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div class="main" *ngIf="mappedItems?.length > 0">
            <ngx-datatable  class="material" [rows]="mappedItems" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true"  [sorts]="[]">
        
                <ngx-datatable-column name="Item">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.item}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Item Group">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.item_group}}
                  </ng-template>
              </ngx-datatable-column>
                
                <ngx-datatable-column name="Major Group">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.major_group}}
                  </ng-template>
              </ngx-datatable-column>  
                
                <ngx-datatable-column name="Over Group">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.over_group}}
                  </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
        </div>

        </mat-expansion-panel>

        <br>

        <div class="card-back">
            <button mat-flat-button (click)="onSaveClick()">Save</button>
            <button mat-flat-button (click)="onCancelClick()">Cancel</button>
          </div>
          <div class="card-back">
            <button mat-flat-button (click)="mapItemGroups()">Map Item Group</button>
          </div>
               
    </div>

    <ngx-spinner></ngx-spinner>
  </div>



