<div class="header">
    <!-- <span class="history" style="margin-right: 20px;"> See live orders your restaurants are receiving</span> -->

    <mat-form-field appearance="outline" class="history-dropdown" style="left: 30px !important">
        <mat-select class="form-controls" id="sync" placeholder="All Branches" [(ngModel)]="selectedBranch"
            (ngModelChange)="getSyncJobData()">
            <mat-option value={{branch.talabatBranchId}} *ngFor="let branch of branches"> {{branch.name}} </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- <button mat-flat-button class="filterButton" (click)="getTalabatOrders()">synchronize Orders</button> -->
    <button mat-flat-button class="filterButton" (click)="sendTalabatOrders()">Send Order</button>

</div>

<br>
<div id="myProgress">
    <mat-progress-bar mode="indeterminate" *ngIf="staticgetPosSalesLoading"></mat-progress-bar>
</div>

<br>

<div *ngIf="!orders.length">
    <mat-card class="example-card">
        <h2 class="cardHeader">No Orders</h2>
        <mat-card-content>
            <mat-list-item *ngIf="!orders.length">
                <span>There was no new data to fetch</span>
            </mat-list-item>
        </mat-card-content>
    </mat-card>
</div>
<br>
<div>
    <div>
        <div class="main" *ngIf="orders.length">
            <ngx-datatable class="material" [rows]="orders" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sortType]="'multi'">

                <ngx-datatable-column name="App Type" [width]="90">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.aggregatorName}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Order Status">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.orderStatus}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Reason">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.reason}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Order ID">
                    <!-- <ng-template let-row="row" ngx-datatable-cell-template>
                        <a class="group-name user-link" (click)="openOrderDetails(row)">{{row.talabatAdminOrder.externalId}}</a>
                    </ng-template> -->
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <a class="group-name user-link">{{row.talabatAdminOrder.externalId}}</a>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Restaurant">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.talabatAdminOrder.vendorName}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Status">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.talabatAdminOrder.state}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Order Placed at" [width]="90">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.talabatAdminOrder.timestamp | date: 'dd/MM/yyyy HH:mm:ss'}}
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
    <ngx-spinner></ngx-spinner>
</div>