@import "../approved-invoices-infor/approved-invoices-infor.component.scss";

.history{
    background-color: #e0e0e0;
    border-radius: 30%;
    padding: 7px;
    font-size: 20px;
    color: rgb(59, 98, 182)!important;
}