<nav class="navbar default-layout-navbar p-0 fixed-top d-flex flex-row nav-style">
    <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center brand-small">
      <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/image2vector(1).svg" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">

      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" (click)="toggleSidebar()">
        <span class="mdi mdi-menu icon-md"></span>
      </button>
      <ul class="navbar-nav w-100">
        <li class="nav-item w-100">
          <!-- <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" src="../assets/scss/components/loaders/_colored-balls.scss">
            <input type="text" class="form-control" placeholder="{{'Search Modules'}}" (input)="searchChange($event)">
          </form> -->
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-right">

        <li class="nav-item" ngbDropdown>
          <a class="nav-link" id="profileDropdown" ngbDropdownToggle>
            <div class="navbar-profile">
              <img class="img-xs rounded-circle border-left" src="assets/defaultImage.jpg" alt="">
              <p *ngIf="user != null" class="mb-0 d-none d-sm-block navbar-profile-name" style="margin-right: 5px;" translate>{{user.name}}</p>
              <i class="mdi mdi-dots-horizontal d-none d-sm-block"></i>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" ngbDropdownMenu aria-labelledby="profileDropdown">
            <h6 class="p-3 mb-0" translate>Profile</h6>
            <div class="dropdown-divider"></div>

            <!-- <a href="#" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon rounded-circle">
                  <i class="mdi mdi-wrench text-primary"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1" translate>Settings</p>
              </div>
            </a> -->

            <!-- <a href="#" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon rounded-circle">
                  <i class="mdi mdi-wrench text-primary"></i>
                </div>
        c      </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small" translate>Account settings</p>
              </div>
            </a>
             -->

            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item" (click)="Logout()">
              <div class="preview-thumbnail">
                <!-- bg-dark-->
                <div class="preview-icon rounded-circle">
                  <i class="mdi mdi-logout text-danger"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject mb-1" (click)="Logout()" translate>Log out</p>
              </div>
            </a>
            <!-- <div class="dropdown-divider"></div>
            <p class="p-3 mb-0 text-center" translate>Advanced settings</p> -->
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" (click)="toggleOffcanvas()">
        <span class="mdi mdi-menu icon-md"></span>
      </button>
    </div>
  </nav>