@import "../approved-invoices-infor/approved-invoices-infor.component.scss";

h3{
  margin:auto;
  margin-bottom: 10px;
  border-radius: 10px; 
  text-align: center;
  font-size: larger;
  font-weight: bold; 
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  width: 80%;
}

br{
  width:90%;
}

.right-col{
  position: fixed;
  width: 25%; 
  height: 73%; 
  float: left;
  margin-left: 2%;
}

.header{
  display: block;
  height: 3%;
  margin-top: 10;
}

.button-back {
  color: #ffffff;
  float: left;
  margin-right: 10px;
  background-color: rgb(59, 98, 182)!important;
}

.user-profile{
  display: inline-block;
  width: 100%;
  height: 100%;
}

.user-card{
  text-align: center;
  margin-top: 25px;
  padding-right: 0;
  width: 100%;
  height: 530px;
  box-shadow:0 0 5px 5px rgb(207, 207, 207);
  border: 1px;
}

mat-card-content{
height: 100;
}

mat-card{
  padding-right: 0px;
  display: inline-block;
}

.user-name{
  margin: 5px;
  display: block;
  font-weight: bold;
  font-size: larger;
  line-height: 1.2;
  color: #044b8a;
}

.user-data table{
  margin-top: 10px;
  margin-left: 10px;
}

.user-data td{
  text-align: left;
  margin-right: 20px;
}

.title{
  margin-right: 20px;
  text-align: left;
  font-size: medium;
  font-weight: 600;
  color: #020202;
}

.res{
  text-align: right;
  font-size: medium;
  font-weight: 500;
  color: #4d4d4d;
}

.user-btn{
  margin-top: 10%;
  width: 100px;
  background-color: #3f51b5;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.headerBack {
  float: right;
  padding-left: 20px;
}

.left-col{
  margin: 1%;
  margin-top: 5.1%;
  width: 65%; 
  height: 100%; 
  float: right;
}

.wallet{
  margin-bottom: 10px;
}

.wallet-card{
  text-align: center;
  width: 91%;
  height: 230px;
  margin-bottom: 3%;
  margin-left: 1%;
  box-shadow:0 0 5px 5px rgb(207, 207, 207);
} 

.wallet-amount{
  width: 100%;
}

.list-group{
  width: 350px;
  height: 150px;
  display: inline-block;
  overflow:scroll;
  border-top:1px #000000;
}

.list-group-item-header{
  width: 350px;
  font-size: larger;
  font-weight: lighter;
  margin-bottom: 5px;
  margin: auto;
  color: rgb(252, 252, 252);
  background-color: #3F51B5 ;
  border-color: #3F51B5 ;
}

.list-group-item{
  text-align: left;
  position: relative;
  display: block;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.transaction-card{
  margin-right: 11px;
  height: 300px;
}

/* Create three equal columns that floats next to each other */
.column {
  width: 33%;
  text-align: center;
}

.two-column{
  float: left;
  width: 50%;
  text-align: center;
  text-align: center;
}

.trans-tabel{
  display: block;
  margin-top: 20px;
  margin-bottom: 100px;
  width: 100%;
  height: 60%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding-left: 10px;
}

.row{
  display: flex;
  overflow: hidden;    
  scroll-behavior: smooth;
}

.user-img{
  display: inline;
  width: 100px;
  min-height: 100px;
  border-radius: 50%;
}

.filter-btn{
  margin: 5px;
  margin-top: 7px;
  width: auto;
  background-color: rgb(241, 241, 241);
  color: black;
  font-weight: bold;
  box-shadow:0 0 3px 3px rgb(226, 226, 226);
}

