<div style="margin-top: 80px;">
    <div class="right-col">
        <div class="header">
            <button mat-flat-button class="button-back filterButton" (click)="backClicked()">Go Back</button>
            <button class="refresh-btn-view" (click)="refresh()">
                <img class="refresh-img" src="../../../assets/refresh.png">
            </button>
        </div>
        <div class="user-profile">
            <mat-card class="user-card">
                <mat-card-content>
                    <img class="user-img" src={{user.logoUrl}} alt="image">
                    <span class="user-name">
                        {{user.name}}
                    </span>
                    <span style="color: #1661a3;">{{user.email}}</span>
                    <hr>
                    <div class="user-data">
                        <table>
                            <tr>
                                <td class="title" style="float: left;" style="float: left;">Mobile </td>
                                <td> </td>
                                <td class="res" style="float: right;" style="float: right;"> {{user.mobile}}</td>
                            </tr>
                            <tr>
                                <td class="title" style="float: left;">Group </td>
                                <td> </td>
                                <td class="res" style="float: right;"> {{group.name}}</td>
                            </tr>
                            <tr *ngIf="hasRole('show_discount')">
                                <td class="title" style="float: left;">Discount</td>
                                <td> </td>
                                <td class="res" style="float: right;"> {{simphonyDiscount.discountRate}} %</td>
                            </tr>
                            <tr *ngIf="hasRole('show_discount')">
                                <td class="title" style="float: left;">Discount ID</td>
                                <td> </td>
                                <td class="res" style="float: right;"> {{simphonyDiscount.discountId}}</td>
                            </tr>
                            <tr>
                                <td class="title" style="float: left;">Status </td>
                                <td> </td>
                                <td class="res" style="float: right;">
                                    <label *ngIf="!user.deleted && !lessThanOrEqualZero(user.expire) " class="active-state">Active</label>
                                    <label *ngIf="user.deleted" class="deleted-state">Deleted</label>
                                    <label *ngIf="!user.deleted && lessThanOrEqualZero(user.expire)"  style="color: #1661a3;">Expired</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="title" style="float: left;">Creation Time </td>
                                <td> </td>
                                <td class="res" style="float: right;">{{user.creationDate | date: 'dd/MM/yyyy' }}</td>
                            </tr>
                            <tr>
                                <td class="title" style="float: left;">Last Update</td>
                                <td> </td>
                                <td class="res" style="float: right;">{{user.lastUpdate | date: 'dd/MM/yyyy' }}</td>
                            </tr>
                        </table>
                    </div>
                    <button class="user-btn" (click)="updateUserDialog()" mat-raised-button>Update</button>
                    <button class="user-btn" (click)="deleteUsers('true')" *ngIf="!user.deleted" mat-raised-button>Delete</button>
                    <button class="user-btn" (click)="deleteUsers('false')" *ngIf="user.deleted" mat-raised-button>Restore</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="left-col">
        <div class="wallet">
            <div class="column">
                <mat-card class="wallet-card">
                    <mat-card-content>
                        <h2>Guest Wallet</h2>
                        <div class="wallet-amount">
                            <h3>
                                <div>
                                    Wallet Credit
                                </div>
                                <div style="font-size: larger;">
                                    {{credit}} USD
                                </div>
                            </h3>
                            <button class="filter-btn" (click)="chargeWallet('add')" mat-raised-button>Charge</button>
                            <button class="filter-btn" (click)="deductWallet('deduct')" mat-raised-button>Deduct</button>
                        </div>

                    </mat-card-content>
                </mat-card>
            </div>
            <div class="column">
                <mat-card class="wallet-card wallet-revenue">
                    <mat-card-content>
                        <h2>Wallet Revenue Centers</h2>
                        <div class="list-group">
                            <div class="list-group-item-header">
                                Revenue Centers
                            </div>
                            <label class="list-group-item" *ngFor="let revenue of revenueCenters">
                                {{revenue.revenueCenter}}
                            </label>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="column">
                <mat-card class="wallet-card">
                    <mat-card-content>
                        <h2>Guest Card</h2>
                        <h3>
                            <div>
                                Card Number
                            </div>
                            <div style="font-size: larger;">
                                {{user.code}}
                            </div>
                        </h3>
                        <button class="filter-btn" (click)="send('Email')" mat-raised-button>Send Mail</button>
                        <button class="filter-btn" (click)="send('SMS')" mat-raised-button>Send SMS</button>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="trans-tabel">
            <div class="title-card">
                Card History
            </div>
            <div *ngIf="walletHistoryList.walletHistoryData.length == 0">
                <mat-card class="transaction-card">
                    <mat-card-content>
                        <div style="text-align: center;">
                            <img src="../../../assets/empty-box.png" alt="image" class="empty-box">
                            <p>You do not have any recent history.</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="walletHistoryList.walletHistoryData.length != 0">
                <ngx-datatable class="material" [loadingIndicator]="walletHistoryList.showLoading"
                    [messages]="walletHistoryList.messages"
                    style="border-radius:1%; width: 98%; height: 310px; display: inline-block;" [sortType]="'multi'"
                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"
                    [scrollbarH]="true" [rows]="walletHistoryList.walletHistoryData"
                    [selected]="walletHistoryList.selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false"
                    [scrollbarH]="true">
                    
                    <ngx-datatable-column name="Opreation Type">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.operation}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Operation Amount">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.amount}} $
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Previous Balance">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.previousBalance}} $
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="New Balance">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.newBalance}} $
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Opreation Time">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.date | date: 'dd/MM/yyyy HH:mm:ss' }}
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
    <ngx-spinner></ngx-spinner>
</div>