<h3 mat-dialog-title>Update Approved Invoice Configuartion</h3>

<div>
    <!-- Oracle Hospitality Configurations -->
    <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Oracle Hospitality Configurations
          </mat-panel-title>
        </mat-expansion-panel-header>
  
<div class="container" *ngIf="!loading">
    <form  class="my-form">
        <div >
            <mat-form-field class="example-full-width">
              <mat-select matInput id="timePeriod" name="timePeriod" placeholder="Time Period"  
              [(ngModel)]="syncJobType.configuration.timePeriod">
                  <mat-option value="All">All</mat-option>
                  <mat-option value="Today">Today</mat-option>
                  <mat-option value="Yesterday">Yesterday</mat-option>
                  <mat-option value="Current Month">Current Month</mat-option>
                  <mat-option value="Last Month">Last Month</mat-option>
                  <mat-option value="Current Year">Current Year</mat-option>
                  <mat-option value="Last Year">Last Year</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
  </form>
  </div>
          
      </mat-expansion-panel>

          <!-- Infor Sun System Configurations -->
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Infor Sun System
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="container" *ngIf="!loading">
        <form  class="my-form">
            <div >
                <mat-form-field class="example-full-width">
                  <mat-select matInput id="postingType" name="postingType" placeholder="Posting Type"  
                  [(ngModel)]="syncJobType.configuration.postingType">
                     <mat-option value="0">0</mat-option>
                     <mat-option value="1">1</mat-option>
                     <mat-option value="2">2</mat-option>
                   </mat-select>
                </mat-form-field>
            </div>

            <div >
              <mat-form-field class="example-full-width">
                <input matInput id="businessUnit" name="businessUnit" placeholder="Business Unit"  
                [(ngModel)]="syncJobType.configuration.businessUnit">
            </mat-form-field>
          </div>
           <div >
            <mat-form-field class="example-full-width">
              <input matInput id="journalSource" name="journalSource" placeholder="Journal Source"  
              [(ngModel)]="syncJobType.configuration.journalSource">
          </mat-form-field>
        </div>
          <div >
              <mat-form-field class="example-full-width">
                <input matInput id="journalType" name="journalType" placeholder="Journal Type"  
                [(ngModel)]="syncJobType.configuration.journalType">
            </mat-form-field>
         </div>
          <div >
            <mat-form-field class="example-full-width">
              <input matInput id="currencyCode" name="currencyCode" placeholder="Currency Code"  
              [(ngModel)]="syncJobType.configuration.currencyCode">
          </mat-form-field>
        </div>

        <div >
          <mat-form-field class="example-full-width">
            <input matInput id="inventoryAccount" name="inventoryAccount" placeholder="Inventory Account"  
            [(ngModel)]="syncJobType.configuration.inventoryAccount">
        </mat-form-field>
      </div>
          <div >
            <mat-form-field class="example-full-width">
              <input matInput id="expensesAccount" name="expensesAccount" placeholder="Expenses Account"  
              [(ngModel)]="syncJobType.configuration.expensesAccount">
          </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput id="suspenseAccount" name="suspenseAccount" placeholder="Suspense Account"  
              [(ngModel)]="syncJobType.configuration.suspenseAccount">
          </mat-form-field>
          </div>
        </form>
</div>        
    </mat-expansion-panel>

    

          <!-- Loction Ledger Analysis Configurations -->
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Loction Ledger Analysis
              </mat-panel-title>
            </mat-expansion-panel-header>
      
                <div class="container" *ngIf="!loading">
                  <form  class="my-form">

                    <div >
                      <mat-form-field class="example-full-width">
                        <mat-select matInput id="locationAnalysis" name="locationAnalysis" placeholder="Location Ledger Analysis"  
                        [(ngModel)]="syncJobType.configuration.locationAnalysis">
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                            <mat-option value="3">3</mat-option>
                            <mat-option value="4">4</mat-option>
                            <mat-option value="5">5</mat-option>
                            <mat-option value="6">6</mat-option>
                            <mat-option value="7">7</mat-option>
                            <mat-option value="8">8</mat-option>
                            <mat-option value="9">9</mat-option>
                            <mat-option value="10">10</mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
                </form>
                </div>
              
          </mat-expansion-panel>      
              <!-- Analysis Configurations -->
              <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Analysis
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="main">
                  <ngx-datatable class="material" [rows]="analysis" [columnMode]="'force'" [headerHeight]="50"
                      [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true"  [sorts]="[]">
              
                      <ngx-datatable-column name="Analysis">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <mat-checkbox class="example-margin" [(ngModel)]="row.checked" *ngIf="row.number">Analysis {{row.number}}</mat-checkbox>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Code Element">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput  placeholder="Code Element"  [(ngModel)]="row.codeElement">
                      </ng-template>
                    </ngx-datatable-column>

                  </ngx-datatable>
              </div>

              </mat-expansion-panel>

      <!-- Cost Centers -->
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Cost Centers Mapping To Account Code
          </mat-panel-title>
        </mat-expansion-panel-header>

            <div  *ngIf="!loading">
                <div *ngIf="!costCenterLoding">
                    <div  *ngIf="costCenters?.length == 0">
                        <mat-card class="example-card">
                                <mat-card-header>
                                  <mat-card-title>Error</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                  <p>
                                        Error happend while fetching cost centers, make sure you have cost centers.
                                  </p>
                                  
                                </mat-card-content>
                        </mat-card>
                    </div>
                    
                    <div class="main" *ngIf="costCenters?.length > 0">
                        <ngx-datatable *ngIf="!loading" class="material" [rows]="costCenters" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true"  [sorts]="[{prop: 'cost_center', dir: 'asc'}]">
                    
                            <ngx-datatable-column name="Cost Center">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.costCenter}}
                                </ng-template>
                            </ngx-datatable-column>
                            
  
                            <ngx-datatable-column name="Account Code">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                <input matInput  placeholder="Account Code"  [(ngModel)]="row.accountCode">
                              </ng-template>
                          </ngx-datatable-column>

                          <ngx-datatable-column name="Reference">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                              <input matInput  placeholder="Reference"  [(ngModel)]="row.costCenterReference">
                            </ng-template>
                        </ngx-datatable-column> 

                        </ngx-datatable>
                    </div>        
            </div>     
            </div>

      </mat-expansion-panel>
      <br>

      <div class="card-back">
        <button mat-flat-button (click)="onSaveClick()">Save</button>
        <button mat-flat-button (click)="onCancelClick()">Cancel</button>
    </div>
      <ngx-spinner></ngx-spinner>
</div>
