<div class="config-style">
    <div>
        <h3>Reward Points Settings</h3>
        <div *ngIf="generalSettings != null">
            <mat-accordion multi>
                <!-- Point Calculation Settings -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Point Calculation Settings
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div>
                        <strong>Reward Points:</strong>
                        <input matInput placeholder="10" type="number" min="0"  [(ngModel)]="generalSettings.pointReward"/> %
                    </div>
                    <br>
                    <div>
                        <strong>Points Redemption 1$ = </strong> 
                        <input matInput placeholder="1" type="number" min="0" [(ngModel)]="generalSettings.pointsRedemption" /> Points
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <br>
            
            <div class="card-back">
                <button mat-flat-button (click)="onSaveClick()" class="filterButton saveButton">Save</button>
            </div>

            <ngx-spinner></ngx-spinner>
        </div>
    </div>

</div>