@import "../../../../assets/scss/syncs.scss";
@import "../pos-machine-mapping/pos-machine-mapping.component.scss";

.card-title{
    margin-right: 10px;
}

form {
    .form-input {
        label {
            font-size: .8125rem;
        }
        .form-control {
            background: transparent;
            border-radius: 0;
            font-size: .9375rem;
        }
    }
}