@import "../approved-invoices-infor/approved-invoices-infor.component.scss";

body{
  width: 85;
}

.header {
  text-align: end;
  padding: 4px 4px 4px 4px;
  height: 4vh;
}
.headerBack {
  float: right;
  padding-left: 20px;
}
.stat-card{
  text-align: left;
  display: block;
  margin: auto;
  margin-top: 10px;
  background: #ffffff;
  border: 1px solid #dadada;
  height: 170 px;
  width: 77%;
}

.stat-card-bottom{
  text-align: left;
  margin: auto;
  margin-bottom: 10px;
  background: #f8f8f8;
  border: 1px solid #dadada;
  height: 10px;
  width: 77%;
}

.chart-card{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  width: 85%;
}

.transaction-card{
  margin-right: 11px;
  height: 300px;
}

/* Create three equal columns that floats next to each other */
.column {
  width: 33%;
  text-align: center;
}

.two-column{
  float: left;
  width: 50%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding-left: 10px;
}
.row{
  display: flex;
  overflow: hidden;    
  scroll-behavior: smooth;
}

.user-img{
  display: inline;
  width: 70px;
  min-height: 70px;
  border-radius: 50%;
}

.filter-btn{
  width: 120px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

.total-number{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 70px;
color: #7e7e7e;
}

.total-text{
  padding-top: 10%;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #2f48a1;
  display: inline;
  }

.card-img{
  width: 30%;
  height: 45%;
  padding: 5% 5% 0% 0%;
  float: left;
}

.drop-button{
  font-size: large;
margin-top: 10px;;
margin-right: 0;
color: #000000;
background: #ececec;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
margin-right: 30px;
}

.drop-down-button{
  margin-top: 10px;;
  margin-left: 0;
  color: #000000;
  background: #ebebeb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  }
  
.drop-img{
  width: 25px;
  height: 23px;
  padding: 10px;
}

// .box-bottom-text{
//   padding-bottom:10px ;
// }