<div class="header" style="margin-bottom: 15px;">

    <div class="btn-group mr-3">

        <button mat-flat-button type="button" class="drop-button" (click)="openFilter()">
            <img class="drop-img" src="../../../assets/calendar(1).png">
            Filter By Date
        </button>

    </div>

</div>

<div class="row">
    <div class="column">
        <mat-card class="stat-card">
            <mat-card-content>
                <h2>Current In House</h2>
                <div class="row">
                    <div class="two-column" style="text-align: left;">
                        <img class="card-img" src="../../../assets/house.png">
                    </div>
                    <div class="two-column">
                        <div class="total-number">
                            {{totalCurrentInHouse}}
                        </div>
                        <div class="total-text">
                            In House
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="stat-card-bottom">
            <mat-card-content>
                <div>
                    this weel V/s last week
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="column">
        <mat-card class="stat-card">
            <mat-card-content>
                <h2>Check In</h2>
                <div class="row">
                    <div class="two-column" style="text-align: left;">
                        <img class="card-img" src="../../../assets/check-in 1.png">
                    </div>
                    <div class="two-column">
                        <div class="total-number" style="color: #2b55df;">
                            {{totalCheckIn}}
                        </div>
                        <div class="total-text">
                            Total Check In
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="stat-card-bottom">
            <mat-card-content>
                <div>
                    this weel V/s last week
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="column">
        <mat-card class="stat-card">
            <mat-card-content>
                <h2>Check Out</h2>
                <div class="row">
                    <div class="two-column" style="text-align: left;">
                        <img class="card-img" src="../../../assets/check-out 1.png">
                    </div>
                    <div class="two-column">
                        <div class="total-number" style="color: #f1c343;">
                            {{totalcheckOut}}
                        </div>
                        <div class="total-text">
                            Total Check Out
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="stat-card-bottom">
            <mat-card-content>
                <div class="box-bottom-text">
                    this weel V/s last week
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="column">
        <mat-card class="stat-card">
            <mat-card-content>
                <h2>Transactions</h2>
                <div class="row">
                    <div class="two-column" style="text-align: left;">
                        <img class="card-img" src="../../../assets/transaction 1.png">
                    </div>
                    <div class="two-column">
                        <div class="total-number" style="color: #ee3737;">
                            {{totalTransactions}}
                        </div>
                        <div class="total-text">
                            Transaction
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="stat-card-bottom">
            <mat-card-content>
                <div>
                    this weel V/s last week
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>


<div class="row">
    <div class="two-column">
        <mat-card class="chart-card">
            <mat-card-content>
                <div style="display: inline-flexbox;">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                        [plugins]="lineChartPlugins">
                    </canvas>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
    <div class="two-column">
        <mat-card class="chart-card">
            <mat-card-content>
                <div style="display: inline-flexbox;">
                    <canvas baseChart [data]="pieChartData" [chartType]="pieChartType" [options]="pieChartOptions"
                        [plugins]="pieChartPlugins" [legend]="pieChartLegend" [labels]="pieChartLabels">
                    </canvas>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="main">

    <!-- <div *ngIf="transactionList.transactionData.length == 0"> 
        <mat-card class="transaction-card">
            <mat-card-content>
                <div>
                    <img src="../../../assets/activity.png" alt="image">
                    <p>You do not have any recent activity.</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div> -->
    <div class="row">
        <div class="tow-column" style="width: 70%;">
            <div *ngIf="transactionsData.length != 0">
                <ngx-datatable class="material" [loadingIndicator]="transactionsList.showLoading" style="width: 97%;"
                    [messages]="transactionsList.messages" [sortType]="'multi'" [columnMode]="'force'"
                    [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
                    [rows]="transactionsData" [selected]="transactionsList.selected" [selectionType]="'checkbox'"
                    [selectAllRowsOnPage]="false" [scrollbarH]="true">

                    <ngx-datatable-column name="Booking Number">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.bookingNumber}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Phone Number">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.phoneNumber}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="User Name">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.guestName}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Web Site">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.webSite}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Check In Date">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.checkInDate}}
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
        </div>
        <div class="tow-column" style="width: 30%; ">
            <div>
                <mat-card>
                    <mat-card-content>
                        <div style="display: block; height: 535px;">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" 
                                [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                                [chartType]="barChartType">
                            </canvas>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

</div>
<ngx-spinner></ngx-spinner>