<h3>Booked Transfer Details</h3>

<div *ngIf="!transferDetails.length">
    <br>
    <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>No Data</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                    There was no details in this transfer. 
                <a  (click)="back()">back</a>
              </p>
              
            </mat-card-content>
    </mat-card>
    </div>
    
<div>

<div class="main" *ngIf="transferDetails.length">
    <div class="back">

    <button mat-flat-button (click)="back()">Back</button>
    </div>
    <br>

<ngx-datatable *ngIf="!loading" class="material" [rows]="transferDetails" [columnMode]="'force'" [headerHeight]="50"
    [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true"  [sorts]="[{prop: 'status', dir: 'asc'}]">

    <ngx-datatable-column name="Item/Recipe_no.">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.recipeNo}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Item">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.item}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Unit">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.unit}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="qty">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.qty}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Par">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.par}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Price">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.price}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Total">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.total}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Reference">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.reference}}
            </ng-template>
        </ngx-datatable-column>

</ngx-datatable>

</div>
<ngx-spinner></ngx-spinner>
</div>
