<!-- Cost Centers -->
<mat-expansion-panel >
<mat-expansion-panel-header>
    <mat-panel-title>
    Cost Centers Mapping To Account Code
    </mat-panel-title>
</mat-expansion-panel-header>

    <div  *ngIf="!loading">
        <div *ngIf="!costCenterLoding">
            <div  *ngIf="costCenters?.length == 0">
                <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Error</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Error happend while fetching cost centers, make sure you have cost centers.
                            </p>
                            
                        </mat-card-content>
                </mat-card>
            </div>
            
            <div class="main" *ngIf="costCenters?.length > 0">
                <ngx-datatable *ngIf="!loading" class="material" [rows]="costCenters" [columnMode]="'force'" [headerHeight]="50"
                    [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true"  [sortType]="'multi'">
            
                    <ngx-datatable-column name="Cost Center">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.costCenter}}
                        </ng-template>
                    </ngx-datatable-column>
                    

                    <ngx-datatable-column name="Account Code">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput  placeholder="Account Code"  [(ngModel)]="row.accountCode">
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Reference">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input matInput  placeholder="Reference"  [(ngModel)]="row.costCenterReference">
                    </ng-template>
                </ngx-datatable-column> 

                </ngx-datatable>
            </div>        
    </div>     
    </div>

</mat-expansion-panel>
<br>