<div class="schedualer_view">
    <h1 mat-dialog-title>Foodics Integration Missing</h1>
    <div mat-dialog-content>
        <div class="container">
            <h5>It seems that you didn't finish the integration step to connect your account with foodics</h5>
        </div>
    </div>
    <div mat-dialog-actions class="btns">
        <button mat-button class="groups-buttons" (click)="onOkClick()">Ok</button>
        <button mat-flat-button class="button groups-buttons" (click)="redirectToFoodicsIntegration()">Integrate</button>
    </div>
    <!-- <div mat-dialog-actions class="btns">
        <button mat-flat-button class="button groups-buttons" (click)="onOkClick()">Ok</button>
        <button mat-flat-button class="button groups-buttons" (click)="redirectToFoodicsIntegration()">Start Integration</button>
    </div> -->
</div>