
<div class="header">
    <button mat-flat-button (click)="getSuppliersSyncJob()">Sync Suppliers</button>
</div>
<br>
<div class="main">
    <ngx-datatable *ngIf="!loading" class="material" [rows]="dataSource" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true" [sorts]="[{prop: 'Supplier', dir: 'asc'}]">
        <ngx-datatable-column name="Supplier">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.supplier}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="SupplierID">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.supplierId}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="SupplierStatus">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.status}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="SupplierNumber">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.supplierNumber}}
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
    <ngx-spinner></ngx-spinner>
</div>
