
<div class="header">
    <div *ngIf="success" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong> Getting suppliers from Fusion to MyInventory Done.
    </div>

    <div *ngIf="!success" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Danger!</strong> Getting suppliers from Fusion to MyInventory failed.
          </div>
    <button mat-flat-button (click)="getSuppliersSyncJob()">Get Suppliers</button>
</div>
<br>
<div class="main">
    <ngx-datatable *ngIf="!loading" class="material" [rows]="dataSource" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true" [sorts]="[{prop: 'Supplier', dir: 'asc'}]">
        <ngx-datatable-column name="Supplier">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.supplier}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="SupplierID">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.supplierId}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="SupplierStatus">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.status}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="SupplierNumber">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.supplierNumber}}
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
    <ngx-spinner></ngx-spinner>
</div>