<h3>Suppliers</h3>

<div class="header">
    <span class="history"> Sync Job History </span>

    <select class="custom-select" (change)="getSyncJobData()" [(ngModel)]="selectedJob">
        <option [ngValue]="job" *ngFor="let job of jobs">
            {{job.creation_date}} - {{job.status}}</option>
    </select> 
    <button mat-flat-button (click)="getSuppliersSyncJob()">Sync Suppliers Now</button>
</div>
<br>
<div *ngIf="selectedJob">
    <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title class="title">Sync Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
            <mat-list-item>      
                <span class="key">Sync status: </span>
                <span class="value" *ngIf="selectedJob.status">{{selectedJob.status}}</span>
                <span class="value" *ngIf="!selectedJob.status">No Info</span>
            </mat-list-item>
            <mat-list-item>      
                <span class="key">Start Date: </span>
                <span class="value" *ngIf="selectedJob.creation_date">{{selectedJob.creation_date}}</span>
                <span class="value" *ngIf="!selectedJob.creation_date">No Info</span>
            </mat-list-item>
            <mat-list-item>      
                <span class="key">End Date: </span>
                <span class="value" *ngIf="selectedJob.end_date">{{selectedJob.end_date}}</span>
                <span class="value" *ngIf="!selectedJob.end_date">No Info</span>
            </mat-list-item>
            <mat-list-item *ngIf="!dataSource.length"> 
            <span>
                There was no new data to sync in this job, You can sync suppliers now from <a (click)="getSuppliersSyncJob()">here</a>
            </span>
            </mat-list-item>
            </mat-card-content>
    </mat-card>
    <br>
    </div>
    

<div>
<div *ngIf="!selectedJob">
        <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>No Data</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                        There was no new data to sync in this job, You can sync suppliers now from 
                    <a  (click)="getSuppliersSyncJob()">here</a>
                  </p>
                  
                </mat-card-content>
        </mat-card>
        </div>
        
<div class="main" *ngIf="dataSource.length">
    <ngx-datatable *ngIf="!loading" class="material" [rows]="dataSource" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true" 
        [sorts]="[{prop: 'supplier', dir: 'asc'}, {prop: 'supplierId', dir: 'asc'}, {prop: 'supplierStatus', dir: 'asc'}, 
        {prop: 'supplierNumber', dir: 'asc'}]">
        <ngx-datatable-column name="Status">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.status}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Reason">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.reason}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Details">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a (click)="showDetails(row)">Click here</a>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Supplier">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.data.supplier}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="SupplierID">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.data.supplierId}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Supplier Status">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.data.status}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Supplier Number">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.data.supplierNumber}}
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
</div>
<ngx-spinner></ngx-spinner>

</div>
