.ngx-datatable.scroll-vertical {
    // height: 100vh;
    width: 100%;
}

.main {
    text-align: center;
    padding: 4px 16px 4px 16px;
    height: 95vh;
}

.header {
    padding-top: 10px;
    text-align: end;
    padding: 4px 16px 4px 16px;
    height: 5vh;
}

.headerBack {
    float: right;
    margin-left: 20px;
    background-color: #037c8b;
}


#myProgress {
    width: 50%;
    margin: auto;
    background-color: #ddd;
}

#myBar {
    width: 0%;
    height: 30px;
    background-color: blue;
}

button {
    color: white;
    background-color: #3f51b5;
    margin-right: 10px
}

.button-disabled {
    background-color: #9ac7f3 !important;
    min-width: 161.59px;
}

.card-back {
    text-align: center;
    padding: 4px 16px 4px 16px;
    height: 5vh;
}

.example-card {
    width: 50%;
    margin: auto;
    padding: 10px;
}

.custom-select select {
    width: 80%;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner 0.8s linear infinite;
}

.mat-form-field{
    padding-right: 10px;
}

.active-state{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    // font-size: 13px;
    color: #388E3C;
}

.inactive-state{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    // font-size: 13px;
    color: #666666;
}
.deleted-state{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    // font-size: 13px;
    color: #FC544B;
}