@import '../user-profile/user-profile.component.scss';
@import '../add-app-group/add-app-group.component.scss';

button {
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
  background-color: #ffb560;
  width: 100px;
}

.groups-buttons {
  width: 100px;
  margin: 10px 5px 20px 20px
}

.list-group-item {
  padding-left: 20px;
}

::ng-deep .mat-dialog-container {
  height: auto !important;
}

.charge_form{
  ::ng-deep .mat-dialog-content{
      padding: 0 40px;
  }
}