<div *ngIf="!showVoucher">
    <span *ngIf="inCharge" mat-dialog-title >Charge Wallet</span>
    <span *ngIf="inDeduct" mat-dialog-title >Deduct From Wallet</span>
    <div class="row charge_form">
        <div mat-dialog-content>
            <form [formGroup]="form" class="my-form">
                <div class="form-group">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Amount" formControlName="amount" required maxlength="10" required>
                        <mat-error *ngIf="form.controls.amount.hasError('required')">
                            Amount is required.
                        </mat-error>
                        <mat-error *ngIf="form.controls.amount.hasError('maxlength')">
                            Amount is to long.
                        </mat-error>
                        <mat-error *ngIf="form.controls.amount.hasError('pattern')">
                            Amount Is Not Well Formatted. Please Enter Whole Numbers Only
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div class="config-style" *ngIf="inCharge">
            <ngx-datatable class="material" style="max-height: 250px;" [loadingIndicator]="revenueCenterList.showLoading"
                [messages]="revenueCenterList.messages" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
                [rows]="revenueCenterList.revenueCenterData" [selected]="revenueCenterList.selected"
                [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" (select)='onSelect($event)' [scrollbarH]="true">
        
                <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                    <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                        let-selectFn="selectFn">
                        <input class="regular-checkbox" type="checkbox" [checked]="allRowsSelected"
                            (change)="selectFn(!allRowsSelected)" />
                    </ng-template>
        
                    <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                        let-onCheckboxChangeFn="onCheckboxChangeFn">
                        <input class="regular-checkbox" type="checkbox" [checked]="isSelected"
                            (change)="onCheckboxChangeFn($event)" />
                    </ng-template>
                </ngx-datatable-column>
        
                <ngx-datatable-column name="Revenue Center">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span>{{row.revenueCenter}}</span>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
        <div mat-dialog-actions>
            <button mat-button cdkFocusInitial (click)="onSaveClick()" class="groups-buttons">
                <label [hidden]="!inCharge ">Charge</label>
                <label [hidden]="!inDeduct">Deduct</label>
            </button>
            <button mat-button (click)="onCloseClick()" class="groups-buttons"> Cancel </button>
        </div>
    </div>
</div>