@import '../user-profile/user-profile.component.scss';
@import '../add-app-group/add-app-group.component.scss';

button {
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
  background-color: #ffb560;
  width: 100px;
}

.groups-buttons {
  width: 100px;
}

.list-group-item {
  padding-left: 20px;
}

::ng-deep .mat-dialog-container {
  height: auto !important;
}
