<h1 mat-dialog-title>Cahrge Wallet</h1>

<div mat-dialog-content>
    <form [formGroup]="form" class="my-form">
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Amount" formControlName="amount" required maxlength="50">
                <mat-error *ngIf="form.controls.amount.hasError('required')">
                    Amount is required.
                  </mat-error>
                  <mat-error *ngIf="form.controls.amount.hasError('maxlength')">
                    Amount is to long.
                  </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="onSaveClick()" > Charge </button>
    <button mat-button (click)="onNoClick()"> Cancel </button>
</div>