<mat-tab-group>

    <mat-tab label="Approved Invoices">
        <ng-template matTabContent>
            <app-approved-invoice></app-approved-invoice>
        </ng-template>
    </mat-tab>

    <mat-tab label="Suppliers">
        <ng-template matTabContent>
            <app-suppliers></app-suppliers>
        </ng-template>
    </mat-tab>

    <mat-tab label="Vendors">
        <ng-template matTabContent>
            <app-home></app-home>
        </ng-template>
    </mat-tab>
    
</mat-tab-group>