<h1 mat-dialog-title>Delete Groups</h1>

<div mat-dialog-content>

    <form [formGroup]="form" class="my-form">
<!--  (change)="updateDeleteUsers(withUsers)" -->
        <div class="form-group" >
            <mat-checkbox class="example-margin" style="padding-right: 10px;" 
            [(ngModel)]="withUsers">
            <label [hidden]="isDelete" > Restore Users </label> 
            <label [hidden] = "!isDelete" > Delete Users </label> 
            </mat-checkbox>                   
        </div>
<!-- && !withUsers -->
        <div *ngIf="groups" class="form-group" style="padding-top: 10px;">
            <mat-form-field class="example-full-width">
                <mat-select matInput id="groups" name="groups" placeholder="Parent Group" formControlName="parentGroup">
                    <mat-option></mat-option>
                    <mat-option [value]=c *ngFor="let c of groups">{{c.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </form>
</div>

<div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="onConfirmClick()" >Confirm</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
</div>