<div class="config-style">
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Product Mapping
            </mat-panel-title>
        </mat-expansion-panel-header>

        <ngx-datatable class="material" [loadingIndicator]="showLoading"
             [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
            [rows]="productsMappingNeedsAttention" [selectAllRowsOnPage]="false" [scrollbarH]="true">

            <ngx-datatable-column name="Product Name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <input matInput placeholder="Name" [(ngModel)]="row.name">
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Is Combo">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <mat-checkbox class="example-margin" [(ngModel)]="row.combo">
                    </mat-checkbox>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Product Talabat Id">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <input matInput placeholder="eg. 12345" [(ngModel)]="row.talabatProductId">
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Product FoodIcs Id">
                <!-- <ng-template let-row="row" ngx-datatable-cell-template>
                    <input matInput placeholder="eg. 12345" [(ngModel)]="row.foodIcsProductId">
                </ng-template> -->

                <ng-template let-row="row" ngx-datatable-cell-template> 
                    <div style="width: 100%;">
                        <form class="example-form" id="form" [formGroup]="tableForm">
                            <mat-form-field class="example-full-width" appearance="fill" style="width:25px" id="foodics_product_form_field" name="foodics_product_form_field">
                                <!-- <mat-label>Foodics Products</mat-label> -->
                                <div class='parent'>
                                    <div class='right-child'>
                                        <img style="border-radius: 50%; width: 25px;height: 25px;" src="assets/images/aggregators/burger.jpg" alt="logo" />
                                    </div>
                                    <div class='left-child '>
                                        <input type="text"
                                        style="width:120px"
                                        id="products_input"
                                        name="products_input"
                                        placeholder="Pick one"
                                        matInput
                                        aria-label="Number"
                                        ngModel 
                                        (ngModelChange)="onChangeInputEvent($event, getRowFormControlName(row))"
                                        [formControlName]="getRowFormControlName(row)"
                                        [matAutocomplete]="auto">
                                    </div>
                                </div>
                                <mat-autocomplete #auto="matAutocomplete" name="products_autocomplete" id="products_autocomplete" (optionSelected)="changeFoodicsProductMapping($event.option.value, row)">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option" name="product_option" id="product_option">
                                        <a class="sidebar-brand brand-logo" href="index.html"><img style="border-radius: 50%; width: 25px;height: 25px;" src="assets/images/aggregators/burger.jpg" alt="logo" /></a>
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </form>
                    </div>
                </ng-template> 

            </ngx-datatable-column>

            <ngx-datatable-column name="Modifiers Count">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.modifiers.length}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Modifiers">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-flat-button (click)="viewModifiersDialog(row)" class="filterButton table-btn">View</button>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </mat-expansion-panel>

    <br>
    <div class="card-back">
        <button mat-flat-button (click)="onSaveClick()" class="filterButton saveButton">Save</button>
    </div>
    <ngx-spinner></ngx-spinner>
</div>