<div class="main" >

    <div *ngIf="groupsList.groupsData.length != 0 || groupsList.showLoading" class="header">
        <button mat-flat-button (click)="addGroupDialog()" [disabled]="validateAddGroup()" class="groups-buttons" ><span class="mob-text">Add Group</span></button>
        <button mat-flat-button (click)="updateGroupDialog()" [disabled]="validateUpdateGroup()" class="groups-buttons"><span class="mob-text">Update Group</span></button>
        <button mat-flat-button (click)="deleteGroups('true')" [disabled]="validateDeleteGroup()" class="groups-buttons"><span class="mob-text">Delete Group</span></button>
        <button mat-flat-button (click)="deleteGroups('false')" [disabled]="validateRestoreGroup()" class="groups-buttons"><span class="mob-text">Restore Group</span></button>
    </div>

    <div *ngIf="groupsList.groupsData.length == 0 && !groupsList.showLoading" style="text-align: center;">
        <img style="max-width: 300px; margin-top: 100px;" src="../../../assets/no-user.png" alt="image">
        <p class="user-name">You haven't added any groups yet!</p>
        <button mat-flat-button (click)="addGroupDialog()" class="groups-buttons">ADD GROUPS</button>
    </div>

    <div *ngIf="groupsList.groupsData.length != 0 || groupsList.showLoading" >
        <ngx-datatable class="material" [loadingIndicator]="groupsList.showLoading" [messages]="groupsList.messages"
        [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
         [rows]="groupsList.groupsData" [selected]="groupsList.selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" 
        (select)='onSelect($event)' [scrollbarH]="true">
    
            <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [width]="7">
            <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
            <input class="regular-checkbox" type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
            </ng-template>
    
            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
             <input class="regular-checkbox" type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
            </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="Name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div *ngIf="row.deleted">
                        {{row.name}}
                    </div>
                    <div *ngIf="!row.deleted">
                        <a class="group-name" (click)="openSubGroup(row)">{{row.name}}</a>
                    </div>
                </ng-template>  
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Simphony Discount ID" *ngIf="hasFeature('loyalty')">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.simphonyDiscount.discountId}}
                </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="Discount Rate" *ngIf="hasFeature('loyalty')">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.simphonyDiscount.discountRate}} %
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="State">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <label *ngIf="!row.deleted" class="active-state">active</label>
                    <label *ngIf="row.deleted" class="deleted-state">deleted</label>
                </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="Creation Date">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.creationDate | date: 'dd/MM/yyyy HH:mm:ss' }}
                </ng-template>
            </ngx-datatable-column>
    
            <ngx-datatable-column name="Last Update">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.lastUpdate | date: 'dd/MM/yyyy HH:mm:ss' }}
                </ng-template>
            </ngx-datatable-column>

            
            <ngx-datatable-column name="Configuration" *ngIf="hasFeature('canteen')">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-button class="button" (click)="openCanteenConfigurations(row)" >Edit</button>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>

</div>

