@import "../approved-invoices-infor/approved-invoices-infor.component.scss";
  
.stat-card{
  margin: 10px;
  height: 225px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  text-align: center;
}

.two-column{
  float: left;
  width: 50%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding-left: 10px;
}

.user-img{
  max-width: 70px;
  border-radius: 50%;
}

.filter-btn{
  width: 120px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
}