<!-- <div class="header" style="margin-bottom: 15px; margin-left: 15px;">
    <button mat-flat-button class="button-back" (click)="refresh()">Refresh</button>
</div>  -->
<div class="row">
    <div class="column">
        <mat-card class="stat-card">
            <mat-card-content>
                <h2>Top Users</h2>
                <div [hidden]="users.length != 0">
                    <img class="user-img" src="../../../assets/defaultImage.jpg" alt="image">
                    <p class="user-name">There is no users yet</p>
                </div>
                <div class="row">
                    <div class="column" *ngFor="let user of users">
                        <img class="user-img" src={{user.logoUrl}} alt="image">
                        <p class="user-name"> {{user.name}}</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="column">
        <mat-card class="stat-card">
            <mat-card-content>
                <h2>Top Groups</h2>
                <div [hidden]="topGroups.length != 0">
                    <img class="user-img" src="../../../assets/defaultGroup.png" alt="image">
                    <p class="user-name">There is no groups yet</p>
                </div>
                <div class="row">
                    <div class="column" *ngFor="let group of topGroups">
                        <img class="user-img" src={{group.logoUrl}} alt="image">
                        <p class="user-name">{{group.name}}</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="column">
        <mat-card class="stat-card">
            <mat-card-content>
                <h2>Total Spend</h2>
                <form class="my-form">
                    <div class="row">
                        <div class="two-column" style="text-align: left;">
                            <button class="filter-btn" (click)="totalSpend('Totoal')" mat-raised-button>Total</button>
                            <button class="filter-btn" (click)="totalSpend('Today')" mat-raised-button>Today</button>
                            <button class="filter-btn" (click)="totalSpend('Last Week')" mat-raised-button>Last Week</button>
                            <button class="filter-btn" (click)="totalSpend('Last Month')" mat-raised-button>Last Month</button>
                        </div>
                        <div class="two-column">
                            <h3 style="border-radius: 10px; text-align: center; height: auto;">
                                <div>
                                    Total spend
                                </div>
                                <div>
                                    {{totalSpendM | number : '1.2-2'}} GHS
                                </div>
                            </h3>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="filter-container" >
    <div class="filter-title">
        <span style="display: inline-block; font-size: 20px; font-weight: bold; color: black;">Filter Transaction</span>
    </div>
    <div class="filter-buttons">

        <div class="five-column" style="width:20%;" > 
            <span style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 15px;">From</span>
            <input matInput placeholder="Start Date" type="date" name="fromDate" id="fromDate" [(ngModel)]="fromDate" class="custom-select">
            </div>
        <div class="five-column" style="width:20%;"> 
            <span style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 15px;">To</span>
            <input matInput placeholder="End Date" type="date" name="toDate" id="toDate" [(ngModel)]="toDate" class="custom-select">
        </div>

        <!-- <div class="five-column">
            <select class="custom-select" (change)="filterByGuestName()" [(ngModel)]="selectedGuest">
                <option value="" selected style="display:none">From</option>
                <option value=""></option>
                <option value="01111111111">0111111111</option>
                <option value="02222222222">0222222222</option
                 {{job.creationDate}} - {{job.status}}</option> [ngValue]="job" *ngFor="let job of jobs" (change)="getSyncJobData()" [(ngModel)]="selectedJob" 
            </select>
        </div>

        <div class="five-column">
            <select class="custom-select" (change)="filterByGuestName()" [(ngModel)]="selectedGuest">
                <option value="" selected style="display:none">To</option>
                <option value=""></option>
                <option value="01111111111">0111111111</option>
                <option value="02222222222">0222222222</option>
                {{job.creationDate}} - {{job.status}}</option> [ngValue]="job" *ngFor="let job of jobs" (change)="getSyncJobData()" [(ngModel)]="selectedJob" 
            </select>
        </div> -->

        <div class="five-column">
            <span style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 15px; margin-right:15px; margin-top: 25px;">Group</span>
            <select class="custom-select" [(ngModel)]="selectedGroupId">
                <!-- <option value="" selected style="display:none"></option> -->
                <option value="" selected>All Groups</option>
                <option  [ngValue]="group.id"  *ngFor="let group of groups">{{group.name}}</option>
                <!-- {{job.creationDate}} - {{job.status}}</option> [ngValue]="job" *ngFor="let job of jobs" (change)="getSyncJobData()" [(ngModel)]="selectedJob"  -->
            </select>
        </div>

    <!-- <div class="filter-view" *ngIf="guestNames.length">
        <div class="filter-item" [ngStyle]="props" *ngFor="let name of guestNames">
            <span matBadge="5" matBadgeOverlap="false">Text with a badge</span> 
            {{name}}
        </div>
    </div> -->

    <div class="five-column" style="float: right;">
        <button mat-stroked-button (click)="getTransInRangAndGroup()" class="filteration">Filter</button>
        <button mat-stroked-button (click)="restFilters()"  class="filteration" [disabled]="validatefilter()">Reset</button>
    </div> 

</div>

<div class="main">

    <div *ngIf="false"> 
        <mat-card class="transaction-card">
            <mat-card-content>
                <div>
                    <img src="../../../assets/activity.png" alt="image">
                    <p>You do not have any recent activity.</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div >
        <ngx-datatable class="material" [loadingIndicator]="transactionList.showLoading" [messages]="transactionList.messages" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
        [rows]="transactionList.transactionData" [selected]="transactionList.selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" [scrollbarH]="true">

        <ngx-datatable-column name="User Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.user.name}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Transaction Date">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.transactionDate | date: 'dd/MM/yyyy HH:mm:ss' }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Group">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.group.name}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Total Payment">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.totalPayment}} GHS
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Discount Rate">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.discountRate | number : '1.2-2'}} %
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="After Discount">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.afterDiscount | number : '1.2-2'}} GHS
            </ng-template>
        </ngx-datatable-column>

        </ngx-datatable>
    </div>

</div>
<ngx-spinner></ngx-spinner>