<div class="activity_body">
    <div class="row">
        <div class="column">
            <mat-card class="stat-card">
                <mat-card-content>
                    <h2>Top Guests</h2>
                    <div *ngIf="users.length == 0 || !transactionList.transactionData.length">
                        <img class="user-img" src="../../../assets/defaultImage.jpg" alt="image">
                        <p class="user-name">There is no Guests yet</p>
                    </div>
                    <div class="row row-center" *ngIf="users.length != 0 && transactionList.transactionData.length">
                        <div class="column" *ngFor="let user of users">
                            <img class="user-img" src={{user.logoUrl}} alt="image">
                            <p class="user-name" *ngIf="user.name != '- - - -'"> {{user.name}}</p>
                            <p class="user-name" *ngIf="user.name == '- - - -'"> {{user.code}}</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="column" *ngIf="hasRole('show_group')">
            <mat-card class="stat-card">
                <mat-card-content>
                    <h2>Top Groups</h2>
                    <div *ngIf="topGroups.length == 0 || !transactionList.transactionData.length">
                        <img class="user-img" src="../../../assets/defaultGroup.png" alt="image">
                        <p class="user-name">There is no groups yet</p>
                    </div>
                    <div class="row row-center" *ngIf="topGroups.length != 0 && transactionList.transactionData.length">
                        <div class="column" *ngFor="let group of topGroups">
                            <img class="user-img" src={{group.logoUrl}} alt="image">
                            <p class="user-name">{{group.name}}</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="column" *ngIf="hasRole('show_statistic')">
            <mat-card class="stat-card">
                <mat-card-content>
                    <h2>Top Revenues</h2>
                    <div *ngIf="topRevenueCenters.length == 0">
                        <img class="user-img" src="../../../assets/restaurant.png" alt="image">
                        <p class="user-name">There is no Revenue Centers yet</p>
                    </div>
                    <div class="row row-center">
                        <div class="column" *ngFor="let revenueCenter of topRevenueCenters">
                            <img class="user-img" src="../../../assets/restaurantImg.png" alt="image">
                            <p class="user-name">{{revenueCenter}}</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="column">
            <mat-card class="stat-card">
                <mat-card-content>
                    <h2>Total Spend</h2>
                    <form class="my-form">
                        <div class="row">
                            <div class="two-column" style="text-align: left;">
                                <button class="filter-btn" (click)="totalSpend('Totoal')"
                                    mat-raised-button>Total</button>
                                <button class="filter-btn" (click)="totalSpend('Today')"
                                    mat-raised-button>Today</button>
                                <button class="filter-btn" (click)="totalSpend('Last Week')" mat-raised-button>Last
                                    Week</button>
                                <button class="filter-btn" (click)="totalSpend('Last Month')" mat-raised-button>Last
                                    Month</button>
                            </div>
                            <div class="two-column">
                                <h3 style="border-radius: 10px; text-align: center; height: auto;">
                                    <div>
                                        Total spend
                                    </div>
                                    <div>
                                        {{totalSpendM | number : '1.2-2'}} {{getCurrency()}}
                                    </div>
                                </h3>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row" *ngIf="hasRole('show_statistic')">
        <div class="two-column" *ngIf="transactionList.transactionData.length">
            <mat-card class="chart-card">
                <mat-card-content>
                    <div style="display: block;" *ngIf="transactionList.transactionData.length">
                        <canvas baseChart [datasets]="rvcBarChartData" [labels]="rvcBarChartLabels"
                            [options]="barChartOptions" [plugins]="rvcBarChartPlugins" [legend]="rvcBarChartLegend"
                            [chartType]="rvcBarChartType">
                        </canvas>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="two-column" *ngIf="transactionList.transactionData.length">
            <mat-card class="chart-card">
                <mat-card-content>
                    <div style="display: block; width: 100%; height: 95%;">
                        <img src="../../../assets/group.png" class="people-img">
                        <img src="../../../assets/increase.png" class="chart-img">
                        <h3 class="guest-chart">
                            Average Number of Guests<br>
                            {{guestAverage}} Guests
                        </h3>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="filter-container loyalty-style" *ngIf="transactionList.allTransactionDataBeforeFilter && hasRole('see_group_filter')">

        <div class="filter-title">
            <span style="display: inline-block; font-size: 20px; font-weight: bold; color: black;">Filter
                Transaction</span>
        </div>

        <div class="filter-buttons">

            <div class="five-column">
                <mat-form-field appearance="outline" class="example-full-width creditForm">
                    <input matInput placeholder="Start Date" formContrlName="fromDate" id="fromDate" [(ngModel)]="fromDate"
                        [matDatepicker]="fromDatepicker" readonly>
                    <mat-icon matDatepickerToggleIcon (click)="resetPicker('fromDate')" [hidden]="!fromDate">clear</mat-icon>
                    <mat-datepicker-toggle matSuffix [for]="fromDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #fromDatepicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="five-column">
                <mat-form-field appearance="outline" class="example-full-width creditForm">
                    <input matInput placeholder="End Date" formContrlName="toDate" id="toDate" [(ngModel)]="toDate"
                        [matDatepicker]="toDatepicker" readonly>
                    <mat-icon matDatepickerToggleIcon (click)="resetPicker('toDate')" [hidden]="!toDate">clear</mat-icon>
                    <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #toDatepicker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="five-column" *ngIf="hasRole('see_group_filter')">
                <mat-form-field appearance="outline" class="example-full-width creditForm">
                    <mat-select class="custom-select" [(ngModel)]="selectedGroupId">
                        <mat-option value="" selected>All Groups</mat-option>
                        <mat-option value="group.id" *ngFor="let group of groups">{{group.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="five-column filterButtons" *ngIf="hasRole('see_group_filter')" style="width: 333px;">
                <button mat-flat-button (click)="extractExcelFile()"
                    [disabled]="transactionList.transactionData.length == 0" class="filterButton" style="height: 30px; margin-top: 5px;">Export To
                    Excel</button>
                <button mat-stroked-button (click)="getTransInRangAndGroup()" class="filterButton" style="height: 30px; margin-top: 5px;">Filter</button>
                <button mat-stroked-button (click)="resetFilter()" class="filterButton" style="height: 30px; margin-top: 5px;">Reset</button>
            </div>
        </div>
    </div>

    <div class="filter-container" *ngIf="transactionList.allTransactionDataBeforeFilter && !hasRole('see_group_filter')">
        <div class="filter-title">
            <span style="display: inline-block; font-size: 20px; font-weight: bold; color: black;">Filter
                Transaction</span>
        </div>
        <div class="filter-buttons">
            <div class="five-column">
                <mat-form-field appearance="outline" class="example-full-width creditForm">
                    <input matInput placeholder="Start Date" formContrlName="fromDate" id="fromDate"
                        (ngModelChange)="filterTransactions($event)" [(ngModel)]="fromDate"
                        [matDatepicker]="fromDatepicker" readonly>
                    <mat-icon matDatepickerToggleIcon (click)="resetPicker('fromDate')" [hidden]="!fromDate">clear
                    </mat-icon>
                    <mat-datepicker-toggle matSuffix [for]="fromDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #fromDatepicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="five-column">
                <mat-form-field appearance="outline" class="example-full-width creditForm">
                    <input matInput placeholder="End Date" formContrlName="toDate" id="toDate" [(ngModel)]="toDate"
                        (ngModelChange)="filterTransactions($event)" [matDatepicker]="toDatepicker" readonly>
                    <mat-icon matDatepickerToggleIcon (click)="resetPicker('toDate')" [hidden]="!toDate">clear
                    </mat-icon>
                    <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #toDatepicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="five-column" *ngIf="hasRole('see_group_filter')">
                <mat-form-field appearance="outline" class="example-full-width creditForm">
                    <mat-select class="custom-select" [(ngModel)]="selectedGroupId">
                        <mat-option value="" selected>All Groups</mat-option>
                        <mat-option value="group.id" *ngFor="let group of groups">{{group.name}}</mat-option>
                    </mat-select>
                    <mat-label>Group</mat-label>
                </mat-form-field>
            </div>
            <div class="five-column" *ngIf="hasRole('see_wallet_filter')">
                <mat-form-field appearance="outline" class="example-full-width creditForm">
                    <input matInput (input)="filterTransactions($event)" placeholder="Revenue Center"
                        formContrlName="revenue" id="revenue" [(ngModel)]="selectedRevenue">
                </mat-form-field>
            </div>
            <div class="five-column" *ngIf="hasRole('see_wallet_filter')">
                <mat-form-field appearance="outline" class="example-full-width creditForm">
                    <input matInput (input)="filterTransactions($event)" placeholder="Guest Name"
                        formContrlName="guestName" id="guestName" [(ngModel)]="selectedGuestName">
                </mat-form-field>
            </div>
            <div class="five-column" *ngIf="hasRole('see_wallet_filter')">
                <mat-form-field appearance="outline" class="example-full-width creditForm">
                    <input matInput (input)="filterTransactions($event)" placeholder="Card Number"
                        formContrlName="cardNumber" id="cardNumber" [(ngModel)]="selectedCardNum">
                </mat-form-field>
            </div>
            <div class="five-column" *ngIf="hasRole('see_wallet_filter')">
                <mat-form-field appearance="outline" class="example-full-width creditForm">
                    <mat-select class="custom-select" [(ngModel)]="selectedCardStatues"
                        (ngModelChange)="filterTransactions($event)">
                        <mat-option value="" selected>All Statues</mat-option>
                        <mat-option value="{{statue}}" *ngFor="let statue of statues">{{statue}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="five-column filterButtons" style="width: 140px;" *ngIf="hasRole('see_wallet_filter')">
                <button mat-flat-button (click)="extractExcelFile()"
                    [disabled]="transactionList.transactionData.length == 0" class="filterButton"
                    style="height: 30px; margin-top: 5px;">Export To Excel</button>
            </div>
            <!-- <div class="filter-view" *ngIf="selection()">
                <div class="filter-item" [ngStyle]="props" *ngFor="let selection of selections">
                    {{selection}}
                </div>
            </div> -->
        </div>
    </div>
    <div class="main">

        <div *ngIf="transactionList.transactionData.length == 0">
            <mat-card class="transaction-card">
                <mat-card-content>
                    <div>
                        <img src="../../../assets/empty-box.png" alt="image" class="empty-box">
                        <p>You do not have any activity.</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div *ngIf="transactionList.transactionData.length != 0">
            <ngx-datatable class="material" [loadingIndicator]="transactionList.showLoading"
                [messages]="transactionList.messages" style="width: 98%" [sortType]="'multi'" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
                [rows]="transactionList.transactionData" [selected]="transactionList.selected" [sortType]="'multi'"
                [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" [scrollbarH]="true">

                <ngx-datatable-column name="" *ngIf="!hasRole('show_card_number')" [width]="25">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div style="float: left;" *ngIf="hasRole('show_card_image')"><img class="profile-img"
                                src="../../../assets/profile.png" alt="image"> </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Card Number" [width]="180" *ngIf="hasRole('show_card_number')">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div style="float: left;"><img class="profile-img" src="../../../assets/profile.png"
                                alt="image"> </div>
                        <div *ngIf="hasRole('show_card_number')"
                            style="float: left; color: black; margin-top: 3px; margin-left: 5px;">{{row.user.code}}
                        </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Guest Name" [width]="90">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.user.name}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Card Status" [width]="90" *ngIf="hasRole('show_card_status')">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <label *ngIf="!row.user.deleted && !lessThanOrEqualZero(row.user.expired) "
                            class="active-state">Active</label>
                        <label *ngIf="row.user.deleted" class="deleted-state">Deleted</label>
                        <label *ngIf="!row.user.deleted && lessThanOrEqualZero(row.user.expired)"
                            style="color: #1661a3;">Expired</label>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Group" [width]="90" *ngIf="hasRole('show_group')">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.group.name}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="RVC" *ngIf="hasRole('show_revenue_center')" [width]="90">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.revenueCentreName}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Total Payment" [width]="90">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.totalPayment}} {{getCurrency()}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Discount Rate" [width]="90" *ngIf="hasRole('show_discount')">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.discountRate | number : '1.2-2'}} %
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="After Discount" [width]="90" *ngIf="hasRole('show_discount')">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.afterDiscount | number : '1.2-2'}} {{getCurrency()}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Transaction Time" [width]="90">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.transactionDate | date: 'dd/MM/yyyy HH:mm:ss'}}
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </div>

    </div>
    <ngx-spinner></ngx-spinner>
</div>