@import "../../../../assets/scss/syncs.scss";
@import "../../../components/operations/opera-payments/opera-payments.component.scss";

// .deleteBtn{
//     background-color:  #FC544B!important;
//     color: white;
// }

// .deleteBtn:disabled{
//     background-color: darkslategrey;
// }

.config-style{
  
    h3 {
        background-color: #f1f1f1!important;
        font-weight: bolder !important;
        margin-top: 70px !important;
        margin-bottom: 28px !important;
        height: 64px !important;
        color:#f47920;
        border-left: 1px solid;
    }

    ::ng-deep .mat-form-field {
        width: 300px !important;
    }

}

mat-expansion-panel {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 28px;
    margin: 20px;
    margin-bottom: inherit;
}

.filterButton{
    margin-top: 0px;
    width: 100px;
    float:none;
}

.saveButton{
    bottom: 20px;
}

.addButton{
    float: right;
}

.ngx-datatable.scroll-vertical{
    width: 100%;
    border-radius: 28px;
}