/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "../node_modules/@swimlane/ngx-datatable/assets/app.css";
// @import "../node_modules/@swimlane/ngx-datatable/themes/material.css";
// @import "../node_modules/@swimlane/ngx-datatable/assets/icons.css";
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
    background: white;
    color: #424242;
}

.mat-snack-bar-container {
    background: #c62828;
    color: white; 
}

.mat-tab-label,
.mat-tab-link {
    color: #1976d3;
}
.divetable {
    align-items: center;
    height: 20px;
    padding-bottom: 5%;
//    border: 2px solid #5e5b5b;
}
.divetable2 {
    align-items: center;
    height: 15%;
    margin-top: 5%;
 //   border: 2px solid #7a7a7a;
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #1976d3;
}

.mat-tab-body.mat-tab-body-active {
    overflow-y: hidden !important;
}

.mat-tab-body-content {
    overflow: hidden !important;
    padding-bottom: 48px;
}

.my-snack-bar-success {
    background-color: seagreen;
    color: white;
}

.my-snack-bar-fail {
    background-color: rgb(114, 12, 17);
    color: white;
}

select {
    width: 30%;
    height: 30px;
    margin: 5px 0;
    position: absolute;
    left: 150px;
}

.history {
    margin: 5px 0;
    position: absolute;
    font-weight: bold;
    left: 15px;
}

title {
    text-align: center;
    font-weight: bold;
}

mat-card-header {
    background-color: #f2efef!important;
}

h3 {
    background-color: #3F51B5!important;
    padding: 15px;
    font-weight: bolder;
}

button {
    color: white;
    background-color: #3f51b5;
    margin-right: 10px
}

.back {
    text-align: left;
    padding: 4px 16px 4px 16px;
    height: 5vh;
}

.card-back {
    text-align: center;
    padding: 4px 16px 4px 16px;
    height: 5vh;
}

a:hover {
    color: rgb(191, 212, 1);
}

a:visited {
    color: rgb(15, 117, 37);
}

a {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

span.italic {
    font-style: italic;
    color: red;
    font-size: 12px;
}


/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import './assets/scss/variables';
@import "~compass-mixins/lib/compass";
@import "~compass-mixins/lib/animate";
@import "~bootstrap/scss/bootstrap";
@import "./assets/scss/fonts";
@import "./assets/scss/functions";

/* === Icon fonts === */
@import "~ti-icons/css/themify-icons.css";
@import "~@mdi/font/scss/materialdesignicons";
@import "~font-awesome/scss/font-awesome";
@import "~flag-icon-css/sass/flag-icon";
@import "~simple-line-icons/scss/simple-line-icons";


/* === Template mixins === */
@import "./assets/scss/mixins/animation";
@import "./assets/scss/mixins/badges";
@import "./assets/scss/mixins/buttons";
@import "./assets/scss/mixins/misc";
@import "./assets/scss/mixins/color-functions";
@import "./assets/scss/mixins/cards";
@import "./assets/scss/mixins/blockqoute";
@import "./assets/scss/mixins/popovers";
@import "./assets/scss/mixins/tooltips";
@import "./assets/scss/mixins/no-ui-slider";

/* === Core Styles === */
@import "./assets/scss/background";
@import "./assets/scss/typography";
@import "./assets/scss/reset";
@import "./assets/scss/responsive";
@import "./assets/scss/misc";
@import "./assets/scss/utilities";
@import "./assets/scss/demo";
@import "./assets/scss/spinner";

/* === Components === */
@import "./assets/scss/components/forms";
@import "./assets/scss/components/checkbox-radio";
@import "./assets/scss/components/icons";
@import "./assets/scss/components/tables";
@import "./assets/scss/components/accordions";
@import "./assets/scss/components/buttons";
@import "./assets/scss/components/breadcrumbs";
@import "./assets/scss/components/badges";
@import "./assets/scss/components/cards";
@import "./assets/scss/components/preview";
@import "./assets/scss/components/popovers";
@import "./assets/scss/components/lists";
@import "./assets/scss/components/bootstrap-progress";
@import "./assets/scss/components/bootstrap-alerts";
@import "./assets/scss/components/dropdowns";
@import "./assets/scss/components/pagination";
@import "./assets/scss/components/loaders/loaders";
@import "./assets/scss/components/todo-list";

@import "./assets/scss/components/landing-screens/auth";

// /* === Plugin styles === */
// @import "~morris.js/morris.css";
// @import "~chartist/dist/chartist.min.css";
// @import '~dragula/dist/dragula.min.css';
// @import "~nouislider/distribute/nouislider.min.css";
// @import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
// @import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
// @import '~select2/dist/css/select2.min.css';
// @import '~ngx-bar-rating/themes/br-default-theme';
// @import '~ngx-bar-rating/themes/br-bootstrap-theme';
// @import '~ngx-bar-rating/themes/br-fontawesome-theme';
// @import '~ngx-bar-rating/themes/br-fontawesome-o-theme';
// @import '~ngx-bar-rating/themes/br-horizontal-theme';
// @import '~ngx-bar-rating/themes/br-vertical-theme';
// @import '~ngx-bar-rating/themes/br-stars-theme';
// @import '~ngx-bar-rating/themes/br-movie-theme';
// @import '~ngx-bar-rating/themes/br-square-theme';
// @import '~summernote/dist/summernote-lite.css';
// @import '~codemirror/lib/codemirror.css';
// @import '~codemirror/theme/dracula.css';
// @import '~datatables.net-dt/css/jquery.dataTables.css';
// @import '~ngx-toastr/toastr-bs4-alert';
// @import "~@ng-select/ng-select/themes/default.theme.css";

/* === Plugin Overrides === */
@import "./assets/scss/components/plugin-overrides/owl-carousel";
@import "./assets/scss/components/plugin-overrides/select2";
@import "./assets/scss/components/plugin-overrides/toast";

/* === Layout === */
@import "./assets/scss/layout";