/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/@swimlane/ngx-datatable/assets/app.css";
@import "../node_modules/@swimlane/ngx-datatable/themes/material.css";
@import "../node_modules/@swimlane/ngx-datatable/assets/icons.css";

.mat-dialog-container {
  background: white;
  color: #424242;
}

.mat-snack-bar-container {
  background: #c62828;
  color: white;
}

.mat-tab-label,
.mat-tab-link {
  color: #1976d3;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #1976d3;
}

.mat-tab-body.mat-tab-body-active {
  overflow-y: hidden !important;
}

.mat-tab-body-content {
  overflow: hidden !important;
  padding-bottom: 48px;
}

.my-snack-bar-success {
  background-color: seagreen;
  color:white;
}

.my-snack-bar-fail {
  background-color: rgb(114, 12, 17);
  color: white;
}

select {
  width: 30%;
  height: 30px;
  margin: 5px 0;
  position: absolute;
  left: 15px;
}

h3{
  background-color: #3F51B5!important;
  padding: 24px;
  font-weight: bolder;
}

button {
  background-color: #1976d3;
}

a:hover {
  color: blue;
}


a:link {
  color: red;
}

a:visited {
  color: red;
}

