/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "../node_modules/@swimlane/ngx-datatable/assets/app.css";
@import "../node_modules/@swimlane/ngx-datatable/themes/material.css";
@import "../node_modules/@swimlane/ngx-datatable/assets/icons.css";

.mat-dialog-container {
  background: white;
  color: #424242;
}

.mat-snack-bar-container {
  background: #1976d3;
  color: white;
}

.mat-tab-label,
.mat-tab-link {
  color: #1976d3;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #1976d3;
}
