
<div class="main">
    <h3>Sync Jobs Configuration</h3>
<div class="example-container mat-elevation-z8" style="margin: 20px;">

    <div class="main">
      <ngx-datatable *ngIf="!loading" class="material" [rows]="syncJobTypes" [columnMode]="'force'" [headerHeight]="50"
          [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"  [scrollbarH]="true" [sorts]="[{prop: 'Supplier', dir: 'asc'}]">
          <!-- <ngx-datatable-column name="No.">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.index}}
            </ng-template>
        </ngx-datatable-column> -->
          <ngx-datatable-column name="Sync Job Type">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.name}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Schedulers">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-raised-button color="primary" (click)="openschedulerDialog(row)">Scheduler</button>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Settings">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-raised-button color="primary" (click)="openDialog(row)">Settings</button>
              </ng-template>
          </ngx-datatable-column>
  
      </ngx-datatable>
      <ngx-spinner></ngx-spinner>
  </div>