<!-- <div> -->

<nav class="sidebar sidebar-offcanvas active" id="sidebar" >
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="assets/image2vector(1).svg" alt="logo" /></a>
    <a *ngIf="account.imageUrl && account.imageUrl != ''" class="sidebar-brand brand-logo" href="index.html"><img src={{account.imageUrl}} alt="logo" /></a>
    <a *ngIf="!account.imageUrl || account.imageUrl == ''" class="sidebar-brand brand-logo" href="index.html"><img src="assets/images/Anywarelogo.png" alt="logo" /></a>
    <!-- <a class="sidebar-brand brand-logo" href="index.html"><img src="assets/63.svg" alt="logo" /></a> -->
  </div>
  <ul class="nav" #snav>
    <li class="nav-item profile">
      <div class="profile-desc">
        <div class="profile-pic">
          <div class="count-indicator">
            <img class="user-logo img-xs rounded-circle" src="assets/defaultImage.jpg" alt="">
          </div>
          <br>
          <div class="profile-name">
            <h5 *ngIf="user != null" class="mb-0 font-weight-normal" translate>{{user.name}}</h5>
            <span translate>{{account.name}}</span>
            <!-- {{user.name}}  {{account.name}}<-->
          </div>
        </div>
        <!-- <div class="dropdown" ngbDropdown placement="bottom-right">
          <a class="profile-dropdown" id="profile-dropdown" style="text-decoration: none;"><i
              class="mdi mdi-dots-vertical" ngbDropdownToggle></i></a>
          <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" ngbDropdownMenu
            aria-labelledby="profile-dropdown">
            <a href="#" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon rounded-circle">
                  <i class="mdi mdi-wrench text-primary"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small" translate>Account settings</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon rounded-circle" >
                  <i class="mdi mdi-onepassword  text-info"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small" translate>Change Password</p>
              </div>
            </a>
             <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-calendar-today text-success"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small" translate>To-do list</p>
                </div>
              </a> 
          </div>
        </div> -->
      </div>
    </li>

    <div class="card" [ngStyle]="props" style="margin: 5px;" *ngIf="tipOpend">
      <div class="card-body">
        <h4 class="card-title text-danger">
          <i class="mdi mdi-arrow-right-bold arrowIcone" (click)="colspandTip()"> </i>
          Today's Tips
          <span>
            <i class="mdi mdi-close-octagon closeIcone" (click)="closeTip()"> </i>
          </span>
        </h4>
        <div class="row" *ngIf="tripDowncolspand">
          <span style="color: black; font-size: large;" translate>Do you know </span>
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            that you can export your files on
            Google Drive ?
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="icon-lg mdi mdi-folder-google-drive text-success ml-auto"></i>
          </div>
        </div>
      </div>
    </div>

    <br> <!--'see_support'-->
    <div class="supprot-field" *ngIf="hasRole('see_support')">
      <div class="nav-item">
        <a class="nav-link" href="javascript:void(Tawk_API.toggle())" aria-controls="ui-basic">
          <span class="menu-icon">
            <i class="mdi mdi-headset"></i>
          </span>
          <span class="menu-title supprot-field" translate>We are here to help</span>
        </a>
      </div>
    </div>
    <br>
    <!-- *ngIf=" hasRole('see_syncs') || hasRole('see_applications') ||  hasRole('see_reports') || hasRole('see_operations') || hasRole('see_settings')" -->
    <li class="nav-item nav-category" *ngIf="hasFeature('main_feature')">
      <span class="nav-link" translate>Main Menu</span>
    </li>
    <li class="nav-item menu-items" [ngClass]="{'active' : uiBasicCollapsed }" *ngIf="hasFeature('sync_jobs') && hasRole('see_syncs') && syncJobTypes.length > 0">
      <a class="nav-link" (click)="titleOpened('uiBasicCollapsed');" [attr.aria-expanded]="uiBasicCollapsed"
        aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-cloud-sync"></i>
        </span>
        <span class="menu-title" translate>Sync Job Types</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!uiBasicCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" *ngFor="let type of syncJobTypes"> <a class="nav-link" routerLink="/main/{{type.endPoint}}" 
              routerLinkActive="active" translate>{{type.name}}</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item menu-items" [ngClass]="{ 'active' : uiBasicCollapsed }"
      *ngIf="hasRole('see_support')">
      <a class="nav-link" (click)="titleOpened('uiBasicCollapsed');" [attr.aria-expanded]="uiBasicCollapsed"
        aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-cloud-sync"></i>
        </span>
        <span class="menu-title" translate>Reports</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!uiBasicCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> 
            <a class="nav-link" routerLink="/main/support" routerLinkActive="active" translate>Reports Generator</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item menu-items" [ngClass]="{ 'active' : appBasicCollapsed }" *ngIf="hasFeature('applications') && hasRole('see_applications') && applications.length > 0">
      <a class="nav-link" (click)=" titleOpened('appBasicCollapsed');" [attr.aria-expanded]="uiBasicCollapsed"
        aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-arrange-send-backward"></i>
        </span>
        <span class="menu-title" translate>Applications</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!appBasicCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" *ngIf="hasFeature('loyalty')">
             <a class="nav-link" routerLink="/loyalty" routerLinkActive="active" translate>Loyalty</a>
          </li>
          <li class="nav-item" *ngIf="hasFeature('entry_system') && !hasFeature('loyalty')">
             <a class="nav-link" routerLink="/entrySystem" routerLinkActive="active" translate>Entry System</a>
          </li>
          <li class="nav-item" *ngIf="hasFeature('reward_points')">
            <a class="nav-link" routerLink="/rewardPoints" routerLinkActive="active" translate>Reward Points</a>
         </li>
          <li class="nav-item" *ngIf="hasFeature('redeem_voucher')">
            <a class="nav-link" routerLink="/main/redeemVoucher" routerLinkActive="active" translate>Redeem Voucher</a>
         </li>

          <!-- <li class="nav-item" *ngFor="let application of applications"> <a class="nav-link"
              routerLink={{application.endPoint}} routerLinkActive="active" translate>{{application.name}}</a></li> -->
        </ul>
      </div>
    </li>

    <li class="nav-item menu-items" [ngClass]="{ 'active' : repBasicCollapsed }" *ngIf="hasRole('see_reports')" >
      <a class="nav-link" (click)=" titleOpened('repBasicCollapsed');" [attr.aria-expanded]="repBasicCollapsed"
        aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-newspaper"></i>
        </span>
        <span class="menu-title" translate>Reports</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!repBasicCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" *ngIf="hasRole('booking_report')"> <a class="nav-link" routerLink="/main/operaBookingDashboard" routerLinkActive="active"
              translate>Booking Report</a></li>
          <li class="nav-item" *ngIf="hasRole('revenue_by_agent_report')"> <a class="nav-link" routerLink="/main/revenueByAgent" routerLinkActive="active"
              translate>Revenue by Agent</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item menu-items" [ngClass]="{ 'active' : opeBasicCollapsed }" *ngIf="hasRole('see_operations') && operationTypes.length > 0">
      <a class="nav-link" (click)="titleOpened('opeBasicCollapsed');" [attr.aria-expanded]="opeBasicCollapsed"
        aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-wan"></i>
        </span>
        <span class="menu-title" translate>Operations</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!opeBasicCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" *ngFor="let operation of operationTypes"> <a class="nav-link"
              routerLink={{operation.endPoint}} routerLinkActive="active" #dropdowns="routerLinkActive"
              translate>{{operation.name}}</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item menu-items" [ngClass]="{ 'active' : setBasicCollapsed }" *ngIf="hasRole('see_settings')">
      <a class="nav-link" (click)="titleOpened('setBasicCollapsed');" [attr.aria-expanded]="setBasicCollapsed"
        aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-wrench"></i>
        </span>
        <span class="menu-title" translate>Settings</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!setBasicCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" *ngIf="hasRole('see_syncs_config')"><a class="nav-link settingLink" routerLink="/main/syncjobs"
              *ngIf="syncJobTypes.length > 0">Sync Configuration</a> </li>
          <li class="nav-item" *ngIf="hasRole('see_oper_config')"><a class="nav-link" routerLink="/main/operationTypesConfiguration">Operation Configuration</a>
          </li>
          <li class="nav-item" *ngIf="hasRole('see_cost_mapping')"><a class="nav-link" routerLink="/main/costCenterAccountMapping">Costcenter Mapping</a></li>
          <li class="nav-item" *ngIf="hasRole('see_sup_mapping')"><a class="nav-link" routerLink="/main/suppliersMapping">Suppliers Mapping</a></li>
          <li class="nav-item" *ngIf="hasRole('see_groups_mapping')"><a class="nav-link" routerLink="/main/includedOverGroups">Included Groups</a> </li>
          <li class="nav-item" *ngIf="hasRole('see_opera_mapping')"><a class="nav-link" routerLink="/main/operaReportMapTables">Opera Mapping</a> </li>
          <li class="nav-item" *ngIf="hasRole('see_locationMapping')"><a class="nav-link" routerLink="/main/costCenterLocationMapping">Location Mapping</a> </li>
          <li class="nav-item" *ngIf="hasRole('see_simphony_discountmapping')"><a class="nav-link" routerLink="/main/simphonyDiscountMaping">Discount Mapping</a> </li>
          <li class="nav-item" *ngIf="hasRole('reward_points_settings')"><a class="nav-link" routerLink="/main/rewardPointsSettings">Points Settings</a>
          <li class="nav-item" *ngIf="hasRole('see_general_setting')"><a class="nav-link" routerLink="/main/setting">General Settings</a>
            <li class="nav-item" *ngIf="hasRole('see_pos_mapping')"><a class="nav-link" routerLink="/main/posMachinMapping">PAX Mapping</a>
            </li>
          <li class="nav-item" *ngIf="hasRole('manage_invokers')"><a class="nav-link" routerLink="/main/webServiceInvokers">Manage Invokers</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category" *ngIf="hasRole('see_user_pages')">
      <span class="nav-link" translate>More</span>
    </li>
    <li class="nav-item menu-items" [ngClass]="{ 'active' : userPagesCollapsed }" *ngIf="hasRole('see_user_pages')">
      <a class="nav-link" (click)="titleOpened('userPagesCollapsed');" [attr.aria-expanded]="userPagesCollapsed"
        aria-controls="auth">
        <span class="menu-icon">
          <i class="mdi mdi-security"></i>
        </span>
        <span class="menu-title" translate>User Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth" [ngbCollapse]="!userPagesCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" routerLink="/main/users">Users</a></li>
        </ul>
      </div>
    </li>
    <br><br>
    <!-- <li class="nav-item tips-field" [ngClass]="{ 'active' : tipPagesCollapsed }" style="margin-right: 10px;">
        <a class="nav-link tip-link" (click)="tipPagesCollapsed = !tipPagesCollapsed"  [attr.aria-expanded]="tipPagesCollapsed" aria-controls="auth">
          <span class="menu-icon">
            <i class="mdi mdi-arrow-right-bold-circle"></i>
          </span>
          <span class="menu-title" translate>Today’s Tip</span>
          <img class="user-logo img-xs rounded-circle" style="padding-left: 10px;" src="assets/images/faces/face15.jpg" alt="">

        </a>
        <div class="collapse" id="auth" [ngbCollapse]="!tipPagesCollapsed">
          <ul class="nav flex-column sub-menu">
            <span class="menu-title" style="color: black; font-size: large;"translate>Do you know </span>
            <br>
            that you can export your files on 
            Google Drive ?
          </ul>
        </div>
      </li>       <br><br> 
     <li class="menu-items tips-field" [ngClass]="{ 'active' : tipPagesCollapsed }">
        <a class="nav-link" (click)="tipPagesCollapsed = !tipPagesCollapsed"  [attr.aria-expanded]="tipPagesCollapsed" aria-controls="auth">
          
          <span class="menu-icon">

          <i class="mdi mdi-arrow-right-bold-circle"></i>

        </span>

          <span class="menu-title"  translate>Today’s Tip</span>
        </a>
        <div class="collapse tip" id="auth" [ngbCollapse]="!tipPagesCollapsed">
          <ul class="nav flex-column sub-menu">
            Do you know 
            <br>
            that you can export your files on 
            Google Drive ?
        </ul>
        </div>
      </li> -->

    <div class="card" [ngStyle]="props" *ngIf="tripDownOpend">
      <div class="card-body">
        <h4 class="card-title text-danger">
          <i class="mdi mdi-arrow-right-bold arrowIcone" (click)="colspandTip()">
            <span>Today's Tips</span>
          </i>
          <span>
            <i class="mdi mdi-close-octagon closeIcone" (click)="closeTip()"> </i>
          </span>
        </h4>
        <div class="row" *ngIf="!tripDowncolspand">
          <span style="color: black; font-size: larger; padding-bottom: 5px;font-weight: bolder;
            font-size: 20px;" translate>Do you know! </span>
          <div class="col-8 col-sm-12 col-xl-8 my-auto" style="text-align: center; font-size: 17px;
            font-weight: medium;">
            that you can export your files on
            Google Drive ?
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="icon-lg mdi mdi-folder-google-drive text-success ml-auto"></i>
          </div>
          <a style="color: blue; text-decoration: underline; font-size: small; text-align: left; cursor: pointer;"
            href="#">Learn More
            <i class="mdi mdi-arrow-top-right"> </i>
          </a>
        </div>
      </div>
    </div>
  </ul>
</nav>