<h1 mat-dialog-title class="welcomeing">
    <span class="hi">Hi,</span> {{user.name}}

    <p style="margin-top: 10px" *ngIf="!exportFlag"> 
        Please select the date range and stores for the chosen modules and they will be exported and sent directly to your mail. 
    </p>
</h1>
<div class="card">
    <div class="row" *ngIf="!exportFlag">
        <div class="col forms">
            <form [formGroup]="form" class="my-form">
                <div class="form-group labeldiv">
                    <span class="labelTitle">Choose a date range:</span>
                </div>
                <div class="row" style="padding: 0 !important;">
                    <div class="form-group" style="max-width: 50%;">
                        <mat-form-field class="dateBacker" appearance="outline">
                            <input matInput placeholder="Start Date" type="date" name="startDate" id="startDate" formControlName="startDate">
                            <mat-error *ngIf="form.controls.startDate.hasError('required')">
                                Pick start date.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group" style="max-width: 50%;">
                        <mat-form-field class="dateBacker" appearance="outline">
                            <input matInput placeholder="End Date" type="date" name="endDate" id="endDate" formControlName="endDate"
                            min={{form.controls.startDate.value}}>
                            <mat-error *ngIf="form.controls.endDate.hasError('required')">
                                Pick end date.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="form-group labeldiv">
                    <span class="labelTitle">Stores:</span>
                </div>
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-select multiple #myStores required class="form-controls" id="store" placeholder="Store" formControlName="store">
                            <mat-option [value]="0" (click)="toggleAllStoresSelection()">All</mat-option>
                            <mat-option [value]="loc" *ngFor="let loc of locationData">{{loc.locationName}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.store.hasError('required')">
                            It is necessary to choose one store at least.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group labeldiv">
                    <span class="labelTitle">Modules:</span>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-select multiple #myModule required class="form-controls" id="modules" placeholder="Module" formControlName="module">
                            <mat-option [value]="0" (click)="toggleAllSelection()">All</mat-option>
                            <mat-option [value]="sync" *ngFor="let sync of syncJobsTypesData">{{sync.name}}</mat-option>
                       </mat-select>
                        <mat-error *ngIf="form.controls.module.hasError('required')">
                            It is necessary to choose one module at least.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group labeldiv">
                    <span class="labelTitle">Email:</span>
                </div>
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="user@example.com" formControlName="email" required>
                        <mat-error *ngIf="form.controls.email.hasError('pattern')">
                            Please enter a valid email address.
                        </mat-error>
                        <mat-error *ngIf="form.controls.email.hasError('required')">
                            Email is required.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div mat-dialog-actions>
                    <button class="btn btn-warning" style="margin-top: 20px;" (click)="onExportClick()">Export</button>
                </div>
            </form>
        </div>
        <ngx-spinner></ngx-spinner>
    </div>

    <div class="row" *ngIf="exportFlag" style="display:flex;justify-content:center;align-items:center;">
        <img class="user-img" src="../../../assets/report-icon.png" alt="image" style="max-width: 150px;">
        <p style="text-align: center;margin-top: 15px;">
            Your request to export modules is received successfully, <br>
            The reports are being processed and will be sent directly to your mail.
        </p>
    </div>
</div>