<div class="dialog-body">

    <span mat-dialog-title>New Group</span>

    <div mat-dialog-content style="text-align: center;">
        <form [formGroup]="form" class="my-form">
            
                <mat-form-field class="example-full-width creditForm" appearance="outline">
                    <input matInput placeholder="Name" formControlName="name" required maxlength="25">
                    <mat-error *ngIf="form.controls.name.hasError('required')">
                        Name is required.
                    </mat-error>
                    <mat-error *ngIf="form.controls.name.hasError('maxlength')">
                        Name is to long.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width creditForm" appearance="outline">
                    <input matInput placeholder="Description" formControlName="description" maxlength="50">
                </mat-form-field>

                <mat-form-field class="example-full-width creditForm" appearance="outline" *ngIf="hasFeature('loyalty') || hasFeature('canteen')">
                    <mat-select matInput id="discountId" name="discountId" [value]="slectedDiscount"
                        placeholder="Simphony Discount Id" formControlName="discountId">
                        <mat-option></mat-option>
                        <mat-option [value]=discountRate.discountId *ngFor="let discountRate of discountRates">
                            {{discountRate.discountId}} - {{discountRate.discountRate}}%</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width creditForm" appearance="outline" *ngIf="groups && groups.length!=0 && data.inParent && !groupsLoader">
                    <mat-select matInput id="groups" name="groups" placeholder="Parent Group"
                        formControlName="parentGroup">
                        <mat-option></mat-option>
                        <mat-option [value]=c *ngFor="let c of groups">{{c.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

            <div style="padding-top: 1%;text-align: center;">
                    <input #csvInput hidden="true" type="file" onclick="this.value=null"
                        (change)="csvInputChange($event)" accept="image/*" formControlName="image"/>
                    <button class="form-button" mat-flat-button color="primary" (click)="csvInput.click()">
                        <img class="form-b-img" src="../../../assets/photos.png">
                        Choose Image</button>
                    <div [hidden]="!imageUploded">Image uploaded successfully.</div>
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button cdkFocusInitial (click)="onSaveClick()" class="groups-buttons">
            <label [hidden]="inUpdate">Save</label>
            <label [hidden]="!inUpdate">Update</label>
        </button>
        <button mat-button (click)="onNoClick()" class="groups-buttons">Cancel</button>
    </div>

</div>