<h1 mat-dialog-title>New Sub-Group</h1>

<div mat-dialog-content>
    <form [formGroup]="form" class="my-form">
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Description" formControlName="description">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Discount Rate" formControlName="discountRate">
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="onSaveClick()" >Save</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
</div>