<h1 mat-dialog-title>New Group</h1>

<div mat-dialog-content>
    <form [formGroup]="form" class="my-form">
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" formControlName="name" required maxlength="25">
                <mat-error *ngIf="form.controls.name.hasError('required')">
                    Name is required.
                  </mat-error>
                  <mat-error *ngIf="form.controls.name.hasError('maxlength')">
                    Name is to long.
                  </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Description" formControlName="description">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-select matInput id="discountId" name="discountId" placeholder="Simphony Discount Id" formControlName="discountId">
                    <mat-option [value]=discountRate *ngFor="let discountRate of discountRates">{{discountRate.discountId}} - {{discountRate.discountRate}}%</mat-option>
                    </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="groups && groups.length!=0 && data.inParent" class="form-group">
            <mat-form-field class="example-full-width">
                <mat-select matInput id="groups" name="groups" placeholder="Parent Group" formControlName="parentGroup">
                    <mat-option></mat-option>
                    <mat-option [value]=c *ngFor="let c of groups">{{c.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group" style="padding-top: 5%;">
            <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="csvInputChange($event)" accept="image/*" />
            <button class="form-button" mat-flat-button color="primary" (click)="csvInput.click()" >
                <img class="form-b-img" src="../../../assets/photos.png">
                Choose Image</button>
            <div [hidden]="!imageUploded">Image uploaded successfully.</div>
         </div>

    </form>
</div>
<div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="onSaveClick()" >Save</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
</div>