<div class="schedualer_view">
    <h1 mat-dialog-title>Foodics Account Token</h1>
    <div mat-dialog-content>
        <div class="container">
            <!-- <form class="my-form">
                <div>
                    <mat-form-field>
                        <label>your generated token</label>
                        <textarea  matInput id="chargeAmount" name="chargeAmount" placeholder="access token" [(ngModel)]="this.data.token" rows="10"></textarea>
                    </mat-form-field>
                </div>
            </form> -->
            <h5>your foodics account access token was generated and saved successfully !</h5>
        </div>
    </div>
    <div mat-dialog-actions class="btns">
        <button mat-button class="groups-buttons" (click)="onOkClick()">Ok</button>
    </div>
</div>